@{
	ViewBag.Title = "Index";

}

<!-- navigation -->
<!-- Static navbar -->
<div class="row row-offcanvas row-offcanvas-right" ng-controller="HeaderCtrl" id="top">
	<div class= "visible-sm visible-md visible-lg navbar navbar-default main-navbar" role="navigation">
		<section class="main-navigation-home">
			<div class="container">
				<a href="#/" class="navbar-brand visible-md visible-lg">
					<img class="img-resonsive" src="~/Content/Images/Logos/CremeLogo.jpg" alt="Le Beau Visage" width="225px" style="margin-top:-20px" />
				</a>
				<div id="nav-elements">

					<ul class="nav navbar-nav pull-left visible-sm">
						<li><a href="#/" class="navbar-brand">Le Beau Visage</a></li>
					</ul>
					<ul class="list-inline top-social pull-right">
						<li><a href="http://www.facebook.com/pages/Le-Beau-Visage-Med-Spa/130922822976?ref=ts"><i class="fa fa-facebook"></i></a></li>
						<li><a href="https://twitter.com/LeBeauVisage"><i class="fa fa-twitter"></i></a></li>
						<li><a href="http://www.youtube.com/user/LeBeauVisageMedicalS"><i class="fa fa-youtube-play"></i></a></li>
						<li><a href="https://www.linkedin.com/pub/jason-riehs/80/59a/4a5"><i class="fa fa-linkedin"></i></a></li>
					</ul><br /><br />
					<ul class="nav navbar-nav pull-right" id="main-navigation">
						<li><a href="#/">Home</a></li>
						<li>
							<a href="#/About">About</a>
							<!--@*<a data-toggle="dropdown" class="dropdown-toggle">About<i class="fa fa-chevron-down"></i></a>
			<ul class="dropdown-menu" id="about-dropdown">
				<li>
					<div class="yamm-content yamm-about-content">
						<div class="row">
							<div class="col-sm-12">
								<div class="col-sm-12">
									<h3 class="heading">Dr. Riehs</h3>
									<p>
										Meet the Owner and Full-time, On-site Physician of Le Beau Visage Medical Spa.
										<a href="#/About" class="pull-right">Read More</a>
									</p>
									<div class="divide20"></div>
								</div>
								<div class="divide10"></div>
								<div class="col-sm-12">
									<h3 class="heading">Sections</h3>
									<p></p>
									<ul class="nav mega-vertical-nav">
										<li><a href="#/Team">Meet the Team</a></li>
										<li><a href="#/Locations">Locations</a></li>
										<li><a href="#/Stories">Testimonials</a></li>
										<li><a href="#/Videos">Videos</a></li>
									</ul>
								</div>
							</div>
						</div>

					</div>
				</li>
			</ul>*@-->
						</li>
						<li><a href="#/Market">Market</a></li>
						<li><a href="#/Treatments">TREATMENTS</a></li>
						<!-- Market
								@*<li class="dropdown yamm-fw">
									<a data-toggle="dropdown" class="dropdown-toggle">Market <i class="fa fa-chevron-down"></i></a>
									<ul class="dropdown-menu">
										<li>
										<div class="yamm-content">
											<div class="row">
												<div class="col-sm-12">
													<div class="col-sm-3">
														<h3 class="heading">Shopping Cart</h3>
														<p></p>
														<ul ng-show="HasItems">
															<li>Item</li>
															<li>Item 2</li>
															<li>More...</li>
														</ul>
														<a href="#/Market/Cart" ng-show="HasItems" class="btn btn-theme-dark">View Cart <i class="fa fa-shopping-cart"></i></a>

														<div class="divide10"></div>
														<a href="#/Market" ng-show="!HasItems">Shop Now <i class="fa fa-shopping-cart"></i></a>
													</div>
													<div class="col-sm-6">
														<h3 class="heading">Featured Items</h3>
														<p>
															Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Cras justo odio, dapibus ac facilisis in, egestas eget quam
														</p>
													</div>
													<div class="col-sm-3">
														<h3 class="heading">Categories</h3>
														<ul class="nav mega-vertical-nav">
															<li><a href="#/Market/Special/GiftCards">Gift Cards</a></li>
															<li><a href="#/Market">Skin Care</a></li>
														</ul>
													</div>

													<a href="#/Market" class="btn btn-block btn-theme-dark clear">Go To The Market</a>
												</div>
											</div>

										</div>
									</li>
								</ul>
							</li>*@
						-->
						<li><a href="#/Stories">Patient Stories</a></li>
						<li><a href="#/Resources">Resources</a></li>
						<li><a href="#/Contact">CONTACT US</a></li>
						<li ng-show="HasItems">
							<a href="#/Market/Cart">View Cart <span class="pull-right"> <i class="fa fa-shopping-cart fa-2x"></i><span class="badge">{{ShoppingCart.length}}</span></span></a>
						</li>
					</ul>

				</div>

				<div class="clear col-sm-3 header-side">
					<ul class="nav nav-pills nav-stacked visible-md visible-lg">
						<li><a href="http://lebeauvisagemedspa.com/expo/">Cosmetic Expo</a></li>
						<li><a href="#/Team">Meet the Team</a></li>
						<li>
							<a href="#/Gallery">PHOTO GALLERY</a>
						</li>


						<li><a href="#/Special/Monthly">Monthly Specials</a></li>
						
						<li class="phone-number">Phone: +1.214.705.7676</li>
						
					</ul>
				</div>

			</div>
		</section>

	</div>
	<div class="visible-xs">
		<div class="navbar navbar-default navbar-fixed-top" role="navigation" ng-hide="SideOpen">
			<div class="container">
				<div class="navbar-header">
					<a class="pull-right" ng-click="UpdateSO()">
						<i class="fa fa-bars fa-2x" ng-show="!SideOpen" style="margin-right: 25px;"></i>
					</a>
					<a class="text-navbar-brand" href="#/" title="LeBeau Visage">Le Beau Visage</a>
					<a class="pull-left sitemap-navbar-brand" href="#/SiteMap" title="Site Map"><i class="fa fa-ellipsis-h fa-2x"></i></a>
				</div>
			</div>
		</div>
		<div class="col-xs-6 col-sm-3 sidebar-offcanvas showhide navbar-collapse" id="sidebar" role="navigation" style="">
			<div id="sidebar-inner">
				<ul class="nav navbar-nav side-nav">
					<li ng-click="UpdateSO()"><a>Close <i class="fa fa-remove fa-2x"></i></a></li>
					<li class="nav-title">
						<a href="#/"><img src="../../Content/Images/Logos/LBVword_C4.png" alt="" width="75%" /></a>
						<hr />
					</li>
					<li ng-click="SetNav('Home')">
						<div class="pull-left arrow-right" ng-show="HomeActive"></div>
						<a href="#/" class="selected-nav" ng-show="HomeActive">HOME <i class="fa fa-home"></i></a>

						<a href="#/" ng-show="!HomeActive">HOME <i class="fa fa-home"></i></a>
					</li>

					<li ng-click="SetNav('About')">
						<div class="pull-left arrow-right" ng-show="AboutActive"></div>
						<a href="#/About" class="selected-nav" ng-show="AboutActive">DR RIEHS <i class="fa fa-male"></i></a>

						<a href="#/About" ng-show="!AboutActive">DR RIEHS <i class="fa fa-male"></i></a>
					</li>

					@*<li ng-click="SetNav('Market')">
							<div class="pull-left arrow-right" ng-show="MarketActive"></div>
							<a href="#/Market" class="selected-nav" ng-show="MarketActive">MARKET <i class="fa fa-gift"></i></a>

							<a href="#/Market" ng-show="!MarketActive">MARKET <i class="fa fa-gift"></i></a>
						</li>*@

					<li ng-click="SetNav('Cart')" ng-show="HasItems">
						<div class="pull-left arrow-right" ng-show="CartActive"></div>
						<a href="#/Market/Cart" class="selected-nav" ng-show="CartActive">Shopping Cart <i class="fa fa-shopping-cart fa"></i></a>

						<a href="#/Market/Cart" ng-show="!CartActive">Shopping Cart <i class="fa fa-shopping-cart fa"></i></a>
					</li>

					<li ng-click="SetNav('Treatment')">
						<div class="pull-left arrow-right" ng-show="TreatmentActive"></div>
						<a href="#/Treatments" class="selected-nav" ng-show="TreatmentActive">TREATMENTS <i class="fa fa-eyedropper"></i></a>

						<a href="#/Treatments" ng-show="!TreatmentActive">TREATMENTS <i class="fa fa-eyedropper"></i></a>
					</li>


					<li ng-click="SetNav('Gallery')">
						<div class="pull-left arrow-right" ng-show="GalleryActive"></div>
						<a href="#/Gallery" class="selected-nav" ng-show="GalleryActive">PHOTO GALLERY <i class="fa fa-file-image-o"></i></a>

						<a href="#/Gallery" ng-show="!GalleryActive">PHOTO GALLERY <i class="fa fa-file-image-o"></i></a>
					</li>

					<li ng-click="SetNav('Resource')">
						<div class="pull-left arrow-right" ng-show="ResourceActive"></div>
						<a href="#/Resources" class="selected-nav" ng-show="ResourceActive">Resources <i class="fa fa-newspaper-o"></i></a>

						<a href="#/Resources" ng-show="!ResourceActive">Resources <i class="fa fa-newspaper-o"></i></a>
					</li>

					<li ng-click="SetNav('Contact')">
						<div class="pull-left arrow-right" ng-show="ContactActive"></div>
						<a href="#/Contact" class="selected-nav" ng-show="ContactActive">CONTACT US <i class="fa fa-phone-square"></i></a>

						<a href="#/Contact" ng-show="!ContactActive">CONTACT US <i class="fa fa-phone-square"></i></a>
					</li>

					<li ng-click="SetNav('SiteMap')" class="sitemap">
						<a href="#/SiteMap" id="site-map-link">Site Map <i class="fa fa-sitemap"></i></a>
					</li>

				</ul>
			</div>
		</div>
	</div>

	<div class="divide70"></div>

	<div class="alert-success alert container" ng-show="IsAlertVisible">
		<button type="button" class="close" ng-click="IsAlertVisible = false">×</button>
		Item Successfully added!!!
	</div>
	<div class="ng-view" autoscroll></div>

	<footer id="footer-option">
		<div class="container ">

			<div class="row visible-md visible-lg">
				<div class="col-md-4 margin20">
					<div class="footer-col">
						<h3 class="footer-heading">About Le Beau Visage</h3>
						<p>
							Le Beau Visage Aesthetic Center is one of the top rated Medical Aesthetic Facilities in North Texas! Allow our clinical experts to enhance and tranform your image!
						</p>
					</div>
				</div><!--footer col-->
				<div class="col-md-4 margin20">
					<div class="footer-col">
						<h3>Contact</h3>

						<ul class="list-unstyled contact">
							<li><p><strong><i class="fa fa-map-marker"></i> Address:</strong> 3685 Preston Road, Suite 129<br />Frisco, Texas 75034</p></li>
							<li><p><strong><i class="fa fa-envelope"></i> Mail Us:</strong> <a href="mailto:info@lebeauvisagemedspa.com" class="email-link">info@lebeauvisagemedspa.com</a></p></li>
							<li> <p><strong><i class="fa fa-mobile"></i> Phone:</strong> +214 705 7676</p></li>
							<li> <p><strong><i class="fa fa-phone"></i> Toll:</strong> +1 866 54 BOTOX (26869)</p></li>
						</ul>
					</div>
				</div><!--footer col-->
				<div class="col-md-4 margin20">
					<div class="footer-col">
						<h3><a href="#/SiteMap">SiteMap</a></h3>
						<h3><a href="/Admin">Admin Login</a></h3>
					</div>
				</div><!--footer col-->

			</div>
			<div class="row">
				<div class="col-md-12 text-center">
					<ul class="list-inline social-1">
						<li><a href="http://www.facebook.com/pages/Le-Beau-Visage-Med-Spa/130922822976?ref=ts"><i class="fa fa-facebook"></i></a></li>
						<li><a href="https://twitter.com/LeBeauVisage"><i class="fa fa-twitter"></i></a></li>
						<li><a href="http://www.youtube.com/user/LeBeauVisageMedicalS"><i class="fa fa-youtube-play"></i></a></li>
						<li><a href="https://www.linkedin.com/pub/jason-riehs/80/59a/4a5"><i class="fa fa-linkedin"></i></a></li>
					</ul>
					<div class="footer-btm">
						<span><h5><a href="http://ACreativeJones.com" id="CreativeJones">©@DateTime.Now.Year. Designed and Developed by ACreativeJones</a></h5></span>
					</div>
				</div>
			</div>
		</div>
	</footer>

	<nav class="navbar navbar-default navbar-fixed-bottom" id="scroller">
		<div class="container">
			<div class="pull-right">
				<ul class="list-inline">
					<li ng-click="GoToTop()"><a href=""><i class="fa fa-arrow-circle-up fa-2x"></i> Top</a></li>
				</ul>
			</div><!--top bar end hidden in small devices-->


			<ul id="ticker01" class="newsticker pull-left">
				<li ng-repeat="message in Messages">
					<span>{{message.Dates}}</span><a href="{{message.Url}}">{{message.Message}}</a>
				</li>
			</ul>
		</div>
	</nav>
</div>
@section Scripts {
	@Scripts.Render("~/bundles/angularcore")
	@Scripts.Render("~/bundles/angularplugins")
	@Scripts.Render("~/bundles/VisageApp")
	@Scripts.Render("~/bundle/ThemeScripts")
	<script src="~/Scripts/custom/scripts/li-scroller-starter.js"></script>
	<script src="~/Scripts/custom/scripts/navBar.js"></script>
	<script src="~/Scripts/custom/google-map/HomeMap.js"></script>
	<script src="~/Scripts/Plugins/YouTubeMenu/ytmenu.js"></script>
}
