@{
	ViewBag.Title = "Index";

}

<!-- navigation -->
<!-- Static navbar -->
<div class="row row-offcanvas row-offcanvas-right" ng-controller="HeaderCtrl" id="top">
	<div class="visible-sm visible-md visible-lg navbar navbar-default main-navbar" role="navigation">
		<section class="main-navigation-home">
			<div class="container">
				<a href="#/" class="navbar-brand visible-md visible-lg">
					<img class="img-resonsive" src="~/Content/Images/Logos/CremeLogo.jpg" alt="Le Beau Visage" width="225px" style="margin-top:-20px" />
				</a>
				<div id="nav-elements">

					<ul class="nav navbar-nav pull-left visible-sm">
						<li><a href="#/" class="navbar-brand">Le Beau Visage</a></li>
					</ul>
					<ul class="list-inline top-social pull-right">
						<li><a href="http://www.facebook.com/pages/Le-Beau-Visage-Med-Spa/130922822976?ref=ts"><i class="fa fa-facebook"></i></a></li>
						<li><a href="https://twitter.com/LeBeauVisage"><i class="fa fa-twitter"></i></a></li>
						<li><a href="http://www.youtube.com/user/LeBeauVisageMedicalS"><i class="fa fa-youtube-play"></i></a></li>
						<li><a href="https://www.linkedin.com/pub/jason-riehs/80/59a/4a5"><i class="fa fa-linkedin"></i></a></li>
					</ul><br /><br />
					<ul class="nav navbar-nav pull-right" id="main-navigation">
						<li><a href="#/">Home</a></li>
						<li><a href="#/About">About</a></li>
						<li><a href="#/Market">Market</a></li>
						<li><a href="#/Treatments">TREATMENTS</a></li>
						<li><a href="#/Stories">Patient Stories</a></li>
						<li><a href="#/Resources">Resources</a></li>
						<li><a href="#/Contact">CONTACT US</a></li>
						<li><a href="#search"><i class="fa fa-search"></i> Search</a></li>
					</ul>

				</div>

				<div class="clear col-sm-3 header-side">
					<ul class="nav nav-pills nav-stacked visible-md visible-lg">
						<li><a href="http://lebeauvisagemedspa.com/expo/">Cosmetic Expo</a></li>
						<li><a href="#/Team">Meet the Team</a></li>
						<li>
							<a href="#/Gallery">PHOTO GALLERY</a>
						</li>


						<li><a href="#/Special/Monthly">Monthly Specials</a></li>

						<li class="phone-number">Phone: +1.214.705.7676</li>

					</ul>
				</div>

			</div>
		</section>

	</div>
	<div class="visible-xs">
		<div class="navbar navbar-default navbar-fixed-top" role="navigation" ng-hide="SideOpen">
			<div class="container">
				<div class="navbar-header">
					<a class="pull-right" ng-click="UpdateSO()">
						<i class="fa fa-bars fa-2x" ng-show="!SideOpen" style="margin-right: 25px;"></i>
					</a>
					<a class="text-navbar-brand" href="#/" title="LeBeau Visage">Le Beau Visage</a>
					<a class="pull-left sitemap-navbar-brand" href="#/SiteMap" title="Site Map"><i class="fa fa-ellipsis-h fa-2x"></i></a>
				</div>
			</div>
		</div>
		<div class="col-xs-6 col-sm-3 sidebar-offcanvas showhide navbar-collapse" id="sidebar" role="navigation" style="">
			<div id="sidebar-inner">
				<ul class="nav navbar-nav side-nav">
					<li ng-click="UpdateSO()"><a>Close <i class="fa fa-remove fa-2x"></i></a></li>

					<li class="nav-title">
						<a href="#/"><img src="../../Content/Images/Logos/LBVword_C4.png" alt="" width="75%" /></a>
						<hr/>
					</li>
					<li ng-click="SetNav(navItem.Name)" ng-repeat="navItem in Navs | orderBy: naviItem.OrderNumber">
						<div class="pull-left arrow-right" ng-show="navItem.IsActive"></div>
						<a href="{{navItem.Link}}" class="selected-nav" ng-show="navItem.IsActive">{{navItem.Name}} <i class="fa {{navItem.Icon}}"></i></a>

						<a href="{{navItem.Link}}" ng-show="!navItem.IsActive">{{navItem.Name}} <i class="fa {{navItem.Icon}}"></i></a>
					</li>

					<li ng-click="SetNav('SiteMap')" class="sitemap">
						<a href="#/SiteMap" id="site-map-link">Site Map <i class="fa fa-sitemap"></i></a>
					</li>

				</ul>
			</div>
		</div>
	</div>

	<div class="divide70"></div>

	<div class="alert-success alert container" ng-show="IsAlertVisible">
		<button type="button" class="close" ng-click="IsAlertVisible = false">×</button>
		Item Successfully added!!!
	</div>
	
	<div id="search">
		<button type="button" class="close">×</button>
		<form>
			<h1 ng-show="SearchFail">No Items Found</h1>
			<input type="search" value="" placeholder="type keyword(s) here" ng-model="selected" typeahead="searchItem as searchItem.Description for searchItem in SearchItems | filter:$viewValue | limitTo:15" />
			<script type="text/ng-template" id="customTemplate.html">
				<a>
					<span bind-html-unsafe="match.label | typeaheadHighlight:query"></span>
				</a>
			</script>
			<a class="btn btn-primary" ng-click="Search()">Search</a>
		</form>
	</div>
	<div class="ng-view" autoscroll></div>

	<footer id="footer-option">
		<div class="container ">

			<div class="row visible-md visible-lg">
				<div class="col-md-4 margin20">
					<div class="footer-col">
						<h3 class="footer-heading">About Le Beau Visage</h3>
						<p>
							Le Beau Visage Aesthetic Center is one of the top rated Medical Aesthetic Facilities in North Texas! Allow our clinical experts to enhance and tranform your image!
						</p>
					</div>
				</div><!--footer col-->
				<div class="col-md-4 margin20">
					<div class="footer-col">
						<h3>Contact</h3>

						<ul class="list-unstyled contact">
							<li><p><strong><i class="fa fa-map-marker"></i> Address:</strong> 3685 Preston Road, Suite 129<br />Frisco, Texas 75034</p></li>
							<li><p><strong><i class="fa fa-envelope"></i> Mail Us:</strong> <a href="mailto:info@lebeauvisagemedspa.com" class="email-link">info@lebeauvisagemedspa.com</a></p></li>
							<li> <p><strong><i class="fa fa-mobile"></i> Phone:</strong> +214 705 7676</p></li>
							<li> <p><strong><i class="fa fa-phone"></i> Toll:</strong> +1 866 54 BOTOX (26869)</p></li>
						</ul>
					</div>
				</div><!--footer col-->
				<div class="col-md-4 margin20">
					<div class="footer-col">
						<h3><a href="#/SiteMap">SiteMap</a></h3>
						<h3><a href=" https://lebeauvisagemedspa.nextechweb.com/patient ">Patient Portal</a></h3>
						<h3><a href="/Admin">Admin Login</a></h3>
					</div>
				</div><!--footer col-->

			</div>
			<div class="row">
				<div class="col-md-12 text-center">
					<ul class="list-inline social-1">
						<li><a href="http://www.facebook.com/pages/Le-Beau-Visage-Med-Spa/130922822976?ref=ts"><i class="fa fa-facebook"></i></a></li>
						<li><a href="https://twitter.com/LeBeauVisage"><i class="fa fa-twitter"></i></a></li>
						<li><a href="http://www.youtube.com/user/LeBeauVisageMedicalS"><i class="fa fa-youtube-play"></i></a></li>
						<li><a href="https://www.linkedin.com/pub/jason-riehs/80/59a/4a5"><i class="fa fa-linkedin"></i></a></li>
					</ul>
					<div class="footer-btm">
						<span><h5><a href="http://ACreativeJones.com" id="CreativeJones">©@DateTime.Now.Year. Designed and Developed by ACreativeJones</a></h5></span>
					</div>
				</div>
			</div>
		</div>
	</footer>

	<nav class="navbar navbar-default navbar-fixed-bottom" id="scroller">
		<div class="container">
			<div class="pull-right">
				<ul class="list-inline">
					<li ng-click="GoToTop()"><a href=""><i class="fa fa-arrow-circle-up fa-2x"></i> Top</a></li>
				</ul>
			</div><!--top bar end hidden in small devices-->
			@*<ul id="ticker01" class="newsticker pull-left">
					<li>
						<span>{{message.Dates}}</span> <a href="{{message.Url}}">{{message.Message}}</a>
						a;slkdf
					</li>
					<li>alskjdf</li>
					<li>cxlknv</li>

				</ul>*@
			<ul id="ticker01" class="newsticker pull-left">
				<li ng-repeat="message in Messages"><span>{{message.Dates}}<span> <a href="{{message.Url}}">{{message.Message}}</a></li>
				<!-- IDK y this works for 2 tickers but it does so dont remove it-->
				<li><span>{{Messages[1].Dates}}</span> <a href="{{Messages[1].Url}}">{{Messages[1].Message}}</a></li>
				<li><span>{{Messages[0].Dates}}<span> <a href="{{Messages[0].Url}}">{{Messages[0].Message}}</a></li>
				<li><span>{{Messages[1].Dates}}</span> <a href="{{Messages[1].Url}}">{{Messages[1].Message}}</a></li>

				<li><span>Saturdays</span><a href="#/Contact">By Appointments Only, Schedule TodaY!</a></li>
			</ul>
		</div>
	</nav>
</div>

@section Scripts {
	@Scripts.Render("~/bundles/angularcore")
	@Scripts.Render("~/bundles/angularplugins")
	@Scripts.Render("~/bundles/VisageApp")
	@Scripts.Render("~/bundle/ThemeScripts")
	<script src="~/Scripts/custom/scripts/li-scroller-starter.js"></script>
	<script src="~/Scripts/custom/scripts/navBar.js"></script>
	<script src="~/Scripts/custom/google-map/HomeMap.js"></script>
	<script src="~/Scripts/Plugins/YouTubeMenu/ytmenu.js"></script>
	<script>
		$(function () {
			$('a[href="#search"]').on('click', function (event) {
				event.preventDefault();
				$('#search').addClass('open');
				$('#search > form > input[type="search"]').focus();
			});

			$('#search, #search button.close').on('click keyup', function (event) {
				if (event.target == this || event.target.className == 'close' || event.keyCode == 27) {
					$(this).removeClass('open');
				}
			});


			//Do not include! This prevents the form from submitting for DEMO purposes only!
			$('form').submit(function (event) {
				event.preventDefault();
				return false;
			})
		});
	</script>
}
