@{
	ViewBag.Title = "Index";

}

<!--navigation -->
<!-- Static navbar -->
<div class="row row-offcanvas row-offcanvas-right">
	<div class="visible-sm visible-md visible-lg navbar navbar-default container" role="navigation">
		<a href="#/" class="navbar-brand">lebeau visage</a>
		<ul class="nav navbar-nav pull-right">
			<li>
				<a href="#/About">DR RIEHS</a>
			</li>
			<li>
				<a href="#/Treatments" class="dropdown-toggle">TREATMENTS</a>
			</li>
			<li>
				<a href="#/Gallery" class="dropdown-toggle">PHOTO GALLERY</a>
			</li>
			<!--mega menu-->
			<li class="dropdown yamm-fw">
				<a data-toggle="dropdown" class="dropdown-toggle">Market<b class="caret"></b></a>
				<ul class="dropdown-menu">
					<li>
						<div class="yamm-content">
							<div class="row">
								<div class="col-sm-12">
									<div class="col-sm-3">
										<h3 class="heading">Shopping Cart</h3>
										<p>
											Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cras justo odio, dapibus ac facilisis in, egestas eget quam.
											Duis mollis, est non commodo luctus. Nullam quis risus eget urna mollis ornare vel eu leo cras consectetur.
										</p>

									</div>
									<div class="col-sm-6">
										<h3 class="heading">Featured Items</h3>
										<p>
											Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Cras justo odio, dapibus ac facilisis in, egestas eget quam
										</p>
										<div class="mega-contact">
											<p><strong><i class="fa fa-map-marker"></i></strong> vaisahali, jaipur, 302012</p>
											<p><strong><i class="fa fa-envelope"></i></strong> Support@designmylife.com</p>
											<p><strong><i class="fa fa-phone"></i></strong> +91 1800 2345 2132</p>
										</div>
									</div>
									<div class="col-sm-3">
										<h3 class="heading">Categories</h3>
										<ul class="nav mega-vertical-nav">
											<li><a href="typography.html">Typography</a></li>
											<li><a href="element.html">Elements</a></li>
											<li><a href="footer-2.html">Footer - 2</a></li>
											<li><a href="home-soon.html">Coming Soon</a></li>
										</ul>
									</div>
								</div>
							</div>
							
						</div>
					</li>
				</ul>
			</li>
			<li>
				<a href="#/Blog" class="dropdown-toggle">BLOG</a>
			</li>
			<!--mega menu end-->
			<li>
				<a href="#/Contact" class="dropdown-toggle ">CONTACT US</a>
			</li>
		</ul>
	</div>

	<div class=" visible-xs">
		<div class="navbar navbar-default" role="navigation">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="offcanvas" data-target=".navbar-collapse"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
					<a class="navbar-brand" href="index.php" title="Menu 2">LeBeau Visage</a>
				</div>
			</div>
		</div>
		<div class="col-xs-6 col-sm-3 sidebar-offcanvas showhide navbar-collapse" id="sidebar" role="navigation" style="">
			<div class="sidebar-nav">
				<ul class="nav navbar-nav">
					<li>
						<a href="#/About">DR RHIES</a>
					</li>
					<li>
						<a href="#/Treatments" class="dropdown-toggle">TREATMENTS</a>
					</li>
					<li>
						<a href="#/Gallery" class="dropdown-toggle">PHOTO GALLERY</a>
					</li>
					<!--mega menu-->
					<li>
						<a href="#/Blog" class="dropdown-toggle">BLOG</a>
					</li>
					<!--mega menu end-->
					<li>
						<a href="#/Contact" class="dropdown-toggle ">CONTACT US</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	
	<div ng-view></div>

	<footer id="footer-option" class="visible-md visible-lg">
		<div class="container">

			<div class="row">
				<div class="col-md-4 margin20">
					<div class="footer-col">
						<h3>About assan</h3>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer lorem quam, adipiscing condimentum tristique vel, eleifend sed turpis. Pellentesque cursus arcu id magna euismod in elementum purus molestie.
						</p>
						<ul class="list-inline social-1">
							<li><a href="#"><i class="fa fa-facebook"></i></a></li>
							<li><a href="#"><i class="fa fa-twitter"></i></a></li>
							<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
							<li><a href="#"><i class="fa fa-pinterest"></i></a></li>
							<li><a href="#"><i class="fa fa-dribbble"></i></a></li>
						</ul>
					</div>
				</div><!--footer col-->
				<div class="col-md-4 margin20">
					<div class="footer-col">
						<h3>Contact</h3>

						<ul class="list-unstyled contact">
							<li><p><strong><i class="fa fa-map-marker"></i> Address:</strong> vaisahali, jaipur, 302012</p></li>
							<li><p><strong><i class="fa fa-envelope"></i> Mail Us:</strong> <a href="#">Support@designmylife.com</a></p></li>
							<li> <p><strong><i class="fa fa-phone"></i> Phone:</strong> +91 1800 2345 2132</p></li>
						</ul>
					</div>
				</div><!--footer col-->
				<div class="col-md-4 margin20">
					<div class="footer-col">
						<h3>Latest post</h3>

						<ul class="list-unstyled latest-f-news">
							<li><a href="#">Lorem ipsum dollor sit amet <i class="fa fa-angle-right"></i></a></li>
							<li><a href="#">Post with image <i class="fa fa-angle-right"></i></a></li>
							<li><a href="#">Lorem ipsum dollor sit amet <i class="fa fa-angle-right"></i></a></li>
							<li><a href="#">Awesome template for multipurpose <i class="fa fa-angle-right"></i></a></li>
						</ul>
					</div>
				</div><!--footer col-->

			</div>
			<div class="row">
				<div class="col-md-12 text-center">
					<div class="footer-btm">
						<span>©2014. Theme by Design_mylife</span>
					</div>
				</div>
			</div>
		</div>
	</footer>

	<nav class="navbar navbar-default navbar-fixed-bottom">
		<div class="container">
			<div class="pull-right">
				<ul class="list-inline top-social">
					<li><a href="#"><i class="fa fa-facebook"></i></a></li>
					<li><a href="#"><i class="fa fa-twitter"></i></a></li>
					<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
					<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
					<li><a href="#"><i class="fa fa-pinterest"></i></a></li>
				</ul>

			</div><!--top bar end hidden in small devices-->
			<ul id="ticker01" class="newsticker pull-left">
				<li><span>10/10/2007</span><a href="#">The first thing ...</a></li>
				<li><span>10/10/2007</span><a href="#">End up doing is ...</a></li>
				<li><span>10/10/2007</span><a href="#">The code that you ...</a></li>
			</ul>
		</div>
	</nav>
</div>
	@section Scripts {
		@Scripts.Render("~/bundles/angularcore")
		@Scripts.Render("~/bundles/angularplugins")
		@Scripts.Render("~/bundles/VisageApp")
		@Scripts.Render("~/bundle/ThemeScripts")
		<script src="~/Scripts/custom/scripts/li-scroller-starter.js"></script>
		<script src="~/Scripts/custom/scripts/navBar.js"></script>
		<script src="~/Scripts/custom/google-map/HomeMap.js"></script>
	}
