@{
	ViewBag.Title = "Index";

}

<!--navigation -->
<!-- Static navbar -->
<div class="navbar navbar-default navbar-static-top yamm sticky" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="index.html">lebeau visage</a>
		</div>
		<div class="navbar-collapse collapse">
			<ul class="nav navbar-nav navbar-right">
				<li>
					<a href="#/">DR REIHS</a>
				</li>
				<li>
					<a href="#/About" class="dropdown-toggle ">SURGICAL</a>
				</li>
				<li>
					<a href="#" class="dropdown-toggle ">NONSURGICAL</a>
				</li>
				<li>
					<a href="#" class="dropdown-toggle">PHOTO GALLERY</a>
				</li>
				<!--mega menu-->
				<li>
					<a href="#" class="dropdown-toggle">BLOG</a>
				</li>
				<!--mega menu end-->
				<li>
					<a href="#" class="dropdown-toggle ">CONTACT US</a>
				</li>
			</ul>
		</div><!--/.nav-collapse -->
	</div>
</div><!--.navbar-default-->
<div ng-view></div>

<nav class="navbar navbar-default navbar-fixed-bottom">
	<div class="container">

		<div class="pull-right">
			<ul class="list-inline top-social">
				<li><a href="#"><i class="fa fa-facebook"></i></a></li>
				<li><a href="#"><i class="fa fa-twitter"></i></a></li>
				<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
				<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
				<li><a href="#"><i class="fa fa-pinterest"></i></a></li>
			</ul>

		</div><!--top bar end hidden in small devices-->
		<ul id="ticker01" class="newsticker pull-left">
			<li><span>10/10/2007</span><a href="#">The first thing ...</a></li>
			<li><span>10/10/2007</span><a href="#">End up doing is ...</a></li>
			<li><span>10/10/2007</span><a href="#">The code that you ...</a></li>
		</ul>
	</div>
</nav>
@section Scripts {
	@Scripts.Render("~/bundles/angularcore")
	@Scripts.Render("~/bundles/angularplugins")
	@Scripts.Render("~/bundles/VisageApp")
	@Scripts.Render("~/bundle/ThemeScripts")
	<script src="~/Scripts/custom/scripts/li-scroller-starter.js"></script>
}
