@{
	ViewBag.Title = "Index";

}

<!--navigation -->
<!-- Static navbar -->
<div class="row row-offcanvas row-offcanvas-right" ng-controller="HeaderCtrl">
	<div class="visible-sm visible-md visible-lg navbar navbar-default container" role="navigation">
		<a href="#/" class="navbar-brand">lebeau visage</a>
		<ul class="nav navbar-nav pull-right">
			<li>
				<a href="#/About">DR RIEHS</a>
			</li>
			<li>
				<a href="#/Treatments" class="dropdown-toggle">TREATMENTS</a>
			</li>
			<li>
				<a href="#/Gallery" class="dropdown-toggle">PHOTO GALLERY</a>
			</li>
			<!--mega menu-->
			<li class="dropdown yamm-fw">
				<a data-toggle="dropdown" class="dropdown-toggle"><span ng-show="HasItems"><i class="fa fa-shopping-cart fa-2x"></i><span class="badge">{{ShoppingCart.length}}</span></span>Market<b class="caret"></b></a>
				<ul class="dropdown-menu">
					<li>
						<div class="yamm-content">
							<div class="row">
								<div class="col-sm-12">
									<a href="#/Market" class="btn btn-block">Go To The Market</a>
									<div class="col-sm-3">
										<h3 class="heading">Shopping Cart</h3>
										<ul>
											<li>Item</li>
											<li>Item 2</li>
											<li>More...</li>
										</ul>
										<a href="#/Market/Cart" class="btn btn-theme-dark">View Cart <i class="fa fa-shopping-cart"></i></a>
									</div>
									<div class="col-sm-6">
										<h3 class="heading">Featured Items</h3>
										<p>
											Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Cras justo odio, dapibus ac facilisis in, egestas eget quam
										</p>
									</div>
									<div class="col-sm-3">
										<h3 class="heading">Categories</h3>
										<ul class="nav mega-vertical-nav">
											<li><a href="typography.html">Typography</a></li>
											<li><a href="element.html">Elements</a></li>
											<li><a href="footer-2.html">Footer - 2</a></li>
											<li><a href="home-soon.html">Coming Soon</a></li>
										</ul>
									</div>
								</div>
							</div>

						</div>
					</li>
				</ul>
			</li>
			<li>
				<a href="#/Resources" class="dropdown-toggle">Patient Resources</a>
			</li>
			<!--mega menu end-->
			<li>
				<a href="#/Contact" class="dropdown-toggle">CONTACT US</a>
			</li>
		</ul>
	</div>

	<div class=" visible-xs">
		<div class="navbar navbar-default" role="navigation">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" ng-click="UpdateSO()">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#/" title="LeBeau Visage">LeBeau Visage</a>
				</div>
			</div>
		</div>
		<div class="col-xs-6 col-sm-3 sidebar-offcanvas showhide navbar-collapse" id="sidebar" role="navigation" style="">
			<div>
				<ul class="nav navbar-nav side-nav">
					<li class="nav-title">
						<a href="#/">LEBEAU VISAGE</a>
						<hr />
					</li>
					<li ng-click="SideOpen = false">
						<div class="pull-left arrow-right">1</div>
						<a href="#/" class="selected-nav">HOME <i class="fa fa-home"></i></a>
					</li>

					<li ng-click="SideOpen = false">
						<a href="#/About">DR RHIES <i class="fa fa-male"></i></a>
					</li>

					<li ng-click="SideOpen = false">
						<a href="#/Treatments">TREATMENTS <i class="fa fa-eyedropper"></i></a>
					</li>

					<li ng-click="SideOpen = false">
						<a href="#/Market">MARKET <i class="fa fa-gift"></i></a>
					</li>

					<li ng-click="SideOpen = false">
						<a href="#/Gallery">PHOTO GALLERY <i class="fa fa-file-image-o"></i></a>
					</li>

					<li ng-click="SideOpen = false">
						<a href="#/Resources">Patient Resources <i class="fa fa-newspaper-o"></i></a>
					</li>

					<li ng-click="SideOpen = false">
						<a href="#/Contact" class="dropdown-toggle ">CONTACT US <i class="fa fa-phone-square"></i></a>
					</li>

				</ul>
			</div>
		</div>
	</div>

	<div ng-view></div>

	<footer id="footer-option">
		<div class="container ">

			<div class="row visible-md visible-lg">
				<div class="col-md-4 margin20">
					<div class="footer-col">
						<h3>About LeBeau Visage</h3>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer lorem quam, adipiscing condimentum tristique vel, eleifend sed turpis. Pellentesque cursus arcu id magna euismod in elementum purus molestie.
						</p>
					</div>
				</div><!--footer col-->
				<div class="col-md-4 margin20">
					<div class="footer-col">
						<h3>Contact</h3>

						<ul class="list-unstyled contact">
							<li><p><strong><i class="fa fa-map-marker"></i> Address:</strong> 3685 Preston Road, Suite 129<br />Frisco, Texas 75034</p></li>
							<li><p><strong><i class="fa fa-envelope"></i> Mail Us:</strong> <a href="#">info@lebeauvisagemedspa.com</a></p></li>
							<li> <p><strong><i class="fa fa-phone"></i> Phone:</strong> +214.705.7676</p></li>
						</ul>
					</div>
				</div><!--footer col-->
				<div class="col-md-4 margin20">
					<div class="footer-col">
						<h3>Latest post</h3>

						<ul class="list-unstyled latest-f-news">
							<li><a href="#">Lorem ipsum dollor sit amet <i class="fa fa-angle-right"></i></a></li>
							<li><a href="#">Post with image <i class="fa fa-angle-right"></i></a></li>
							<li><a href="#">Lorem ipsum dollor sit amet <i class="fa fa-angle-right"></i></a></li>
							<li><a href="#">Awesome template for multipurpose <i class="fa fa-angle-right"></i></a></li>
						</ul>
					</div>
				</div><!--footer col-->

			</div>
			<div class="row">
				<div class="col-md-12 text-center">
					<ul class="list-inline social-1">
						<li><a href="#"><i class="fa fa-facebook"></i></a></li>
						<li><a href="#"><i class="fa fa-twitter"></i></a></li>
						<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
						<li><a href="#"><i class="fa fa-pinterest"></i></a></li>
						<li><a href="#"><i class="fa fa-dribbble"></i></a></li>
					</ul>
					<div class="footer-btm">
						<span><h5><a href="http://ACreativeJones.com" id="CreativeJones">©@DateTime.Now.Year. Designed and Developed by ACreativeJones.com</a></h5></span>
					</div>
				</div>
			</div>
		</div>
	</footer>

	<nav class="navbar navbar-default navbar-fixed-bottom" id="scroller">
		<div class="container">
			<div class="pull-right visible-md visible-lg">
				<ul class="list-inline top-social">
					<li><a href="#"><i class="fa fa-facebook"></i></a></li>
					<li><a href="#"><i class="fa fa-twitter"></i></a></li>
					<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
					<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
					<li><a href="#"><i class="fa fa-pinterest"></i></a></li>
				</ul>

			</div><!--top bar end hidden in small devices-->
			<ul id="ticker01" class="newsticker pull-left">
				<li><span>10/10/2007</span><a href="#">The first thing ...</a></li>
				<li><span>10/10/2007</span><a href="#">End up doing is ...</a></li>
				<li><span>10/10/2007</span><a href="#">The code that you ...</a></li>
			</ul>
		</div>
	</nav>
</div>
@section Scripts {
	@Scripts.Render("~/bundles/angularcore")
	@Scripts.Render("~/bundles/angularplugins")
	@Scripts.Render("~/bundles/VisageApp")
	@Scripts.Render("~/bundle/ThemeScripts")
	<script src="~/Scripts/custom/scripts/li-scroller-starter.js"></script>
	<script src="~/Scripts/custom/scripts/navBar.js"></script>
	<script src="~/Scripts/custom/google-map/HomeMap.js"></script>
}
