<h1>Bodyshaping/HCG Diet Program</h1>
<p class="dropcap lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>

<h3>BodyFX&trade;</h3>
<p>BodyFX&trade; is third generation body contouring that targets problematic fatty tissues for ideal body contouring, contraction
and cellulite improvements.</p>

<h3>HCG Diet Program</h3>
<p>HCG Diet HCG aids your body in mobilizing fat reserves from your abdomen, hips, and thighs. However – dosing (whether drops, supplements or injections) with HCG alone will not ‘magically’ help you lose weight.  A strict diet also accompanies the HCG supplement; the staff will provide education regarding the “do’s” and “do not’s”  and will tailor a system that fits your weight loss needs.</p>

<h3>LipoDissolve (Mesotherapy)</h3>
<p>LipoDissolve has shown ability to break the bonds in fat cells. The fat is dissolved into liquid and eliminated from the body in urine and feces, resulting in weight loss.</p>

<div class="divide80"></div>