<h1>What We Offer</h1>
<p class="lead">
	Le Beau Visage Aesthetic Center is one of the top rated Medical Aesthetic Facilities in North Texas! Allow our clinical experts to enhance and tranform your image!
</p>


<p class="treatment-item">
	<h3 alt="Le Beau Visage Facial Injectibles Treatment" class="heading">Facial Injectibles</h3>
	<a href="" ng-click="SetTemplate('FacialInject')">
		Facial fillers are products such as collagen, hyaluronic acid and calcium hydroxyl apatite that rejuvenate facial skin by reducing or eliminating wrinkles, raising scar depressions, enhancing lips and replacing soft-tissue volume loss through facial injections
	</a>
</p>


<p class="treatment-item">
	<h3 class="heading">Pigmentation/Melasma</h3>
	<a href="" ng-click="SetTemplate('Pigment')" alt="Le Beau Visage Pigmentation/Melasma Treatment">
		Laser Treatments - years of sundamage skin can take its toll on the face promoting red blemishes, brown discolorations and wrinkles. Office based laser treatments can be a helpful solution to reversing many of the external signs of aging
	</a>
</p>

<p class="treatment-item">
	<h3 class="heading">Skin Resurfacing</h3>
	<a href="" ng-click="SetTemplate('SkinResurface')" alt="Le Beau Visage Skin Resurfacing Treatment">
		If aging, acne, or too much time in the sun has left your face with blotches, scars, wrinkles, or lines, laser skin resurfacing may help your skin look younger and healthier. Laser skin resurfacing removes skin layer by layer with precision. The new skin cells that form during healing give the skin a tighter, younger looking surface. The procedure can be performed alone with in combination with injectable treatments to the face.
	</a>
</p>

<p class="treatment-item">
	<h3 class="heading">Skin Tightening</h3>
	<a href="" ng-click="SetTemplate('SkinTight')" alt="Le Beau Visage Skin Tightening Treatment">
		Skin tightening procedures are able to tighten and smooth the skin for a healthier, more youthful glow. These procedures promote new collagen growth deep within the skin in order to decrease the appearance of wrinkles and provide an overall refreshed look to the skin.
	</a>
</p>

<p class="treatment-item">
	<h3 class="heading">Bodyshaping/HCG Diet</h3>
	<a href="" ng-click="SetTemplate('Bodyshaping')" alt="Le Beau Visage Skin Bodyshaping/HCG Diet Treatment">
		Radiofrequency energy, or RF, is a popular technology used in non-invasive body shaping procedures, and one of the fastest-growing types of treatments in this market.
	</a>
</p>

<p class="treatment-item">
	<h3 class="heading">Microdermabrasion</h3>
	<a href="" ng-click="SetTemplate('Microderma')" alt="Le Beau Visage Microdermabrasion Treatment">
		Microdermabrasion is a non-invasive, painless and quick skin care treatment for the improvement of wrinkles, skin texture and color.
	</a>
</p>

<p class="treatment-item">
	<h3 class="heading">Permanent Cosmetics</h3>
	<a href="" ng-click="SetTemplate('PermCos')" alt="Le Beau Visage Permanent Cosmetics Treatment">
		Make-up can sometimes consume a lot of time in the hectic mornings – depending on how much one puts on – and it can be expensive. Le Beau Visage aestheticians are pleased to announce we now offer permanent cosmetics – also known as permanent pigment cosmetics
	</a>
</p>

<p class="treatment-item">
	<h3 class="heading">Laser Hair Removal</h3>
	<a href="" ng-click="SetTemplate('LaserHair')" alt="Le Beau Visage Laser Hair Removal Treatment">
		Laser hair removal is a safe and effective treatment for removal of unwanted hair.
	</a>
</p>

<p class="treatment-item">
	<h3 class="heading">Vein Reduction</h3>
	<a href="" ng-click="SetTemplate('VeinReduce')" alt="Le Beau Visage Vein Reduction Treatment">
		Veins that are cosmetically unappealing or cause pain or other symptoms are prime candidates for treatment.
	</a>
</p>

<div class="divide80"></div>