<h1>What We Offer</h1>
<p class="dropcap lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit.</p>

<p><a ng-click="SetTemplate('FacialInject')" alt="Le Beau Visage Facial Injectibles Treatment" class="allcap">Facial Injectibles</a>&mdash;Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

<p><a ng-click="SetTemplate('Pigment')" alt="Le Beau Visage Pigmentation/Melasma Treatment" class="allcap">Pigmentation/Melasma</a>&mdash;Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

<p><a ng-click="SetTemplate('SkinResurface')" alt="Le Beau Visage Skin Resurfacing Treatment" class="allcap">Skin Resurfacing</a>&mdash;Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

<p><a ng-click="SetTemplate('SkinTight')" alt="Le Beau Visage Skin Tightening Treatment" class="allcap">Skin Tightening</a>&mdash;Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

<p><a ng-click="SetTemplate('Bodyshaping')" alt="Le Beau Visage Skin Bodyshaping/HCG Diet Treatment" class="allcap">Bodyshaping/HCG Diet</a>&mdash;Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

<p><a ng-click="SetTemplate('Microderma')" alt="Le Beau Visage Microdermabrasion Treatment" class="allcap">Microdermabrasion</a>&mdash;Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

<p><a ng-click="SetTemplate('PermCos')" alt="Le Beau Visage Permanent Cosmetics Treatment" class="allcap">Permanent Cosmetics</a>&mdash;Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

<p><a ng-click="SetTemplate('LaserHair')" alt="Le Beau Visage Laser Hair Removal Treatment" class="allcap">Laser Hair Removal</a>&mdash;Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

<p><a ng-click="SetTemplate('VeinReduce')" alt="Le Beau Visage Vein Reduction Treatment" class="allcap">Vein Reduction</a>&mdash;Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

<div class="divide80"></div>