<h1>Laser Hair Removal</h1>
<p class="dropcap lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>

<p>Laser hair removal is a safe and effective treatment for removal of unwanted hair. At our Texas spa, we use the MeDioStar Laser (hyperlink), a diode laser which emits a beam of light that passes through the skin and targets unwanted hair follicles, offer the ultimate in laser hair removal technology.  The laser energy is transformed into heat, which destroys the hair follicle leaving the surrounding skin unaffected.</p>

<img src="http://placehold.it/450x450" alt="">

<p>Many areas can be treated such as the face, underarms, chest, back, bikini area, and legs. The degree of discomfort varies with each person, depending on his/her pain threshold. For this reason, a topical anesthetic cream may be applied after laser hair removal.</p>

<p>The procedure may last as little as ten minutes or up to an hour or longer depending on the area(s) treated. In general, patients require six consecutive laser hair removal treatments in our Texas offices, spaced approximately a month apart, to achieve a long lasting benefit.</p>

<div class="divide80"></div>