<h1>Microdermabrasion</h1>
<p class="dropcap lead">Microdermabrasion is a non-invasive, painless and quick skin care treatment for the improvement of wrinkles, skin texture and color. This skin resurfacing technique can help stimulate the tissue underneath the skin, making your skin healthier and allow you to have a more firm and toned appearance.</p>

<p>We utilize the DiamondTome Skin Resurfacing System, one of the most advanced systems on the market.  During the procedure, the esthetician cleanses your skin, then removes the outer layer of skin by exfoliating with natural diamond chips, while vacuuming the dead cells away in a clean, precise and safe manner.  After skin resurfacing you might appear a bit flushed, or appear ‘sun kissed’, but you will return to normal very soon, usually within one day of treatment. Microdermabrasion skin care is considered to be the most non-invasive of all medical aesthetic treatments and has no social “down time.”</p>

<p>We also offer following:</p>
<ul>
    <li> 6-Month Micro Member Contract, 12 month contract, and $69 micro wednesday available to non-members</li>
    <li>12-Month Micro Member Contract</li>
    <li>$69 Micro Wednesday <em>(Available to Non-members)</em></li>
</ul>

<div class="divide80"></div>