<h1>Pigmentation/Melasma</h1>
<p class="dropcap lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>

<h3>IPL Photo Facial</h3>
<p>Photo rejuvenation, or IPL (Intense Pulsed Light) Photo Facials with the Prolite II is one of the most popular skin care technologies used by our aestheticians – developed to rejuvenate the skin. The results include overall improvement in the skin tone, texture, pore size and collagen building. Used for:</p>
<ul>
    <li>Treatment of sun damage (liver and age spots)</li>
    <li>Vascular lesions</li>
    <li>Port wine stains</li>
    <li>Facial telengiectasia (unwanted facial vessels)</li>
    <li>Rosacea</li>
    <li>Cherry angiomas</li>
    <li>Spider angiomas</li>
    <li>Hyperpigmentation</li>
    <li>Melasma (post-pregnancy spots)</li>
</ul>


<h3>Fraxel&trade;</h3>
<p>Fraxel help treat Melasma. Melasma—which is most common in women and affects about 45 million people worldwide—appears as irregular patches of brown skin on the forehead, cheeks, upper lip and nose. Like most other pigmented lesions, Melasma is not dangerous, but it can be a self-confidence crusher, prompting many women to hide behind a mask of make-up. Melasma is most common during hormonal fluctuations associated with pregnancy, oral contraceptives or hormone replacement therapy. So instead of celebrating the beauty of motherhood, women with Melasma must wear what's often called "the mask of pregnancy.</p>


<div class="divide80"></div>