<h1>Skin Tightening</h1>
<p class="dropcap lead">As we age we lose volume in our face, primarily fat. As a result skin can hang down as gravity acts on it creating droopiness, wrinkles and bands. This can be thought of as excess skin and is similar in concept to a dress that becomes too large as its owner loses weight.  Non-surgical skin tightening procedures that utilize radiofrequency technology may be extremely help.  These devices can deliver painless, effective thermal heating to affected loose skin and ultimately result in a 14% increase in skin firming.  Treatment zones that respond well to the radiofrequency technology include :sagging neck skin (turkey neck), jowling, upper chest, the area above the knees, the arms, the upper abdomen, and the back. </p>

<h3>Fractora&trade;</h3>
<p>Fractora&trade; is the ultimate non-invasive skin renovation without surgery. Fractora achieves full-scale treatment depths with customizable fractional energy to improve superficial skin tone problems (photo damage) to deep textural concerns (rhytids and tightening).</p>

<h3>Forma&trade;</h3>
<p>Forma&trade; stimulates the formation of new collagen and improves the skin's elasticity for long-lasting and remarkable results.</p>

<div class="divide80"></div>