<h1>Skin Tightening</h1>
<p class="dropcap lead">These procedures are able to tighten and smooth the skin for a healthier, more youthful glow. These procedures promote new collagen growth deep within the skin in order to decrease the appearance of wrinkles and provide an overall refreshed look to the skin. </p>

<h3>Fractura&trade;</h3>
<p>Fractura&trade; is the ultimate non-invasive skin renovation without surgery. Fractora achieves full-scale treatment depths with customizable fractional energy to improve superficial skin tone problems (photo damage) to deep textural concerns (rhytids and tightening).</p>

<h3>Forma&trade;</h3>
<p>Forma&trade; stimulates the formation of new collagen and improves the skin's elasticity for long-lasting and remarkable results.</p>

<div class="divide80"></div>