<h1>Skin Tightening</h1>
<p class="dropcap lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>

<h3>Fractura&trade;</h3>
<p>Fractura&trade; is the ultimate non-invasive skin renovation without surgery. Fractora achieves full-scale treatment depths with customizable fractional energy to improve superficial skin tone problems (photo damage) to deep textural concerns (rhytids and tightening).</p>

<h3>Forma&trade;</h3>
<p>Forma&trade; stimulates the formation of new collagen and improves the skin's elasticity for long-lasting and remarkable results.</p>

<div class="divide80"></div>