<h1>Skin Resurfacing</h1>
<p class="dropcap lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>

<h3>Fractura&trade;</h3>
<p>Fractura&trade; is the ultimate non-invasive skin renovation without surgery. Fractora achieves full-scale treatment depths with customizable fractional energy to improve superficial skin tone problems (photo damage) to deep textural concerns (rhytids and tightening).</p>

<h3>Fraxel&trade;</h3>
<p>Fraxel&trade; laser treatment has been cleared by the FDA to safely, gently and effectively resurface your skin from the inside out. That means improved texture, more even tone and smoother skin—all with minimal risks, and without discomfort and prolonged downtime of other procedures.</p>

<h3>Chemical Peels</h3>
<p>Chemical peels are a maintenance and preventive treatment – that are available in a variety of concentrations and intensities (strengths and types of acid) providing different results for different skin conditions or aesthetic needs.</p>

<div class="divide80"></div>