<h1>Vein Reduction</h1>
<p class="dropcap lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>

<h3>Laser Vein Therapy</h3>
<p>We offer laser vein reduction for certain types of veins, and will help you make the choice that will yield your best results during your free consultation.</p>

<h3>Sclerotherapy</h3>
<p>Leg Veins injection therapy, is a non-surgical procedure in which a solution is injected into the problem varicose veins or spider veins in order to cause its disappearance. Sclerotherapy works by irritating the lining of the vein such that the vein seals shut. The treatment takes about 15-20 minutes and can be performed by our estheticians to treat spider veins and varicose veins for anyone.</p>

<div class="divide80"></div>