<h1>Vein Reduction</h1>
<p class="dropcap lead">Veins that are cosmetically unappealing or cause pain or other symptoms are prime candidates for treatment. There are two general treatment options: sclerotherapy and  light source/laser treatment. In some cases, a combination of treatment methods works best. A number of factors go into determining the right treatment , including your desired outcomes and the severity of condition. </p>

<h3>Laser Vein Therapy</h3>
<p>We offer laser vein reduction for certain types of veins, and will help you make the choice that will yield your best results during your free consultation.</p>

<h3>Sclerotherapy</h3>
<p>A common treatment for small (spider veins) and medium size (reticular) veins. A tiny needle is used to inject the veins with a solution (called a sclerosant) that irritates the lining of the vein. In response, the veins collapse and are reabsorbed. The surface veins are no longer visible. Depending on the size and location of the veins, different types and strengths of sclerosants are used. With this procedure, veins can be dealt with at an early stage, helping to prevent further complications. Patients often require from one to three sclerotherapy sessions for any vein region.</p>

<h3>Light Source/Laser</h3>
<p>Laser technology can be used to treat small spider veins and facial redness. A light beam is pulsed through the skin and onto the veins in order to seal them off and cause them to dissolve. Light-based treatment is generally used only to treat small veins. Treatments may be combined with sclerotherapy, and multiple treatments are usually required.</p>

<div class="divide80"></div>