@using Microsoft.AspNet.Identity
@using System.Web.Security

@if (Request.IsAuthenticated)
{
	using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
	{
		@Html.AntiForgeryToken()

		<a href="javascript:document.getElementById('logoutForm').submit()" class="blog-nav-item navbar-right">Log off</a>

		@Html.ActionLink(User.Identity.GetUserName(), "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage", @class = "blog-nav-item navbar-right" })

	}
}
else
{
	@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "blog-nav-item navbar-right" })
	@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "blog-nav-item navbar-right" })

}