<div class="breadcrumb-wrap">
	<div class="container">
		<div class="row">
			<div class="col-sm-6">
				<h4>Treatments</h4>
			</div>
			<div class="col-sm-6 hidden-xs text-right">
				<ol class="breadcrumb">
					<li><a href="#/">Le Beau Visage</a></li>
					<li>Treatments</li>
				</ol>
			</div>
		</div>
	</div>
</div>

<div class="divide80"></div>
<div class="container">
	<div class="row">
		<div class="col-md-3">
			<div class="sidebar-box margin40">
				<h4 ng-click="SetTemplate('Index')" class="visible-md visible-lg"><a>Treatments</a></h4>

				 <ul class="list-unstyled cat-list visible-md visible-lg">
					<li ng-click="SetTemplate('FacialInject')"> <a>Facial Injectibles</a> <i class="fa fa-angle-right"></i></li>
					<li ng-click="SetTemplate('Pigment')"><a>Pigmentation/Melasma</a><i class="fa fa-angle-right"></i></li>
					<li ng-click="SetTemplate('SkinResurface')"><a>Skin Resurfacing</a><i class="fa fa-angle-right"></i></li>
					<li ng-click="SetTemplate('SkinTight')"><a>Skin Tightening</a><i class="fa fa-angle-right"></i></li>
					<li ng-click="SetTemplate('Bodyshaping')"><a>Bodyshaping/HCG</a><i class="fa fa-angle-right"></i></li>
					<li ng-click="SetTemplate('Microderma')"><a>Microdermabrasion</a><i class="fa fa-angle-right"></i></li>
					<li ng-click="SetTemplate('PermCos')"><a>Permanent Cosmetics</a><i class="fa fa-angle-right"></i></li>
					<li ng-click="SetTemplate('LaserHair')"><a>Laser Hair Removal</a><i class="fa fa-angle-right"></i></li>
					<li ng-click="SetTemplate('VeinReduce')"><a>Vein Reduction</a><i class="fa fa-angle-right"></i></li>
				 </ul>
				<ul class=" portfolio-filters text-center visible-sm visible-xs">
					<li class="filter" ng-click="SetTemplate('FacialInject')"> <a>Facial Injectibles</a></li>
					<li class="filter" ng-click="SetTemplate('Pigment')"><a>Pigmentation/Melasma</a></li>
					<li class="filter" ng-click="SetTemplate('SkinResurface')"><a>Skin Resurfacing</a></li>
					<li class="filter" ng-click="SetTemplate('SkinTight')"><a>Skin Tightening</a></li>
					<li class="filter" ng-click="SetTemplate('Bodyshaping')"><a>Bodyshaping/HCG</a></li>
					<li class="filter" ng-click="SetTemplate('Microderma')"><a>Microdermabrasion</a></li>
					<li class="filter" ng-click="SetTemplate('PermCos')"><a>Permanent Cosmetics</a></li>
					<li class="filter" ng-click="SetTemplate('LaserHair')"><a>Laser Hair Removal</a></li>
					<li class="filter" ng-click="SetTemplate('VeinReduce')"><a>Vein Reduction</a></li>
				</ul>
			<div class="divide20"></div>
			<a href="#/Market" class="btn border-theme btn-block">Purchase a Treatment Plan</a>
			</div><!--sidebar-box-->

		</div>

		<div class="col-md-8 col-md-offset-1">
			<div ng-include="template.url"></div>
		</div>
	</div>
</div>