.page-content {
	background-color: white;
}

h1 {
	color: #92795b;
}

.header-img {
	position: absolute;
	top: 135px;
	left: 400px;
}


.item-img-overlay span {
	background: rgba(245, 236, 207, 0.10);
	border: 1px solid rgba(245, 236, 207, 0.37);
}

.btn-theme-brown {
	background-color: #92795b;
	color:#4f3514 ;
}