.banner-1 {
	background: url('../../Images/Banner/Nancy.jpg') no-repeat center center;
	background-size: auto;
}

.banner-2 {
	background: url('../../Images/Banner/Dallas.jpg') no-repeat center center;
	background-size: auto;
}

.banner-3 {
	background: url('../../Images/Banner/Dallas.jpg') no-repeat center center;
	background-size: auto;
}
