.side-nav {
  margin-top: 40px; }
  .side-nav li a {
    color: #c4c4c4;
    text-align: right;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
    margin-right: 40px;
    text-transform: uppercase; }
    .side-nav li a:hover {
      background-color: transparent; }
  .side-nav .selected-nav {
    background-color: #2f2f2f;
    border: 1px solid #c4c4c4;
    margin-left: 25px;
    -webkit-border-radius: 5px;
    /* Firefox 1-3.6 */
    -moz-border-radius: 5px;
    /* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */
    border-radius: 5px;
    -moz-box-shadow: inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow: inset 0 0 10px #000000; }
  .side-nav .nav-title {
    font-size: 16px; }
    .side-nav .nav-title hr {
      display: block;
      height: 1px;
      border: 0;
      border-top: 1px solid #1d1c1c;
      margin: 1em 0;
      padding: 0;
      -webkit-box-shadow: 0 8px 6px -6px black;
      -moz-box-shadow: 0 8px 6px -6px black;
      box-shadow: 0 8px 6px -6px black; }

.banner-1 {
  background: url('../../Content/Images/Banner/Nancy.png') no-repeat center center;
  background-size: auto; }

.banner-2 {
  background: url('../../Content/Images/Banner/Dallas.png') no-repeat center center;
  background-size: auto; }

.banner-3 {
  background: url('../../Content/Images/Banner/Dallas.png') no-repeat center center;
  background-size: auto; }

.arrow-right {
  width: 0;
  height: 0;
  margin-top: 10px;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid #c4c4c4; }

.selected-nav i {
  color: #4f3514; }

.cart-items-list {
  height: 400px;
  overflow: auto; }

#footer-option {
  margin-bottom: 80px; }

#CreativeJones {
  color: #ffffff; }
  #CreativeJones:hover {
    color: #4f3514; }

.badge {
  background-color: #FFF;
  color: #000; }

@media screen and (max-width: 768px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out; }

  .row-offcanvas-right .sidebar-offcanvas {
    right: -60%;
    margin-right: 0px;
    background-color: #323232; }

  .row-offcanvas-left .sidebar-offcanvas {
    left: -50%; }

  .row-offcanvas-right.active {
    right: 60%; }

  .row-offcanvas-left.active {
    left: 50%; }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 60%;
    height: 100%;
    display: none; }
 }

.sitemap {
  background-color: #c4c4c4; }

#site-map-link {
  color: #323232; }

.wrapper {
  position: relative;
  z-index: 90; }

.ribbon-wrapper-green {
  width: 85px;
  height: 88px;
  overflow: hidden;
  position: absolute;
  top: -3px;
  right: 12px; }

.ribbon-green {
  font: bold 15px Sans-Serif;
  color: #333;
  text-align: center;
  text-shadow: rgba(255, 255, 255, 0.5) 0px 1px 0px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  position: relative;
  padding: 7px 0;
  left: -5px;
  top: 15px;
  width: 120px;
  background-color: #BFDC7A;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#BFDC7A), to(#8EBF45));
  background-image: -webkit-linear-gradient(top, #BFDC7A, #8EBF45);
  background-image: -moz-linear-gradient(top, #BFDC7A, #8EBF45);
  background-image: -ms-linear-gradient(top, #BFDC7A, #8EBF45);
  background-image: -o-linear-gradient(top, #BFDC7A, #8EBF45);
  color: #6a6340;
  -webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3); }

.ribbon-green:before, .ribbon-green:after {
  content: "";
  border-top: 3px solid #6e8900;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  position: absolute;
  bottom: -3px; }

.ribbon-green:before {
  left: 0; }

.ribbon-green:after {
  right: 0; }

.riehsphoto {
  width: 300px;
  height: 300px;
  padding-right: 20px; }

.productlist {
  height: 400px;
  overflow: scroll; }

.allcap {
  text-transform: uppercase; }

.nav-justified li a {
  font-weight: bold;
  border-radius: 0px; }
  .nav-justified li a:hover {
    background-color: white;
    border-bottom: 4px solid #4f3514; }

.navbar-toggle {
  border: none; }

.subNav {
  background-color: white;
  width: 500px; }

.active-pill {
  color: #4f3514;
  background-color: white;
  border-bottom: 4px solid #4f3514; }

#nav.affix {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  height: 40px;
  background: #fff; }

.navbar-visage {
  font-family: 'Raleway', sans-serif;
  border: none;
  border-radius: 0;
  margin-bottom: 0;
  width: 100%;
  max-height: 55px;
  padding: 15px 0;
  background-color: #fff;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out; }

.navbar-visage .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #4f3514;
  background-color: transparent; }

.navbar-visage .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #4f3514;
  background-color: transparent; }

.navbar-visage .navbar-nav > li > a {
  color: #fff;
  font-weight: 600;
  font-size: 12px;
  text-transform: uppercase; }

.navbar-visage .navbar-nav > li > a:hover {
  color: #4f3514; }

#sidebar-inner.affix {
  position: fixed; }

.fa-remove {
  color: #4f3514; }

.carousel-indicators li {
  width: 12px;
  height: 12px;
  border: 2px solid #1e1b1b; }

.carousel-indicators .active {
  width: 14px;
  height: 14px;
  background-color: #1e1b1b; }

.testimonials-handwritten {
  width: 100%;
  height: 275px;
  padding: 25px 0 50px 0;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap; }

.testimonials-handwritten img {
  display: inline; }

.lightbox-view {
  height: 100%;
  width: 30%;
  margin-top: 50px; }

.lightbox-view-pg {
  height: 100%;
  width: 50%;
  margin-top: 50px; }

.productlist-image {
  height: 250px;
  display: block;
  margin: auto; }

.product-showcase {
  margin-top: 25px; }

.img-wrap {
  padding: 30px; }

.t-img {
  height: 200px;
  width: 200px; }

.breadcrumb-wrap {
  background-color: transparent; }
  .breadcrumb-wrap h4 {
    font-size: 17px;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
    text-shadow: 2px 2px #8EBF45; }
  .breadcrumb-wrap li {
    font-weight: 600;
    text-transform: capitalize;
    color: #fff;
    text-shadow: 2px 2px #8EBF45; }
    .breadcrumb-wrap li a {
      font-weight: 600;
      text-transform: capitalize;
      color: #8EBF45;
      text-shadow: 2px 2px #fff; }
    .breadcrumb-wrap li a:hover {
      font-weight: 600;
      text-transform: capitalize;
      color: #FFF;
      text-shadow: 2px 2px #BFDC7A; }

#slide-content h3 {
  text-align: center; }

.mobile-container {
  padding: 0 15px; }

.sidebar-box {
  margin-bottom: 65px; }

.text-navbar-brand {
  font-size: 1em;
  text-transform: uppercase;
  font-weight: bold;
  font-family: 'Raleway', sans-serif;
  margin-left: 25%; }

.sitemap-navbar-brand {
  margin-left: 10px; }

.video-slider {
  border-bottom: 1px solid #cfcaca;
  margin-bottom: 10px; }

.header-side {
  font-weight: 600;
  font-size: 12px;
  text-transform: uppercase; }
  .header-side a {
    color: #fff; }

body {
  background-color: #92795B; }

.main-navbar {
  z-index: 999;
  background-color: #92795B; }

#nav-elements li a {
  color: white; }

#nav-elements li a:hover {
  color: #281b0b; }

#about-dropdown li a {
  color: #92795B; }

.dropdown-menu li a {
  color: #000; }

.top-social li a i {
  background-color: transparent; }
  .top-social li a i:hover {
    background-color: #281b0b; }

.nav-pills > li a:hover {
  background-color: transparent;
  color: #281b0b;
  border-left: 1px solid #f9f1cd; }
.nav-pills > li a:focus {
  background-color: transparent; }

.breadcrumb-wrap {
  height: 250px; }

#location-crumb {
  height: 350px; }

/*.navbar-default {
	background-color: #281b0b;
}*/
.related-images img {
  border: 1px solid #fff;
  margin-top: -150px;
  margin-right: 10px;
  z-index: 999; }

/*# sourceMappingURL=Visage.css.map */