<div class="row">
	<div class="col-md-6 margin20">
		<h3 class="heading">Best Seller</h3>
		<p>
			Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni. Dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum
		</p>
		<p><a href="#/Market/Product/1" class="btn btn-theme-bg">Details</a></p>
	</div>
	<div class="col-md-6">
		<img src="../../../../Content/Images/winter.jpg" class="img-responsive" />
	</div>
</div>
<div class="divide60"></div>
<div class="row">
	<div class="col-md-12 margin20">
		<h3 class="heading">Featured Products By Category</h3>
	</div>
</div>
<div class="divide60"></div>
<div class="row">
	<div class="col-md-3 margin20">
		<div class="team-wrap">
			<img src="../../../../Content/Images/mother.jpg" class="img-responsive" />
			<h4>Jolly smith</h4>
			<span>Web Designer</span>
			<ul class="list-inline social-1">
				<li><a href="#"><i class="fa fa-facebook"></i></a></li>
				<li><a href="#"><i class="fa fa-twitter"></i></a></li>
				<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
			</ul><!--social-->
		</div><!--team-wrap-->
	</div><!--team col-->
	<div class="col-md-3 margin20">
		<div class="team-wrap">
			<img src="../../../../Content/Images/mother.jpg" class="img-responsive" />
			<h4>Jolly smith</h4>
			<span>Web Designer</span>
			<ul class="list-inline social-1">
				<li><a href="#"><i class="fa fa-facebook"></i></a></li>
				<li><a href="#"><i class="fa fa-twitter"></i></a></li>
				<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
			</ul><!--social-->
		</div><!--team-wrap-->
	</div><!--team col-->
	<div class="col-md-3 margin20">
		<div class="team-wrap">
			<img src="../../../../Content/Images/mother.jpg" class="img-responsive" />
			<h4>Jolly smith</h4>
			<span>Web Designer</span>
			<ul class="list-inline social-1">
				<li><a href="#"><i class="fa fa-facebook"></i></a></li>
				<li><a href="#"><i class="fa fa-twitter"></i></a></li>
				<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
			</ul><!--social-->
		</div><!--team-wrap-->
	</div><!--team col-->
	<div class="col-md-3 margin20">
		<div class="team-wrap">
			<img src="../../../../Content/Images/mother.jpg" class="img-responsive" />
			<h4>Jolly smith</h4>
			<span>Web Designer</span>
			<ul class="list-inline social-1">
				<li><a href="#"><i class="fa fa-facebook"></i></a></li>
				<li><a href="#"><i class="fa fa-twitter"></i></a></li>
				<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
			</ul><!--social-->
		</div><!--team-wrap-->
	</div><!--team col-->
</div>