<div class="breadcrumb-wrap">
	<div class="container">
		<div class="row">
			<div class="col-sm-6">
				<h4>About Us</h4>
			</div>
			<div class="col-sm-6 hidden-xs text-right">
				<ol class="breadcrumb">
					<li><a href="#/">Le Beau Visage</a></li>
					<li>Dr. Riehs</li>
				</ol>
			</div>
		</div>
	</div>
</div>

<div class="divide40"></div>
<div class="container">
	<div class="row">
		<div class="col-md-3">
			<div class="sidebar-box margin40">
                <div class="affix visible-md visible-lg">
                    <h4>Menu</h4>
                    <ul class="list-unstyled cat-list visible-md visible-lg">
                        <li ng-repeat="link in SideNavs"> <a href="{{link.Url}}">{{link.Text}}</a> <i class="fa fa-angle-right"></i></li>
                    </ul>
                </div>
                    <div class="dr-menu visible-sm visible-xs {{YouTubeMenu}}">
                        <div class="dr-trigger" ng-click="MenuTrigger()">
                            <span class="dr-icon dr-icon-settings"></span>
                            <a class="dr-label">Menu</a>
                        </div>
                        <div ng-show="open" class="subNav">
                            <ul>
                                <li ng-repeat="link in SideNavs"><a href="{{link.Url}}">{{link.Text}}</a><i class="fa fa-angle-right"></i></li>
                            </ul>
                        </div>
                    </div>
                </div><!--sidebar-box-->

		</div>

		<div class="col-md-8 col-md-offset-1">
			<div class="blog-post">
				<a>
					<h2>Meet Dr. Jason M. Riehs, MD</h2>
					<div class="col-xs-12 col-sm-4">
						<img src="../../Content/Images/DrJMRiehs_600x600.jpg" alt="Dr. Jason M. Riehs, MD" class="img-responsive">
						<span class="divide10"></span>
					</div>
					<div class="col-xs-12" >
						<p class="dropcap">
							Dr. Riehs received his undergraduate degree from Oklahoma Christian University in Biology, Pre-med, Suma Cum-Laude and attended
							medical school at the prestigious University of Texas Health Science Center located in the Texas Medical Center in Houston.
							He completed his internship and trained in internal medicine and as a pediatrics resident in Houston at MD Anderson Cancer
							Hospital, Hermann Hospital, and St. Luke’s Hospital. In addition to his medical degree, he earned a graduate degree from
							the University of Houston Law Center in 2004 with a focus in Health Law.
						</p>

						<p>
							After completing law school, Dr. Riehs relocated in Frisco, Texas, where he opened his cosmetic practice in 2005. Dr. Riehs is
							currently an advanced injectable trainer with Medicis Aesthetics, Inc., the sole provider of Restylane/Perlane dermal filler.
							As a faculty member, he provides advanced aesthetic injection training to physician and nurse injectors and is recognized
							throughout the country as an elite Botox and Restylane/Perlane injector.
						</p>
					</div><!--bio-->
			</div>
		</div>
	</div>
</div>
