<div class="breadcrumb-wrap">
	<div class="container">
		<div class="row">
			<div class="col-sm-6">
				<h4>About Us</h4>
			</div>
			<div class="col-sm-6 hidden-xs text-right">
				<ol class="breadcrumb">
					<li><a href="#/">Le Beau Visage</a></li>
					<li>Locations</li>
				</ol>
			</div>
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-md-3">
			<div class="divide40"></div>
			<div class="sidebar-box margin40">
				<h4 class="visible-md visible-lg">Menu</h4>
				<ul class="list-unstyled cat-list visible-md visible-lg">
					<li><a href="#/About">Dr. Riehs</a><i class="fa fa-angle-right"></i></li>
					<li> <a href="#/Team">Meet the Team</a> <i class="fa fa-angle-right"></i></li>
					<li> <a href="#/Testimonials">Testimonials</a> <i class="fa fa-angle-right"></i></li>
					<li> <a href="#/Videos">Videos</a> <i class="fa fa-angle-right"></i></li>
				</ul>
				<div class="dr-menu visible-sm visible-xs {{YouTubeMenu}}">
					<div class="dr-trigger" ng-click="MenuTrigger()">
						<span class="dr-icon dr-icon-settings"></span>
						<a class="dr-label">Menu</a>
					</div>
					<div ng-show="open" class="subNav">
						<ul>
							<li><a href="#/About">Dr. Riehs</a><i class="fa fa-angle-right"></i></li>
							<li><a href="#/Team">Meet the Team</a><i class="fa fa-angle-right"></i></li>
							<li><a href="#/Testimonials">Testimonials</a><i class="fa fa-angle-right"></i></li>
							<li><a href="#/Videos">Videos</a><i class="fa fa-angle-right"></i></li>
						</ul>
					</div>
				</div>
			</div><!--sidebar-box-->

		</div>
		<div class="col-md-8">
			<div class="divide40"></div>
			<section class="col-md-12">
				<div class="col-md-12">
					<h3 class="heading">
						<span id="{{Locations[Active].Name}}">{{Locations[Active].Name}} </span>
						<span class="pull-right">
							<p>| <a ng-click="SetActive(Others[0].Name)" id="{{Others[0].Name}}">{{Others[0].Name}}</a></p>
							<p>| <a ng-click="SetActive(Others[1].Name)" id="{{Others[1].Name}}">{{Others[1].Name}}</a></p>
						</span>
					</h3><!--Frisco Location-->
					<div class="divide40"></div>
					<div class="col-md-12">
						<div class="col-md-6">
							<img src="../../Images/mother.jpg" class="img-responsive pull-right" alt="" />
						</div>

						<ul class="list-unstyled contact contact-info">
							<li><p><strong><i class="fa fa-map-marker"></i> Address:</strong> <a href="{{MapUrl}}">{{Locations[Active].Address}}</a></p></li>
							<li><p><strong><i class="fa fa-envelope"></i> Mail Us:</strong> <a href="#">{{Locations[Active].Email}}</a></p></li>
							<li> <p><strong><i class="fa fa-mobile"></i> Phone:</strong> <a href="{{Locations[Active].Phonetel}}">{{Locations[Active].Phone}}</a></p></li>
							<li>st<p><strong><i class="fa fa-phone"></i> Toll:</strong> <a href="{{Locations[Active].Tolltel}}">{{Locations[Active].Toll}}</a></p></li>
						</ul>
					</div>
				</div>
				<div class="divide30"></div>
				<div class="col-md-12">
					<h3 class="heading">Services</h3>
					<div ng-repeat="service in Locations[Active].Services" class="col-md-12 clear">
						<h4>{{service.category}}</h4>

						<p ng-repeat="treatment in service.treatments" class="col-md-4">
							{{service.treatments[$index]}}
						</p>
					</div>
				</div>



			</section>
				

			</section>
			

			
			<div class="divide80"></div>
		</div>
	</div>
	<!--<ul class="nav nav-pills nav-justified">
		<li class="{{Frisco.Active}}" ng-click="SetActive(Frisco.Name)"><a>Frisco</a></li>
		<li class="{{Dallas.Active}}" ng-click="SetActive(Dallas.Name)"><a>Dallas</a></li>
		<li class="{{LaSchl.Active}}" ng-click="SetActive(LaSchl.Name)"><a>Schlenburg/ LaGrange</a></li>
	</ul>-->
</div>

<div class="breadcrumb-wrap">
	<div class="row">
		<div class="col-sm-10 col-sm-offset-1">
			<div class="col-xs-12" id="location">

			</div>
		</div>
	</div>
</div>

<!--<div class="row">
	<div class="col-md-12">
		<section class="col-md-8">
			<div class="col-md-12">
				<h3 class="heading">La Grange / Schulenburg</h3>
				<p>
					Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni.
					<div class="col-md-6">
						<img src="../../Images/mother.jpg" class="img-responsive pull-right" alt="" />
					</div>
				</p>
				<ul class="list-unstyled contact contact-info">
					<li><p><strong><i class="fa fa-map-marker"></i> Address:</strong> <a href="{{MapUrl}}">40 East Avenue Schulenburg, TX 78956</a></p></li>
					<li><p><strong><i class="fa fa-envelope"></i> Mail Us:</strong> <a href="#">info@lebeauvisagemedspa.com</a></p></li>
					<li> <p><strong><i class="fa fa-mobile"></i> Phone:</strong> <a href="tel:+12147057676">+214 705 7676</a></p></li>
					<li> <p><strong><i class="fa fa-phone"></i> Toll:</strong> <a href="tel:+18665426869">+1 866 54 BOTOX (26869)</a></p></li>
				</ul>
			</div>

		</section>


	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<section class="col-md-8">
			<div class="col-md-12">
				<h3 class="heading">La Grange / Schulenburg</h3><!--La Grange Location
				<p>
					Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni.
					<div class="col-md-6">
						<img src="../../Images/mother.jpg" class="img-responsive pull-right" alt="" />
					</div>
				</p>
				<ul class="list-unstyled contact contact-info">
					<li><p><strong><i class="fa fa-map-marker"></i> Address:</strong> <a href="{{MapUrl}}">40 East Avenue Schulenburg, TX 78956</a></p></li>
					<li><p><strong><i class="fa fa-envelope"></i> Mail Us:</strong> <a href="#">info@lebeauvisagemedspa.com</a></p></li>
					<li> <p><strong><i class="fa fa-mobile"></i> Phone:</strong> <a href="tel:+12147057676">+214 705 7676</a></p></li>
					<li> <p><strong><i class="fa fa-phone"></i> Toll:</strong> <a href="tel:+18665426869">+1 866 54 BOTOX (26869)</a></p></li>
				</ul>
			</div>

		</section>


	</div>
</div>-->
</div>

<script>
	gMap.initLocations();
</script>