<div class="breadcrumb-wrap">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h4>About Us</h4>
            </div>
            <div class="col-sm-6 hidden-xs text-right">
                <ol class="breadcrumb">
                    <li><a href="#/">Le Beau Visage</a></li>
                    <li>Team</li>
                </ol>
            </div>
        </div>
    </div>
</div>

<div class="divide80"></div>
<div class="container">
    <div class="row">
        <div class="col-md-3">

            <div class="sidebar-box margin40">
                <div class="affix visible-md visible-lg">
                    <h4>Menu</h4>
                    <ul class="list-unstyled cat-list">
                        <li><a href="#/About">Dr. Riehs</a><i class="fa fa-angle-right"></i></li>
                        <li> <a href="#/Testimonials">Testimonials</a> <i class="fa fa-angle-right"></i></li>
                        <li> <a href="#/Locations">Locations</a> <i class="fa fa-angle-right"></i></li>
                        <li> <a href="#/Videos">Videos</a> <i class="fa fa-angle-right"></i></li>
                    </ul>
                </div>
                <div class="dr-menu visible-sm visible-xs {{YouTubeMenu}}">
                    <div class="dr-trigger" ng-click="MenuTrigger()">
                        <span class="dr-icon dr-icon-settings"></span>
                        <a class="dr-label">Menu</a>
                    </div>
                    <div ng-show="open" class="subNav">
                        <ul>
                            <li><a href="#/About">Dr. Riehs</a><i class="fa fa-angle-right"></i></li>
                            <li><a href="#/Testimonials">Testimonials</a><i class="fa fa-angle-right"></i></li>
                            <li><a href="#/Locations">Locations</a><i class="fa fa-angle-right"></i></li>
                            <li><a href="#/Videos">Videos</a><i class="fa fa-angle-right"></i></li>
                        </ul>
                    </div>
                </div>
            </div><!--sidebar-box-->

        </div>

        <div class="col-md-9">                
            <div class="row">

                <div class="col-md-12 margin20">
                    <h3 class="heading">Meet the Team</h3>
                </div>
            </div>
            <div class="row"><!--begin JMR-->
                <div class="col-md-5 margin20">
                    <div class="team-wrap">
                        <img src="../../Images/winter.jpg" class="img-responsive" alt="" />
                        <h4>Jason M. Riehs</h4>
                        <span>Physician</span>
                    </div>
                </div>
                <div class="col-md-7 margin20">
                    <p> Owner and Full-time Physician of Le Beau Visage. <a href="#/About">Read More...</a></p>
                </div><!--end JMR-->
            </div>
            <div class="row"><!--begin Oteo-->
                <div class="col-md-5 margin20">
                    <div class="team-wrap">
                        <img src="../../Images/winter.jpg" class="img-responsive" alt="" />
                        <h4>Rachel L. Oteo</h4>
                        <span>Esthetican</span>
                    </div>
                </div>
                <div class="col-md-7 margin20">
                    <p>After having lived in New York several times, I am now happily settled here in Texas!  As a licensed esthetician since 2009, I have had great opportunities working with many different lasers and I love to make patients feel comfortable.   It is my passion to ensure everyone gets the most out of their treatments!</p>
                </div><!--end Oteo-->
            </div>
            <div class="row">
                <!--begin Manning-->
                <div class="col-md-5 margin20">
                    <div class="team-wrap">
                        <img src="../../Images/winter.jpg" class="img-responsive" alt="" />
                        <h4>Jennifer Manning</h4>
                        <span>Esthetican</span>
                    </div>
                </div>
                <div class="col-md-7 margin20">
                    <p>I am a Texas native from Plano who graduated from Plano East High School in 2011 and graduated top of my class from Ogle School of Hair, Skin, and Nails in 2012.  While at Ogle, I performed a case study and was also trained on Micros and chemical peels.  A huge fan of cheerleading, classic rock, Dr. Pepper, and traveling.</p>
                </div><!--end Manning-->
            </div>
            <div class="row">
                <!--begin Rector-->
                <div class="col-md-5 margin20">
                    <div class="team-wrap">
                        <img src="../../Images/winter.jpg" class="img-responsive" alt="" />
                        <h4>Jenny Rector</h4>
                        <span>Esthetican</span>
                    </div>
                </div>
                <div class="col-md-7 margin20">
                    <p>A true Texas girl and the newest addition to the team, I am a medical aesthetician with prior dermatology experience.  I graduated from the Aveda Institute Dallas then went on to continue my education specializing in laser and aesthetic treatments.  I also worked closely with skin care patients.  I am a music lover who also enjoys traveling the world and living a healthy life.</p>
                </div><!--end Rector-->
            </div>
            <div class="row">
                <!--begin Gonzalez-->
                <div class="col-md-5 margin20">
                    <div class="team-wrap">
                        <img src="../../Images/winter.jpg" class="img-responsive" alt="" />
                        <h4>Rachel Gonzalez</h4>
                        <span>Medical Assistant</span>
                    </div>
                </div>
                <div class="col-md-7 margin20">
                    <p>I am the Physicians Coordinator at Le Beau Visage.  I’m an Orange County girl, raised in Saudi Arabia, and settled in Texas.  I am currently attending Collin County Community College and later plan to earn a Bachelor of Science in Nursing from the University of North Texas.  My patients are my favorite part of my day.  When I’m not working, I love traveling, crafting, and being outdoors.  If you ever need a sushi date or a meaty steak, I’m your girl!</p>
                </div><!--end Gonzalez-->
            </div>
            <div class="row">
                <!--begin Gilbreath-->
                <div class="col-md-5 margin20">
                    <div class="team-wrap">
                        <img src="../../Images/winter.jpg" class="img-responsive" alt="" />
                        <h4>Jordan Gilbreath</h4>
                        <span>Medical Assistant</span>
                    </div>
                </div>
                <div class="col-md-7 margin20">
                    <p>Born and raised in Dallas and attended college at Howard Payne University, where I received my Bachelors Degree in 2009. I have been in the cosmetic industry for over two years. My favorite part of being involved in this field of medicine is "raising the confidence" of my patients. Favorite procedures include: sclerotherapy and Hyaluronic acid fillers. Hobbies include tennis, travel, and food.</p>
                </div><!--end Gilbreath-->
            </div>
            <div class="row">
                <!--begin Marchand-->
                <div class="col-md-5 margin20">
                    <div class="team-wrap">
                        <img src="../../Images/winter.jpg" class="img-responsive" alt="" />
                        <h4>Carla Marchand</h4>
                        <span>Registered Nurse</span>
                    </div>
                </div>
                <div class="col-md-7 margin20">
                    <p>B....</p>
                </div><!--end Marchand-->
            </div>
            <div class="row">
                <!--begin Karagiannis-->
                <div class="col-md-5 margin20">
                    <div class="team-wrap">
                        <img src="../../Images/winter.jpg" class="img-responsive" alt="" />
                        <h4>Suzanna Karagiannis</h4>
                        <span>Perm. Cosmetics</span>
                    </div>
                </div>
                <div class="col-md-7 margin20">
                    <p>B....</p>
                </div><!--end Karagiannis-->
            </div>
            <div class="row">
                <!--begin Reid-->
                <div class="col-md-5 margin20">
                    <div class="team-wrap">
                        <img src="../../Images/winter.jpg" class="img-responsive" alt="" />
                        <h4>Lauren Reid</h4>
                        <span>Front Office</span>
                    </div>
                </div>
                <div class="col-md-7 margin20">
                    <p>I was born and raised in Dallas, Texas.  I graduated top of the class from Paul Mitchell The School and have been part of this amazing industry for over 10 years.  Making people look and feel better about themselves is a truly rewarding experience that never gets old.  Thank you for letting me be a daily part of your life and here’s to many more years to come!</p>
                </div><!--end Reid-->
            </div>
            <div class="row">
                <!--begin Thompson-->
                <div class="col-md-5 margin20">
                    <div class="team-wrap">
                        <img src="../../Images/winter.jpg" class="img-responsive" alt="" />
                        <h4>Monet Thompson</h4>
                        <span>Front Office</span>
                    </div>
                </div>
                <div class="col-md-7 margin20">
                    <p>Transplanted to Texas in 1996 by my husband’s job transferred, I have two sons who are both in college. Once our nest was empty, I decided to pursue a job in the health care field.  I obtained my Medical Secretary Certificate from Collin College in 2014.  I am also a Certified Administrative Health Assistant with the National Association for Health Professionals scoring a 96% on the exam.  Dr. Riehs’ mission statement of providing an outstanding patient experience resonated with me and I strive to make that happen.  In addition to travelling with my husband, I enjoy reading, gardening, exercising and my delightful Yorkie Scooter.</p>
                </div><!--end Thompson-->
            </div>

                <div class="divide50"></div>

            </div>
        </div>
    </div>
