<div class="breadcrumb-wrap visible-md visible-lg">
    <div class="container">
    	<div class="row">
	    	<img class="pull-right header-img" src="../../../Content/Images/Staff/TeamBanner.png" />
    	</div>
    </div>
</div>
<section class="page-content">
	<div class="container">
		<ul class="list-inline social-1">
			<li><a href="http://www.facebook.com/pages/Le-Beau-Visage-Med-Spa/130922822976?ref=ts"><i class="fa fa-facebook"></i></a></li>
			<li><a href="https://twitter.com/LeBeauVisage"><i class="fa fa-twitter"></i></a></li>
			<li><a href="http://www.youtube.com/user/LeBeauVisageMedicalS"><i class="fa fa-youtube-play"></i></a></li>
			<li><a href="https://www.linkedin.com/pub/jason-riehs/80/59a/4a5"><i class="fa fa-linkedin"></i></a></li>
		</ul>
	</div>
	<div class="divide80 visible-md visible-lg"></div>

	<div class="container">
		<div class="row">
			<div class="col-md-3">

				<div class="sidebar-box margin40">
					<div class="visible-md visible-lg">
						<h4>Menu</h4>
						<ul class="list-unstyled cat-list">
							<li><a href="#/About">Dr. Riehs</a><i class="fa fa-angle-right"></i></li>
						</ul>
						<a href="#/Contact" class="btn btn-theme-bg btn-block">Schedule a Consultation</a>
					</div>
					<div class="dr-menu visible-sm visible-xs {{YouTubeMenu}}">
						<div class="dr-trigger" ng-click="MenuTrigger()">
							<span class="dr-icon dr-icon-settings"></span>
							<a class="dr-label">Menu</a>
						</div>
						<div ng-show="open" class="subNav">
							<ul>
								<li><a href="#/About">Dr. Riehs</a><i class="fa fa-angle-right"></i></li>
							</ul>
						</div>
					</div>
				</div><!--sidebar-box-->

			</div>

			<div class="col-md-9">
				<div class="row">

					<div class="col-md-12 margin20">
						<h3 class="heading">Meet the Team</h3>
					</div>
				</div>
				<div class="row team-row" ng-repeat="Member in TeamMembers">
					<!--begin JMR-->
					<div class="col-md-5 margin20">
						<div class="team-wrap">
							<img src={{Member.ImagePath()}} class="img-responsive" alt="{{Member.FullName()}}" />
						</div>
					</div>
					<div class="col-md-7 margin20">
						<span ng-if="Member.OrderNumber === 1"><h4>Jason M. Riehs MD, JD</h4></span>
						<span ng-if="Member.OrderNumber > 1"><h4>{{Member.FullName()}}</h4></span>
						<span>{{Member.Position}}</span>
						<p> {{Member.Biography}} <a href="#/About" ng-show="Member.ReadMore">Read More...</a></p>
					</div><!--end JMR-->
				</div>
				<div class="divide50"></div>

			</div>
		</div>
	</div>
</section>