<div class="breadcrumb-wrap visible-md visible-lg">
	<div class="container">
		<img class="pull-right" src="../../../Content/Images/About/About.jpg" />
		<!--<section class="related-images pull-right">
		<img src="http://placehold.it/140x110" alt="">
		<img src="http://placehold.it/140x110" alt="">
		<img src="http://placehold.it/140x110" alt="">
		<img src="http://placehold.it/140x110" alt="">
	</section>-->

	</div>
</div>
<section class="page-content">
    <div id="lightbox" ng-show="Showing" ng-click="Showing = false">
        <p>Click anywhere to close</p>
        <div id="content">
            <img ng-src="{{Image}}" id="lighbox-img" class="lightbox-view" />
        </div>
    </div>

    <div class="divide80 visible-md visible-lg"></div>

    <div class="container">
        <div class="row">
            <div class="col-md-3">

                <div class="sidebar-box margin40">
                    <div class="visible-md visible-lg">
                        <h4>Patient Stories</h4>
                        <ul class="list-unstyled cat-list visible-md visible-lg">
                            <li> <a href="#/Team">Meet the Team</a><i class="fa fa-angle-right"></i></li>
                            <li> <a href="#/Videos">Videos</a><i class="fa fa-angle-right"></i></li>
                        </ul>
                    </div>
                    <div class="dr-menu visible-sm visible-xs {{YouTubeMenu}}">
                        <div class="dr-trigger" ng-click="MenuTrigger()">
                            <span class="dr-icon dr-icon-settings"></span>
                            <a class="dr-label">About Menu</a>
                        </div>
                        <div ng-show="open" class="subNav">
                            <ul>
                                <li class="filter"><a href="#/Team">Meet the Team</a><i class="fa fa-angle-right"></i></li>
                                <li class="filter"><a href="#/Videos">Videos</a><i class="fa fa-angle-right"></i></li>
                                <li class="filter"><a href="#/ContactUs">Locations &amp; Contact</a><i class="fa fa-angle-right"></i></li>
                            </ul>
                        </div>
                    </div>
                </div><!--sidebar-box-->
            </div>

            <div class="col-md-9">
                <div>
                    <div class="col-md-12">
                        <div class="center-heading">
                            <h2>Patient Stories</h2>
                        </div><!--center-heading-->
                        <div class="col-md-4 col-sm-6 margin20 text-center">
                            <img src="http://placehold.it/200x250" alt="">
                            <h4>Brad</h4> <p>(Photofacials &amp; Dysport)</p>
                        </div>
                        <div class="col-md-4 col-sm-6 margin20 text-center">
                            <img src="http://placehold.it/200x250" alt="">
                            <h4>Kim</h4> <p>(Botox &amp; Sculptra)</p>
                        </div>
                        <div class="col-md-4 col-sm-6 margin20 text-center">
                            <img src="http://placehold.it/200x250" alt="">
                            <h4>Michelle</h4> <p>(Botox,Filler &amp; Fraxel)</p>
                        </div>
                        <div class="col-md-4 col-sm-6 margin20 text-center">
                            <img src="http://placehold.it/200x250" alt="">
                            <h4>Iliana</h4> <p>(Restylane &amp; Botox)</p>
                        </div>
                        <div class="col-md-4 col-sm-6 margin20 text-center">
                            <img src="http://placehold.it/200x250" alt="">
                            <h4>Shirley</h4> <p>(Forma Skin Tightening)</p>
                        </div>
                        <div class="col-md-4 col-sm-6 margin20 text-center">
                            <img src="http://placehold.it/200x250" alt="">
                            <h4>Jan</h4> <p>(Skin Medica &amp; Sculptura)</p>
                        </div>
                        <div class="col-md-4 col-sm-6 margin20 text-center">
                            <img src="http://placehold.it/200x250" alt="">
                            <h4>Debbie</h4> <p>(Microdermabrasion, Botox, Restylane &amp; Photofacials)</p>
                        </div>
                        <div class="col-md-4 col-sm-6 margin20 text-center">
                            <img src="http://placehold.it/200x250" alt="">
                            <h4>Angela</h4> <p>(Microdermabrasion)</p>
                        </div>
                        <div class="col-md-4 col-sm-6 margin20 text-center">
                            <img src="http://placehold.it/200x250" alt="">
                            <h4>Nancy</h4> <p>(Sculptura &amp; Restylane)</p>
                        </div>
                        <div class="col-md-4 col-sm-6 margin20 text-center">
                            <img src="http://placehold.it/200x250" alt="">
                            <h4>Tara</h4> <p>(Botox, Fillers, &amp; TCA Peels)</p>
                        </div>
                        <div class="col-md-4 col-sm-6 margin20 text-center">
                            <img src="http://placehold.it/200x250" alt="">
                            <h4>Lynn</h4> <p>(Fractora Laser Eye Treatment, Botox &amp; Fillers)</p>
                        </div>
                        <div class="col-md-4 col-sm-6 margin20 text-center">
                            <img src="http://placehold.it/200x250" alt="">
                            <h4>Chad</h4> <p>(Botox &amp; Fillers)</p>
                        </div>
                        <div class="col-md-4 col-sm-6 margin20 text-center">
                            <img src="http://placehold.it/200x250" alt="">
                            <h4>Fernando</h4> <p>(Microdermabrasion &amp; Skin Care)</p>
                        </div>
                        <div class="col-md-4 col-sm-6 margin20 text-center">
                            <img src="http://placehold.it/200x250" alt="">
                            <h4>Liz</h4> <p>(HCG &amp; BodyFX)</p>
                        </div>
                        <div class="col-md-4 col-sm-6 margin20 text-center">
                            <img src="http://placehold.it/200x250" alt="">
                            <h4>Peggy</h4> <p>(Filler-Tear Trough &amp; Botox)</p>
                        </div>
                        <div class="col-md-4 col-sm-6 margin20 text-center">
                            <img src="http://placehold.it/200x250" alt="">
                            <h4>Isabel</h4> <p>(Botox &amp; Forma)</p>
                        </div>
                        <div class="col-md-4 col-sm-6 margin20 text-center">
                            <img src="http://placehold.it/200x250" alt="">
                            <h4>Brandi</h4> <p>(Microdermabrasion &amp; Botox)</p>
                        </div>
                        <div class="col-md-4 col-sm-6 margin20 text-center">
                            <img src="http://placehold.it/200x250" alt="">
                            <h4>Tamme</h4> <p>(Fractora &amp; Botox)</p>
                        </div>
                        <div class="col-md-4 col-sm-6 margin20 text-center">
                            <img src="http://placehold.it/200x250" alt="">
                            <h4>Marlene</h4> <p>(Sculptura, Restylane &amp; Botox)</p>
                        </div>
                        <div class="col-md-4 col-sm-6 margin20 text-center">
                            <img src="http://placehold.it/200x250" alt="">
                            <h4>Hamidan</h4> <p>(Fraxel, Microdermabrasion &amp; Botox)</p>
                        </div>
                        
                    </div>

                    <div class="col-md-12">
                        <div class="center-heading">
                            <h3>Site Reviews</h3>
                            <a class="btn btn-theme-dark">Yelp Reviews</a>
                            <a class="btn btn-theme-dark">Google Reviews</a>
                        </div>

                        <div class="divide60"></div>

                    </div>
                </div>
            </div>
        </div>
</section>