<div id="page-wrapper">
	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">Add to the Ticker</h1>
		</div>
	</div>
	<div class="col-md-12">
		<form class="form-horizontal">
			<div class="form-group">
				<input type="text" class="form-control" placeholder="Ticker Message" ng-model="Message.Content">
			</div>
			<div class="form-group">
				<input type="text" class="form-control" placeholder="Ticker Url" ng-model="Message.Url">
			</div>
			<div class="form-group">
				<input type="text" class="form-control" placeholder="Dates" ng-model="Message.Dates">
			</div>
		</form>

		<button class="btn btn-primary" ng-click="Save()">Save</button>
		<button class="btn btn-primary" ng-click="SaveNew()">Save &amp; New</button>
		<button class="btn btn-default" ng-click="Cancel()">Cancel</button>

		<div class="clearfix"></div>
	</div>
</div>

