<div class="breadcrumb-wrap">
	<div class="container">
		<div class="row">
			<div class="col-sm-6">
				<h4>Videos</h4>
			</div>
			<div class="col-sm-6 hidden-xs text-right">
				<ol class="breadcrumb">
					<li><a href="#/">Le Beau Visage</a></li>
					<li>Videos</li>
				</ol>
			</div>
		</div>
	</div>
</div>
<div class="divide60"></div>
<div class="container">
	<section class="col-md-12">
		<div id="main_area">
			<!-- Slider -->
			<div class="col-sm-6 hidden-xs">
				<div class="col-xs-12 col-sm-12" id="slider">
					<!-- Top part of the slider -->
					<div class="row">
						<div class="col-sm-12 " id="carousel-bounding-box">
							<div class="carousel slide" id="myCarousel">
								<!-- Carousel items -->
								<div class="carousel-inner">
									<div class="active item" data-slide-number="0">
										<a href="#/Videos/1"><img src="../../../Images/Videos/ClientStory.jpg" alt="" /></a>
									</div>

									<div class="item" data-slide-number="1">
										<a href="#/Videos/2"><img src="../../../Images/Videos/ClientStory.jpg" alt="" /></a>
									</div>

									<div class="item" data-slide-number="2">
										<a href="#/Videos/3"><img src="../../../Images/Videos/Welcome.jpg" alt="" /></a>
									</div>

									<div class="item" data-slide-number="3">
										<a href="#/Videos/4"><img src="../../../Images/Videos/Welcome.jpg" alt="" /></a>
									</div>

									<div class="item" data-slide-number="4">
										<a href="#/Videos/5"><img src="../../../Images/Videos/Welcome.jpg" alt="" /></a>
									</div>

									<div class="item" data-slide-number="5">
										<a href="#/Videos/6"><img src="../../../Images/Videos/Welcome.jpg" alt="" /></a>
									</div>

									<div class="item" data-slide-number="6">
										<a href="#/Videos/7"><img src="../../../Images/Videos/Welcome.jpg" alt="" /></a>
									</div>

									<div class="item" data-slide-number="7">
										<a href="#/Videos/8"><img src="../../../Images/Videos/Welcome.jpg" alt="" /></a>
									</div>

									<div class="item" data-slide-number="8">
										<a href="#/Videos/9"><img src="../../../Images/Videos/Welcome.jpg" alt="" /></a>
									</div>

									<div class="item" data-slide-number="9">
										<a href="#/Videos/10"><img src="../../../Images/Videos/Welcome.jpg" alt="" /></a>
									</div>

								</div>
							</div>
						</div>

						<div class="col-sm-12" id="carousel-text"></div>

						<div id="slide-content" style="display: none;">
							<div id="slide-content-0">
								<div class="divide40"></div>
								<h3>Botox & Restylane Patient Testimonial</h3>
								<div class="col-md-6">
									<a href="#/Videos/1" class="btn btn-block border-black">Watch</a>
								</div>
							</div>

							<div id="slide-content-1">
								<div class="divide40"></div>
								<h3>Botox Testimonial</h3>
								<div class="col-md-6">
									<a href="#/Videos/2" class="btn btn-block border-black">Watch</a>
								</div>
							</div>

							<div id="slide-content-2">
								<div class="divide40"></div>
								<h3>Intense Pulsed Light (IPL)</h3>
								<div class="col-md-6">
									<a href="#/Videos/3" class="btn btn-block border-black">Watch</a>
								</div>
							</div>

							<div id="slide-content-3">
								<div class="divide40"></div>
								<h3>Botox Demo</h3>
								<div class="col-md-6">
									<a href="#/Videos/4" class="btn btn-block border-black">Watch</a>
								</div>
							</div>

							<div id="slide-content-4">
								<div class="divide40"></div>
								<h3>BodyFX</h3>
								<div class="col-md-6">
									<a href="#/Videos/5" class="btn btn-block border-black">Watch</a>
								</div>
							</div>

							<div id="slide-content-5">
								<div class="divide40"></div>
								<h3>Skin Medica</h3>
								<div class="col-md-6">
									<a href="#/Videos/6" class="btn btn-block border-black">Watch</a>
								</div>
							</div>

							<div id="slide-content-6">
								<div class="divide40"></div>
								<h3>TSN Essential</h3>
								<div class="col-md-6">
									<a href="#/Videos/7" class="btn btn-block border-black">Watch</a>
								</div>
							</div>

							<div id="slide-content-7">
								<div class="divide40"></div>
								<h3>Services and Products Overview</h3>
								<div class="col-md-6">
									<a href="#/Videos/8" class="btn btn-block border-black">Watch</a>
								</div>
							</div>

							<div id="slide-content-8">
								<div class="divide40"></div>
								<h3>Botox</h3>
								<div class="col-md-6">
									<a href="#/Videos/9" class="btn btn-block border-black">Watch</a>
								</div>
							</div>

							<div id="slide-content-9">
								<div class="divide40"></div>
								<h3>Sclerotherapy</h3>
								<div class="col-md-6">
									<a href="#/Videos/10" class="btn btn-block border-black">Watch</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div><!--/Slider-->
			<div class="divide20"></div>
			<h2 class="visible-xs">Video Library</h2>
			<div class="row col-sm-6 hidden-xs" id="slider-thumbs" style="height: 400px; overflow-y: scroll">
				<!-- Bottom switcher of slider -->
				<section class="col-sm-12">
					<h3 class="heading">Client Story</h3>
					<p class="col-sm-4">
						<a class="thumbnail" id="carousel-selector-0"><img src="../../../Images/Videos/ClientStory.jpg" alt="" /></a>
					</p>

					<p class="col-sm-4">
						<a class="thumbnail" id="carousel-selector-1"><img src="../../../Images/Videos/ClientStory.jpg" alt="" /></a>
					</p>
				</section>

				<section class="col-sm-12 clear">
					<h3 class="heading">Informational Videos</h3> <!-- Welcome Videos Probably better suited being called Informational -->
					<p class="col-sm-4">
						<a class="thumbnail" id="carousel-selector-2"><img src="../../../Images/Videos/Welcome.jpg" alt="" /></a>
					</p>

					<p class="col-sm-4">
						<a class="thumbnail" id="carousel-selector-3"><img src="../../../Images/Videos/Welcome.jpg" alt="" /></a>
					</p>

					<p class="col-sm-4">
						<a class="thumbnail" id="carousel-selector-4"><img src="../../../Images/Videos/Welcome.jpg" alt="" /></a>
					</p>

					<p class="col-sm-4">
						<a class="thumbnail" id="carousel-selector-5"><img src="../../../Images/Videos/Welcome.jpg" alt="" /></a>
					</p>

					<p class="col-sm-4">
						<a class="thumbnail" id="carousel-selector-6"><img src="../../../Images/Videos/Welcome.jpg" alt="" /></a>
					</p>

					<p class="col-sm-4">
						<a class="thumbnail" id="carousel-selector-7"><img src="../../../Images/Videos/Welcome.jpg" alt="" /></a>
					</p>

					<p class="col-sm-4">
						<a class="thumbnail" id="carousel-selector-8"><img src="../../../Images/Videos/Welcome.jpg" alt="" /></a>
					</p>

					<p class="col-sm-4">
						<a class="thumbnail" id="carousel-selector-9"><img src="../../../Images/Videos/Welcome.jpg" alt="" /></a>
					</p>

				</section> <!-- End of Welcome Section -->

				<!--<section class="col-sm-12 clear">
					<h3 class="heading">Promo Videos</h3>
					<p class="col-sm-4">
						<a class="thumbnail" id="carousel-selector-2"><img src="../../../Images/Videos/Promo.jpg" alt="" /></a>
					</p>

					<p class="col-sm-4">
						<a class="thumbnail" id="carousel-selector-3"><img src="../../../Images/Videos/Promo.jpg" alt="" /></a>
					</p>
				</section>-->

			</div>
			<!-- Extra Small Version - Only diffence is that the thumbnails are links-->
			<div class="row col-sm-6 visible-xs" id="slider-thumbs" style="height: 400px; overflow-y: scroll">
				<!-- Bottom switcher of slider -->
				<section class="col-sm-12">
					<h3 class="heading">Client Story</h3>
					<p class="col-sm-4">
						<a href="#/Videos/1" class="thumbnail" id="carousel-selector-0"><img src="../../../Images/Videos/ClientStory.jpg" alt="" /></a>
					</p>

					<p class="col-sm-4">
						<a href="#/Videos/1" class="thumbnail" id="carousel-selector-1"><img src="../../../Images/Videos/ClientStory.jpg" alt="" /></a>
					</p>
					<p class="col-sm-4">
						<a href="#/Videos/1" class="thumbnail" id="carousel-selector-0"><img src="../../../Images/Videos/ClientStory.jpg" alt="" /></a>
					</p>

					<p class="col-sm-4">
						<a href="#/Videos/1" class="thumbnail" id="carousel-selector-1"><img src="../../../Images/Videos/ClientStory.jpg" alt="" /></a>
					</p>
					<p class="col-sm-4">
						<a href="#/Videos/1" class="thumbnail" id="carousel-selector-0"><img src="../../../Images/Videos/ClientStory.jpg" alt="" /></a>
					</p>

					<p class="col-sm-4">
						<a href="#/Videos/1" class="thumbnail" id="carousel-selector-1"><img src="../../../Images/Videos/ClientStory.jpg" alt="" /></a>
					</p>
				</section>

				<section class="col-sm-12 clear">
					<h3 class="heading">Welcome Videos</h3>
					<p class="col-sm-4">
						<a href="#/Videos/1" class="thumbnail" id="carousel-selector-4"><img src="../../../Images/Videos/Welcome.jpg" alt="" /></a>
					</p>

					<p class="col-sm-4">
						<a href="#/Videos/1" class="thumbnail" id="carousel-selector-5"><img src="../../../Images/Videos/Welcome.jpg" alt="" /></a>
					</p>
				</section>

				<section class="col-sm-12 clear">
					<h3 class="heading">Promo Videos</h3>
					<p class="col-sm-4">
						<a href="#/Videos/1" class="thumbnail" id="carousel-selector-2"><img src="../../../Images/Videos/Promo.jpg" alt="" /></a>
					</p>

					<p class="col-sm-4">
						<a href="#/Videos/1" class="thumbnail" id="carousel-selector-3"><img src="../../../Images/Videos/Promo.jpg" alt="" /></a>
					</p>
				</section>

				<section class="col-sm-12 clear">
					<h3 class="heading">Client Story</h3>
					<p class="col-sm-4">
						<a href="#/Videos/1" class="thumbnail" id="carousel-selector-0"><img src="../../../Images/Videos/ClientStory.jpg" alt="" /></a>
					</p>

					<p class="col-sm-4">
						<a href="#/Videos/1" class="thumbnail" id="carousel-selector-1"><img src="../../../Images/Videos/ClientStory.jpg" alt="" /></a>
					</p>
					<p class="col-sm-4">
						<a href="#/Videos/1" class="thumbnail" id="carousel-selector-0"><img src="../../../Images/Videos/ClientStory.jpg" alt="" /></a>
					</p>

					<p class="col-sm-4">
						<a href="#/Videos/1" class="thumbnail" id="carousel-selector-1"><img src="../../../Images/Videos/ClientStory.jpg" alt="" /></a>
					</p>
					<p class="col-sm-4">
						<a href="#/Videos/1" class="thumbnail" id="carousel-selector-0"><img src="../../../Images/Videos/ClientStory.jpg" alt="" /></a>
					</p>

					<p class="col-sm-4">
						<a href="#/Videos/1" class="thumbnail" id="carousel-selector-1"><img src="../../../Images/Videos/ClientStory.jpg" alt="" /></a>
					</p>
				</section>

				<section class="col-sm-12 clear">
					<h3 class="heading">Welcome Videos</h3>
					<p class="col-sm-4">
						<a href="#/Videos/1" class="thumbnail" id="carousel-selector-4"><img src="../../../Images/Videos/Welcome.jpg" alt="" /></a>
					</p>

					<p class="col-sm-4">
						<a href="#/Videos/1" class="thumbnail" id="carousel-selector-5"><img src="../../../Images/Videos/Welcome.jpg" alt="" /></a>
					</p>
				</section>

				<section class="col-sm-12 clear">
					<h3 class="heading">Promo Videos</h3>
					<p class="col-sm-4">
						<a href="#/Videos/1" class="thumbnail" id="carousel-selector-2"><img src="../../../Images/Videos/Promo.jpg" alt="" /></a>
					</p>

					<p class="col-sm-4">
						<a href="#/Videos/1" class="thumbnail" id="carousel-selector-3"><img src="../../../Images/Videos/Promo.jpg" alt="" /></a>
					</p>
				</section>

			</div>
		</div>
	</section>
</div>
<div class="divide50"></div>
<section id="cta-1">
	<div class="container">
		<h1>Subscribe to our Youtube Channel</h1>
		<a href="https://www.youtube.com/user/LeBeauVisageMedicalS" class="btn border-white btn-lg">Go to Youtube</a>
	</div>
</section>
<div class="divide50"></div>