<div class="breadcrumb-wrap visible-sm visible-md visible-lg">
	<div class="container">
		
	</div>
</div>
<section class="page-content">
	<div class="divide60 visible-lg visible-md"></div>
	<div class="container">
		<section class="col-md-12">
			<div id="main_area">
				<!-- Slider -->
				<div class="col-sm-12 hidden-xs">
					<div class="col-xs-12 col-sm-12" id="slider">
						<!-- Top part of the slider -->
						<div class="row">
							<div class="col-sm-11 col-sm-offset-1 video-slider" id="carousel-bounding-box">
								<div class="carousel slide" id="myCarousel">
									<!-- Carousel items -->
									<div class="carousel-inner">
										<div class="active item" data-slide-number="0">
											<a href="#/Videos/1"><img src="../../../Content/Images/Videos/ClientStory.jpg" alt="" /></a>
										</div>

										<div class="item" data-slide-number="1">
											<a href="#/Videos/2"><img src="../../../Content/Images/Videos/ClientStory.jpg" alt="" /></a>
										</div>

										<div class="item" data-slide-number="2">
											<a href="#/Videos/11"><img src="../../../Content/Images/Videos/ClientStory.jpg" alt="" /></a>
										</div>

										<div class="item" data-slide-number="3">
											<a href="#/Videos/12"><img src="../../../Content/Images/Videos/ClientStory.jpg" alt="" /></a>
										</div>

										<div class="item" data-slide-number="4">
											<a href="#/Videos/13"><img src="../../../Content/Images/Videos/ClientStory.jpg" alt="" /></a>
										</div>

										<div class="item" data-slide-number="5">
											<a href="#/Videos/3"><img src="../../../Content/Images/Videos/InfoVid.jpg" alt="" /></a>
										</div>

										<div class="item" data-slide-number="6">
											<a href="#/Videos/4"><img src="../../../Content/Images/Videos/InfoVid.jpg" alt="" /></a>
										</div>

										<div class="item" data-slide-number="7">
											<a href="#/Videos/5"><img src="../../../Content/Images/Videos/InfoVid.jpg" alt="" /></a>
										</div>

										<div class="item" data-slide-number="8">
											<a href="#/Videos/6"><img src="../../../Content/Images/Videos/InfoVid.jpg" alt="" /></a>
										</div>

										<div class="item" data-slide-number="9">
											<a href="#/Videos/7"><img src="../../../Content/Images/Videos/InfoVid.jpg" alt="" /></a>
										</div>

										<div class="item" data-slide-number="10">
											<a href="#/Videos/8"><img src="../../../Content/Images/Videos/InfoVid.jpg" alt="" /></a>
										</div>

										<div class="item" data-slide-number="11">
											<a href="#/Videos/9"><img src="../../../Content/Images/Videos/InfoVid.jpg" alt="" /></a>
										</div>

										<div class="item" data-slide-number="12">
											<a href="#/Videos/10"><img src="../../../Content/Images/Videos/InfoVid.jpg" alt="" /></a>
										</div>

										<div class="item" data-slide-number="13">
											<a href="#/Videos/14"><img src="../../../Content/Images/Videos/InfoVid.jpg" alt="" /></a>
										</div>

									</div>
								</div>
								<div class="divide30"></div>
							</div>

							<div class="col-sm-12" id="carousel-text"></div>

							<div id="slide-content" style="display: none;">
								<div id="slide-content-0">
									<div class="divide40"></div>
									<div class="center-heading">
										<h2>Botox & Restylane Testimonial</h2>
										<span class="center-line"></span>
									</div>
									<div>
										<a href="#/Videos/1" class="btn btn-block border-theme">Watch</a>
									</div>
								</div>

								<div id="slide-content-1">
									<div class="divide40"></div>
									<div class="center-heading">
										<h2>Botox Testimonial</h2>
										<span class="center-line"></span>
									</div>
									<div>
										<a href="#/Videos/2" class="btn btn-block border-theme">Watch</a>
									</div>
								</div>

								<div id="slide-content-2">
									<div class="divide40"></div>
									<div class="center-heading">
										<h2>Nancy Sullivan - Customer Testimonial</h2>
										<span class="center-line"></span>
									</div>
									<div>
										<a href="#/Videos/11" class="btn btn-block border-theme">Watch</a>
									</div>
								</div>

								<div id="slide-content-3">
									<div class="divide40"></div>
									<div class="center-heading">
										<h2>Lynn - Customer Testimonial</h2>
										<span class="center-line"></span>
									</div>
									<div>
										<a href="#/Videos/12" class="btn btn-block border-theme">Watch</a>
									</div>
								</div>

								<div id="slide-content-4">
									<div class="divide40"></div>
									<div class="center-heading">
										<h2>Kim Right - Customer Testimonial</h2>
										<span class="center-line"></span>
									</div>
									<div>
										<a href="#/Videos/13" class="btn btn-block border-theme">Watch</a>
									</div>
								</div>

								<div id="slide-content-5">
									<div class="divide40"></div>
									<div class="center-heading">
										<h2>Intense Pulsed Light (IPL)</h2>
										<span class="center-line"></span>
									</div>
									<div>
										<a href="#/Videos/3" class="btn btn-block border-theme">Watch</a>
									</div>
								</div>

								<div id="slide-content-6">
									<div class="divide40"></div>
									<div class="center-heading">
										<h2>Botox Demo</h2>
										<span class="center-line"></span>
									</div>
									<div>
										<a href="#/Videos/4" class="btn btn-block border-theme">Watch</a>
									</div>
								</div>

								<div id="slide-content-7">
									<div class="divide40"></div>
									<div class="center-heading">
										<h2>BodyFX</h2>
										<span class="center-line"></span>
									</div>
									<div>
										<a href="#/Videos/5" class="btn btn-block border-theme">Watch</a>
									</div>
								</div>

								<div id="slide-content-8">
									<div class="divide40"></div>
									<div class="center-heading">
										<h2>Skin Medica</h2>
										<span class="center-line"></span>
									</div>
									<div>
										<a href="#/Videos/6" class="btn btn-block border-theme">Watch</a>
									</div>
								</div>

								<div id="slide-content-9">
									<div class="divide40"></div>
									<div class="center-heading">
										<h2>TSN Essential</h2>
										<span class="center-line"></span>
									</div>
									<div>
										<a href="#/Videos/7" class="btn btn-block border-theme">Watch</a>
									</div>
								</div>

								<div id="slide-content-10">
									<div class="divide40"></div>
									<div class="center-heading">
										<h2>Services and Products Overview</h2>
										<span class="center-line"></span>
									</div>
									<div>
										<a href="#/Videos/8" class="btn btn-block border-theme">Watch</a>
									</div>
								</div>

								<div id="slide-content-11">
									<div class="divide40"></div>
									<div class="center-heading">
										<h2>Botox</h2>
										<span class="center-line"></span>
									</div>
									<div>
										<a href="#/Videos/9" class="btn btn-block border-theme">Watch</a>
									</div>
								</div>

								<div id="slide-content-12">
									<div class="divide40"></div>
									<div class="center-heading">
										<h2>Sclerotherapy</h2>
										<span class="center-line"></span>
									</div>
									<div>
										<a href="#/Videos/10" class="btn btn-block border-theme">Watch</a>
									</div>
								</div>

								<div id="slide-content-13">
									<div class="divide40"></div>
									<div class="center-heading">
										<h2>Skin Medica 2</h2>
										<span class="center-line"></span>
									</div>
									<div>
										<a href="#/Videos/14" class="btn btn-block border-theme">Watch</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div><!--/Slider-->
				<div class="divide20"></div>
				<h2 class="visible-xs">Video Library</h2>
				<div class="row col-sm-12 hidden-xs" id="slider-thumbs" style="height: 200px; overflow-y: scroll">
					<!-- Bottom switcher of slider -->
					<section class="col-sm-12">
						<h3 class="heading">Client Story</h3>
						<p class="col-sm-4">
							<a class="thumbnail" id="carousel-selector-0"><img src="../../../Content/Images/Videos/ClientStory.jpg" /></a>
						</p>

						<p class="col-sm-4">
							<a class="thumbnail" id="carousel-selector-1"><img src="../../../Content/Images/Videos/ClientStory.jpg" alt="" /></a>
						</p>

						<p class="col-sm-4">
							<a class="thumbnail" id="carousel-selector-2"><img src="../../../Content/Images/Videos/ClientStory.jpg" alt="" /></a>
						</p>

						<p class="col-sm-4">
							<a class="thumbnail" id="carousel-selector-3"><img src="../../../Content/Images/Videos/ClientStory.jpg" alt="" /></a>
						</p>

						<p class="col-sm-4">
							<a class="thumbnail" id="carousel-selector-4"><img src="../../../Content/Images/Videos/ClientStory.jpg" alt="" /></a>
						</p>
					</section>

					<section class="col-sm-12 clear">
						<h3 class="heading">Informational Videos</h3> <!-- Welcome Videos Probably better suited being called Informational -->
						<p class="col-sm-4">
							<a class="thumbnail" id="carousel-selector-5"><img src="../../../Content/Images/Videos/InfoVid.jpg" alt="" /></a>
						</p>

						<p class="col-sm-4">
							<a class="thumbnail" id="carousel-selector-6"><img src="../../../Content/Images/Videos/InfoVid.jpg" alt="" /></a>
						</p>

						<p class="col-sm-4">
							<a class="thumbnail" id="carousel-selector-7"><img src="../../../Content/Images/Videos/InfoVid.jpg" alt="" /></a>
						</p>

						<p class="col-sm-4">
							<a class="thumbnail" id="carousel-selector-8"><img src="../../../Content/Images/Videos/InfoVid.jpg" alt="" /></a>
						</p>

						<p class="col-sm-4">
							<a class="thumbnail" id="carousel-selector-9"><img src="../../../Content/Images/Videos/InfoVid.jpg" alt="" /></a>
						</p>

						<p class="col-sm-4">
							<a class="thumbnail" id="carousel-selector-10"><img src="../../../Content/Images/Videos/InfoVid.jpg" alt="" /></a>
						</p>

						<p class="col-sm-4">
							<a class="thumbnail" id="carousel-selector-11"><img src="../../../Content/Images/Videos/InfoVid.jpg" alt="" /></a>
						</p>

						<p class="col-sm-4">
							<a class="thumbnail" id="carousel-selector-12"><img src="../../../Content/Images/Videos/InfoVid.jpg" alt="" /></a>
						</p>

						<p class="col-sm-4">
							<a class="thumbnail" id="carousel-selector-13"><img src="../../../Content/Images/Videos/InfoVid.jpg" alt="" /></a>
						</p>

					</section> <!-- End of Welcome Section -->

				</div>
				<!-- Extra Small Version - Only diffence is that the thumbnails are links-->
				<div class="row col-sm-6 visible-xs" id="slider-thumbs" style="height: 400px; overflow-y: scroll">
					<!-- Bottom switcher of slider -->
					<section class="col-sm-12">
						<h3 class="heading">Client Story</h3>
						<p class="col-sm-4">
							<a href="#/Videos/1" class="thumbnail" id="carousel-selector-0"><img src="../../../Content/Images/Videos/ClientStory.jpg" alt="" /></a>
						</p>

						<p class="col-sm-4">
							<a href="#/Videos/2" class="thumbnail" id="carousel-selector-1"><img src="../../../Content/Images/Videos/ClientStory.jpg" alt="" /></a>
						</p>
						<p class="col-sm-4">
							<a href="#/Videos/11" class="thumbnail" id="carousel-selector-0"><img src="../../../Content/Images/Videos/ClientStory.jpg" alt="" /></a>
						</p>

						<p class="col-sm-4">
							<a href="#/Videos/12" class="thumbnail" id="carousel-selector-1"><img src="../../../Content/Images/Videos/ClientStory.jpg" alt="" /></a>
						</p>
						<p class="col-sm-4">
							<a href="#/Videos/13" class="thumbnail" id="carousel-selector-0"><img src="../../../Content/Images/Videos/ClientStory.jpg" alt="" /></a>
						</p>
					</section>

					<section class="col-sm-12 clear">
						<h3 class="heading">Informational Video</h3>
						<p class="col-sm-4">
							<a href="#/Videos/3" class="thumbnail" id="carousel-selector-0"><img src="../../../Content/Images/Videos/InfoVid.jpg" alt="" /></a>
						</p>

						<p class="col-sm-4">
							<a href="#/Videos/4" class="thumbnail" id="carousel-selector-1"><img src="../../../Content/Images/Videos/InfoVid.jpg" alt="" /></a>
						</p>
						<p class="col-sm-4">
							<a href="#/Videos/5" class="thumbnail" id="carousel-selector-0"><img src="../../../Content/Images/Videos/InfoVid.jpg" alt="" /></a>
						</p>

						<p class="col-sm-4">
							<a href="#/Videos/6" class="thumbnail" id="carousel-selector-1"><img src="../../../Content/Images/Videos/InfoVid.jpg" alt="" /></a>
						</p>
						<p class="col-sm-4">
							<a href="#/Videos/7" class="thumbnail" id="carousel-selector-0"><img src="../../../Content/Images/Videos/InfoVid.jpg" alt="" /></a>
						</p>

						<p class="col-sm-4">
							<a href="#/Videos/8" class="thumbnail" id="carousel-selector-1"><img src="../../../Content/Images/Videos/InfoVid.jpg" alt="" /></a>
						</p>

						<p class="col-sm-4">
							<a href="#/Videos/9" class="thumbnail" id="carousel-selector-1"><img src="../../../Content/Images/Videos/InfoVid.jpg" alt="" /></a>
						</p>

						<p class="col-sm-4">
							<a href="#/Videos/10" class="thumbnail" id="carousel-selector-1"><img src="../../../Content/Images/Videos/InfoVid.jpg" alt="" /></a>
						</p>

						<p class="col-sm-4">
							<a href="#/Videos/14" class="thumbnail" id="carousel-selector-1"><img src="../../../Content/Images/Videos/InfoVid.jpg" alt="" /></a>
						</p>
					</section>
				</div>
			</div>
		</section>
	</div>
	<div class="divide50"></div>
	<section id="cta-1">
		<div class="container">
			<h1>Subscribe to our Youtube Channel</h1>
			<a href="https://www.youtube.com/user/LeBeauVisageMedicalS" class="btn border-white btn-lg">Go to Youtube</a>
		</div>
	</section>
</section>
<div class="divide50"></div>