<div class="breadcrumb-wrap">
	<div class="container">
		<div class="row">
			<div class="col-sm-6">
				<h4>Videos</h4>
			</div>
			<div class="col-sm-6 hidden-xs text-right">
				<ol class="breadcrumb">
					<li><a href="#/">Le Beau Visage</a></li>
					<li>Videos</li>
				</ol>
			</div>
		</div>
	</div>
</div>
<section>

	<!--<div class="col-sm-3 hidden-xs">
		<section style="height: 500px; overflow-y: scroll; padding: 8px;">
			<div>
				<a href="#/Video/1">
					<div class="thumbnail">
						<h3 class="heading">Video Title</h3>
						<img src="http://placehold.it/320x150" alt="">
					</div>
				</a>
				<a href="#/Video/1">
					<div class="thumbnail">
						<h3 class="heading">Video Title</h3>
						<img src="http://placehold.it/320x150" alt="">
					</div>
				</a>
				<a href="#/Video/1">
					<div class="thumbnail">
						<h3 class="heading">Video Title</h3>
						<img src="http://placehold.it/320x150" alt="">
					</div>
				</a>
				<a href="#/Video/1">
					<div class="thumbnail">
						<h3 class="heading">Video Title</h3>
						<img src="http://placehold.it/320x150" alt="">
					</div>
				</a>
				<a href="#/Video/1">
					<div class="thumbnail">
						<h3 class="heading">Video Title</h3>
						<img src="http://placehold.it/320x150" alt="">
					</div>
				</a>
				<a href="#/Video/1">
					<div class="thumbnail">
						<h3 class="heading">Video Title</h3>
						<img src="http://placehold.it/320x150" alt="">
					</div>
				</a>
			</div>
		</section>
	</div>-->

	<div class="col-md-12 theater">
		<div class="col-md-offset-3">
			
			<h3 style="color: white"><a href="#/Videos"><small style="color: white">Back</small></a> - {{Video.Title}}</h3>
		</div>
		<div class="col-md-6 col-md-offset-3">
			<div ng-include="template"></div>
		</div>
	</div>
</section>
<section id="cta-1">
	<div class="container">
		<h1>Subscribe to our Youtube Channel</h1>
		<a href="https://www.youtube.com/user/LeBeauVisageMedicalS" class="btn border-white btn-lg">Go to Youtube</a>
	</div>
</section>

