<div class="breadcrumb-wrap">
	<div class="container">
		<div class="row">
			<div class="col-sm-6">
				<h4>Videos</h4>
			</div>
			<div class="col-sm-6 hidden-xs text-right">
				<ol class="breadcrumb">
					<li><a href="#/">Le Beau Visage</a></li>
					<li>Videos</li>
				</ol>
			</div>
		</div>
	</div>
</div>
<div class="divide60"></div>
<section>
	<div class="col-md-3 hidden-xs">
		<section style="height: 500px; overflow-y: scroll; padding: 8px;">
			<div>
				<a href="#/Video/1">
					<div class="thumbnail">
						<h3 class="heading">Video Title</h3>
						<img src="http://placehold.it/320x150" alt="">
					</div>
				</a>
				<a href="#/Video/1">
					<div class="thumbnail">
						<h3 class="heading">Video Title</h3>
						<img src="http://placehold.it/320x150" alt="">
					</div>
				</a>
				<a href="#/Video/1">
					<div class="thumbnail">
						<h3 class="heading">Video Title</h3>
						<img src="http://placehold.it/320x150" alt="">
					</div>
				</a>
				<a href="#/Video/1">
					<div class="thumbnail">
						<h3 class="heading">Video Title</h3>
						<img src="http://placehold.it/320x150" alt="">
					</div>
				</a>
				<a href="#/Video/1">
					<div class="thumbnail">
						<h3 class="heading">Video Title</h3>
						<img src="http://placehold.it/320x150" alt="">
					</div>
				</a>
				<a href="#/Video/1">
					<div class="thumbnail">
						<h3 class="heading">Video Title</h3>
						<img src="http://placehold.it/320x150" alt="">
					</div>
				</a>
			</div>
		</section>
	</div>

	<div class="col-md-9 theater">
		<div class="col-md-6">
			<iframe class="video-wrapper"
				   src="//www.youtube.com/embed/RyfllCRDrus"
				   frameborder="0"
				   allowfullscreen></iframe>
		</div>
		<div class="col-md-6">
			<div class="divide40"></div>
			<h3 style="color: white">Video Title</h3>
		</div>
	</div>
</section>

<div class="divide50"></div>

