<div id="page-wrapper">
	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">Products: {{PageTitle}}</h1>
		</div>
	</div>
	<div class="row">
		<div class="container">
			<div class="row">

				<div class="col-md-12">
					
					<form class="form-horizontal">
						<div class="form-group">
							<input type="text" class="form-control" placeholder="Product Name" ng-model="Product.Name">
						</div>
						<div class="form-group">
							<input type="text" class="form-control" placeholder="PayPal Id" ng-model="Product.PayPalId">
						</div>
						<div class="form-group">
							<input type="text" class="form-control" placeholder="Brand" ng-model="Product.Brand">
						</div>
						<div class="form-group">
							<input type="text" class="form-control" placeholder="Categories" ng-model="Product.Categories" ng-list>
						</div>
						<div class="form-group">
							<input type="text" class="form-control" placeholder="Image Path" ng-model="Product.ImagePath">
						</div>
						<div class="form-group">
							<input type="text" class="form-control" placeholder="Unit Price" ng-model="Product.UnitPrice">
						</div>
						<div class="form-group">
							<div text-angular placeholder="Write A Product Description" id="txtEditor" ng-model="Product.Description"></div>
						</div>
						<div class="form-group">
							<div class="col-sm-offset-2 col-sm-10">
								<button type="submit" class="btn btn-primary" ng-click="Save(Product)" ng-hide="Editing">Save</button>

								<button type="submit" class="btn btn-success" ng-click="Edit(Product)" ng-hide="!Editing">Save</button>

								<button class="btn btn-danger" ng-hide="!Editing" ng-click="Delete(Product)">Delete</button>
								
							</div>
						</div>
					</form>

				</div>

			</div>
		</div>
	</div>
</div>