<?xml version="1.0"?>
<appSettings>
	<add key="GoogleMapsAPI" value="AIzaSyD-p0ctYmBtf-GGhIqWrX6vc9iRRmL0yvw"/>
	<add key="GooglePlusAPIClientId" value="981957269772-6ofia7en3efl3ckd83m6dqes2051ko51.apps.googleusercontent.com"/>
	<add key="GooglePlusAPIClientSecret" value="JP0TaOjnUWmtoU9eGBoIhPDk"/>
	<add key="FacebookAppId" value="398790753612638"/>
	<add key="FacebookAppSecret" value="7efe33e208f7aa4ab3b760f9297002f0"/>
	<add key="SendGridUserName" value="azure_ef901de7a0d9a6c1d1c5faef36946132@azure.com"/>
	<add key="SendGridPswd" value="QQ0N7y3QzZ9F5I9"/>
</appSettings>
