<div class="divide80"></div>
	<div class="container">
		<div class="row">
			<div class="col-md-4 hidden-sm">
				<div class="row cart-items-list">
					<div class="col-md-12 margin20 wow animated fadeInRight animated" style="visibility: visible; -webkit-animation: fadeInRight;">
						<div class="price-wrap">
							<div class="price-title">
								<h4>Your Cart</h4>
							</div><!--price title-->
							<div class="price-price popular">
								$129.99
								<span>Total</span>
							</div><!--price price-->
							<div class="price-price">
								$9.99
								<span>Item 1</span>
							</div><!--price price-->
							<div class="price-features">
								<ul class="list-unstyled">
									<li>Item 1 Name : Category</li>
									<li><input type="string" name="name" placeholder="Quantity"/></li>
									<li><a>Remove Item</a></li>
								</ul>
							</div><!--price features-->
							<div class="price-price">
								$9.99
								<span>Item 2</span>
							</div><!--price price-->
							<div class="price-features">
								<ul class="list-unstyled">
									<li>Item 2 Name : Category</li>
									<li><input type="string" name="name" placeholder="Quantity" /></li>
									<li><a>Remove Item</a></li>
								</ul>
							</div><!--price features-->
						</div><!--price-wrap-->
					</div><!--price col-->
				</div>
			</div>
			<div class="col-md-8 col-xs-12 service-3-meta">
				<h1>View cart and <span class="colored-text">Checkout</span></h1>
				<div class="services-box margin30">
					<div class="services-box-icon">
						<i class="fa fa-tablet"></i>
					</div><!--services icon-->
					<div class="services-box-info">
						<h4>We use PayPal <i class="fa fa-cc-paypal"></i></h4>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing metus. elit. Quisque rutrum pellentesque imperdiet.
						</p>
					</div>
				</div><!--service box-->
				<div class="services-box margin30">
					<div class="services-box-icon">
						<i class="fa fa-twitter"></i>
					</div><!--services icon-->
					<div class="services-box-info">
						<h4>One Click Registration</h4>
						<p>
							Register with using your google or Twitter account and checkout. Alternatively you
							can complete our quick registration form before you checkout.
						</p>
					</div>
				</div><!--service box-->
				<a href="#/Market/Purchase/Success" class="btn btn-block btn-theme-dark">Checkout  <i class="fa fa-shopping-cart"></i></a>

			</div>
		</div>
	</div>
<div class="divide60"></div>
	

