<div class="divide80"></div>
<div class="container">
	<div class="row">
		<div class="col-md-12 col-xs-12 service-3-meta">
			<h1>Your purchase was a <span class="colored-text">Success!</span></h1>
			<div class="services-box margin30">
				<div class="services-box-icon">
					<i class="fa fa-tablet"></i>
				</div><!--services icon-->
				<div class="services-box-info">
					<h4>Lorem ipsum dolor</h4>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing metus. elit. Quisque rutrum pellentesque imperdiet.
					</p>
				</div>
			</div><!--service box-->
			<div class="services-box margin30">
				<div class="services-box-icon">
					<i class="fa fa-share-alt"></i>
				</div><!--services icon-->
				<div class="services-box-info">
					<h4>Follow & Share Us on </h4>
					<ul class="list-inline social-1">
						<li><a href="#"><i class="fa fa-facebook"></i></a></li>
						<li><a href="#"><i class="fa fa-twitter"></i></a></li>
						<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
						<li><a href="#"><i class="fa fa-pinterest"></i></a></li>
						<li><a href="#"><i class="fa fa-dribbble"></i></a></li>
					</ul>
				</div>
			</div><!--service box-->
		</div>
	</div>
</div>
<div class="divide60"></div>
