<div class="breadcrumb-wrap">
	<div class="container">
		<div class="row">
			<div class="col-sm-6">
				<h4>leBeau visage market</h4>
			</div>
			<div class="col-sm-6 hidden-xs text-right">
				<ol class="breadcrumb">
					<li><a href="index.html">Market</a></li>
					<li>Home</li>
				</ol>
			</div>
		</div>
	</div>
</div>

<div class="divide80"></div>
<div class="container">
	<div class="row">
		<div class="col-md-3">

			<div class="sidebar-box margin40">
				<h4><a href="#/Market">go The Market</a></h4>
				<ul class="list-unstyled cat-list visible-md visible-lg">
					<li ng-repeat="category in Categories"><a href="#/Market/Products/{{category.Name}}">{{category.Name}}</a> <i class="fa fa-angle-right"></i></li>
				</ul>

				<ul class="portfolio-filters text-center cat-list visible-sm visible-xs">
					<li class="filter" ng-repeat="category in Categories"><a href="#/Market/Products/{{category.Name}}">{{category.Name}}</a></li>
				</ul>
			</div><!--sidebar-box-->

			<div class="sidebar-box margin40">
				<h4>Purchase a Gift Card</h4>
				<p>
					Purchase a gift card for ..., consectetur adipiscing elit. Integer lorem quam, adipiscing condimentum tristique vel, eleifend sed turpis. Pellentesque cursus arcu id magna euismod in elementum purus molestie.
				</p>
			</div><!--sidebar-box-->
		</div>

		<div class="col-md-8 col-md-offset-1">

			<div class="dropdown">
				<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
					Choose Your GiftCard
					<span class="caret"></span>
				</button>
				<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
					<li role="presentation"><a role="menuitem" tabindex="-1" href="#">$500</a></li>
					<li role="presentation"><a role="menuitem" tabindex="-1" href="#">$250</a></li>
					<li role="presentation"><a role="menuitem" tabindex="-1" href="#">$100</a></li>
					<li role="presentation"><a role="menuitem" tabindex="-1" href="#">$50</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>