<div class="breadcrumb-wrap">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h4>leBeau visage market</h4>
            </div>
            <div class="col-sm-6 hidden-xs text-right">
                <ol class="breadcrumb">
                    <li><a href="index.html">Market</a></li>
                    <li>Home</li>
                </ol>
            </div>
        </div>
    </div>
</div>

<div class="divide80"></div>
<div class="container">
    <div class="row">
        <div class="col-md-3">

            <div class="sidebar-box margin40">
                <h4><a href="#/Market">Go The Market</a></h4>
                <ul class="list-unstyled cat-list visible-md visible-lg">
                    <li ng-repeat="category in Categories"><a href="#/Market/Products/{{category.Name}}">{{category.Name}}</a> <i class="fa fa-angle-right"></i></li>
                </ul>

                <ul class="portfolio-filters text-center cat-list visible-sm visible-xs">
                    <li class="filter" ng-repeat="category in Categories"><a href="#/Market/Products/{{category.Name}}">{{category.Name}}</a></li>
                </ul>
            </div><!--sidebar-box-->

            <div class="sidebar-box margin40">
                <h4>Purchase a Gift Card</h4>
                <p>
                    Purchase a gift card for ..., consectetur adipiscing elit. Integer lorem quam, adipiscing condimentum tristique vel, eleifend sed turpis. Pellentesque cursus arcu id magna euismod in elementum purus molestie.
                </p>
            </div><!--sidebar-box-->
        </div>

        <div class="col-md-8 col-md-offset-1">
            <div class="row">
                <div class="col-md-6 margin20">
                    <h3 class="heading">Le Beau Visage Gift Cards</h3>
                    <p>
                        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni. Dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum
                    </p>
                    
			 	<select class="selectpicker">
			   		<option>Choose Your GiftCard</option>
			 		<option>$500</option>
			 		<option>$250</option>
			 		<option>$100</option>
			   		<option>$50</option>
			 	</select>
                </div>
                <div class="col-md-6 wrapper">
                    <div class="ribbon-wrapper-green"><div class="ribbon-green">HOT</div></div>
                    <img src="../../../../Content/Images/winter.jpg" class="img-responsive" />
                </div>
            </div>
            <div class="divide60"></div>
        </div>
    </div>
</div>