<section class="container">
	<div class="breadcrumb-wrap visible-sm visible-md visible-lg">
		<div class="container">
			<div class="row">
				<img class="pull-right  header-img" src="../../../Content/Images/Market/Market.png" />
			</div>
		</div>
	</div>
</section>

<section class="page-content">
	<div class="divide80"></div>
	<div class="container">
		<div class="row">
			<div class="col-md-3">

				<div class="sidebar-box margin40">

					<h4 class="heading visible-md visible-lg"><a href="#/Market">Products</a></h4>

					<ul class="list-unstyled cat-list visible-md visible-lg">
						<li ng-repeat="category in Categories"><a href="#/Market/Products/{{category.Name}}">{{category.Name}}</a> <i class="fa fa-angle-right"></i></li>
						<li><a href="#search"><i class="fa fa-search"></i> Search</a></li>
					</ul>
					<div class="dr-menu visible-sm visible-xs {{YouTubeMenu}}">
						<div class="dr-trigger" ng-click="MenuTrigger()">
							<span class="dr-icon dr-icon-settings"></span>
							<a class="dr-label">Menu</a>
						</div>
						<div ng-show="open" class="subNav">
							<ul>
								<li ng-repeat="category in Categories">
									<a href="#/Market/Products/{{category.Name}}">{{category.Name}}</a> <i class="fa fa-angle-right"></i>
								</li>
							</ul>
						</div>
					</div>

				</div><!--sidebar-box-->
			</div>
			<div class="col-md-9">
				<div class="row">
					<h1 class="heading featuredProducts">Featured Products</h1>
					<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4" ng-repeat="product in FeaturedProducts track by $index" ng-show="$index < 3">
						
						<div class="thumbnail">
							<p>
								<a href="#/Market/Item/{{product.Id}}">{{product.Name}}</a>
							</p>
							<a href="#/Market/Item/{{product.Id}}"><img src="{{product.ImagePath}}" class="product_index" style="height: 200px;"></a>
							<div class="caption">
								<h4 class="pull-right">{{product.UnitPrice | currency: "$"}}</h4>

								<a href="#/Market/Item/{{product.Id}}" class="btn border-theme">Details</a>
							</div>
						</div>


					</div>
					<div class="clearfix visible-md visible-lg"></div>
					<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4" ng-repeat="product in FeaturedProducts track by $index" ng-show="$index > 2">

						<div class="thumbnail">
							<p>
								<a href="#/Market/Item/{{product.Id}}">{{product.Name}}</a>
							</p>
							<img src="{{product.ImagePath}}" class="product_index" style="height: 200px;">
							<div class="caption">
								<h4 class="pull-right">{{product.UnitPrice | currency: "$"}}</h4>

								<a href="#/Market/Item/{{product.Id}}" class="btn border-theme">Details</a>
							</div>
						</div>


					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<script>
		$(function () {
			$('a[href="#search"]').on('click', function (event) {
				event.preventDefault();
				$('#search').addClass('open');
				$('#search > form > input[type="search"]').focus();
			});

			$('#search, #search button.close').on('click keyup', function (event) {
				if (event.target == this || event.target.className == 'close' || event.keyCode == 27) {
					$(this).removeClass('open');
				}
			});


			//Do not include! This prevents the form from submitting for DEMO purposes only!
			$('form').submit(function (event) {
				event.preventDefault();
				return false;
			})
		});
</script>