<section class="container">
	<div class="breadcrumb-wrap visible-sm visible-md visible-lg">
		<div class="container">
			<div class="row">
				<img class="pull-right" src="../../../Content/Images/Market/Market.png" />
			</div>
		</div>
	</div>
</section>

<section class="page-content">
	<div class="divide80"></div>
	<div class="container">
		<div class="row">
			<div class="col-md-3">

				<div class="sidebar-box margin40">
					<!--<h4 class="heading visible-md visible-lg"><a href="#/Market/Special/GiftCards"><i class="fa fa-gift"></i> Gift Cards</a></h4>-->

					<h4 class="heading visible-md visible-lg"><a href="#/Market">Products</a></h4>

					<ul class="list-unstyled cat-list visible-md visible-lg">
						<li ng-repeat="category in Categories"><a href="#/Market/Products/{{category.Name}}">{{category.Name}}</a> <i class="fa fa-angle-right"></i></li>
					</ul>

					<!--<ul class=" portfolio-filters text-center visible-sm visible-xs">
						<li class="filter" ng-repeat="category in Categories"><a href="#/Market/Products/{{category.Name}}">{{category.Name}}</a></li>
					</ul>-->

					<div class="dr-menu visible-sm visible-xs {{YouTubeMenu}}">
						<div class="dr-trigger" ng-click="MenuTrigger()">
							<span class="dr-icon dr-icon-settings"></span>
							<a class="dr-label">Market Menu</a>
						</div>
						<div ng-show="open" class="subNav">
							<ul>
								<li ng-repeat="category in Categories"><a href="#/Market/Products/{{category.Name}}">{{category.Name}}></a><i class="fa fa-angle-right"></i></li>
							</ul>
						</div>
					</div>

				</div><!--sidebar-box-->
			</div>
			<div class="col-md-9">
				<div class="row">
					<div class="col-sm-4 col-lg-4 col-md-4" ng-repeat="product in FeaturedProducts track by $index | limitTo: 5">

						<div class="thumbnail">
							<p>
								<a href="#/Market/Item/{{product.Id}}">{{product.Name}}</a>
							</p>
							<img src="{{product.ImagePath}}" class="product_index" style="height: 200px;">
							<div class="caption">
								<h4 class="pull-right">{{product.UnitPrice | currency: "$"}}</h4>

								<a href="#/Market/Item/{{product.Id}}" class="btn border-theme">View Details</a>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
</section>