<div class="breadcrumb-wrap">
	<div class="container">
		<div class="row">
			<div class="col-sm-6">
				<h4>leBeau visage market</h4>
			</div>
			<div class="col-sm-6 hidden-xs text-right">
				<ol class="breadcrumb">
					<li><a href="index.html">Market</a></li>
					<li>Home</li>
				</ol>
			</div>
		</div>
	</div>
</div>

<div class="divide80"></div>
<div class="container">
	<div class="row">
		<div class="col-md-3">

			<div class="sidebar-box margin40">
				<h4 class="heading"><a href="#/Market/Special/GiftCards"><i class="fa fa-gift"></i> Gift Cards</a></h4>

				<h4 class="heading"><a href="#/Market">Products</a></h4>

				<ul class="list-unstyled cat-list visible-md visible-lg">
					<li ng-repeat="category in Categories"><a href="#/Market/Products/{{category.Name}}">{{category.Name}}</a> <i class="fa fa-angle-right"></i></li>
				</ul>

				<ul class=" portfolio-filters text-center visible-sm visible-xs">
					<li class="filter" ng-repeat="category in Categories"><a href="#/Market/Products/{{category.Name}}">{{category.Name}}</a></li>
				</ul>
				<div class="divide20"></div>
				<h4 class="heading"><a href="#/Market">Treatment Packages</a></h4>

				<ul class="list-unstyled cat-list visible-md visible-lg">
					<li><a href="#/Market/Treatments/Botox">Botox</a> <i class="fa fa-angle-right"></i></li>
				</ul>

				<ul class="portfolio-filters text-center visible-sm visible-xs">
					<li class="filter"><a href="#/Market/Treatments/Botox">Botox</a></li>
				</ul>
</div><!--sidebar-box-->
		</div>

		<div class="col-md-8 col-md-offset-1">
			<div class="row">
				<div class="col-md-6 margin20">
					<h3 class="heading">Best Seller</h3>
					<p>
						Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni. Dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum
					</p>
					<p><a href="#/Market/Product/1" class="btn btn-theme-bg">Details</a></p>
				</div>
				<div class="col-md-6 wrapper">
					<div class="ribbon-wrapper-green"><div class="ribbon-green">HOT</div></div>
					<img src="../../../../Content/Images/winter.jpg" class="img-responsive" />
				</div>
			</div>
			<div class="divide60"></div>
			<div class="row">
				<div class="col-md-12 margin20">
					<h3 class="heading">Featured Products By Category</h3>
				</div>
			</div>
			<div class="divide60"></div>
			<div class="row">
				<div class="col-md-3 margin20">
					<div class="team-wrap">
						<img src="../../../../Content/Images/mother.jpg" class="img-responsive" />
						<h4>Jolly smith</h4>
						<span>Web Designer</span>
						<ul class="list-inline social-1">
							<li><a href="#"><i class="fa fa-facebook"></i></a></li>
							<li><a href="#"><i class="fa fa-twitter"></i></a></li>
							<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
						</ul><!--social-->
					</div><!--team-wrap-->
				</div><!--team col-->
				<div class="col-md-3 margin20">
					<div class="team-wrap">
						<img src="../../../../Content/Images/mother.jpg" class="img-responsive" />
						<h4>Jolly smith</h4>
						<span>Web Designer</span>
						<ul class="list-inline social-1">
							<li><a href="#"><i class="fa fa-facebook"></i></a></li>
							<li><a href="#"><i class="fa fa-twitter"></i></a></li>
							<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
						</ul><!--social-->
					</div><!--team-wrap-->
				</div><!--team col-->
				<div class="col-md-3 margin20">
					<div class="team-wrap">
						<img src="../../../../Content/Images/mother.jpg" class="img-responsive" />
						<h4>Jolly smith</h4>
						<span>Web Designer</span>
						<ul class="list-inline social-1">
							<li><a href="#"><i class="fa fa-facebook"></i></a></li>
							<li><a href="#"><i class="fa fa-twitter"></i></a></li>
							<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
						</ul><!--social-->
					</div><!--team-wrap-->
				</div><!--team col-->
				<div class="col-md-3 margin20">
					<div class="team-wrap">
						<img src="../../../../Content/Images/mother.jpg" class="img-responsive" />
						<h4>Jolly smith</h4>
						<span>Web Designer</span>
						<ul class="list-inline social-1">
							<li><a href="#"><i class="fa fa-facebook"></i></a></li>
							<li><a href="#"><i class="fa fa-twitter"></i></a></li>
							<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
						</ul><!--social-->
					</div><!--team-wrap-->
				</div><!--team col-->
			</div>
		</div>
	</div>
</div>