<div class="breadcrumb-wrap">
	<div class="container">
		<div class="row">
			<div class="col-sm-6">
				<h4>leBeau visage market</h4>
			</div>
			<div class="col-sm-6 hidden-xs text-right">
				<ol class="breadcrumb">
					<li><a href="#/">Market</a></li>
					<li>Home</li>
				</ol>
			</div>
		</div>
	</div>
</div>

<div class="divide80"></div>
<div class="container">
	<div class="row">
		<div class="col-md-3">
		</div>

		<div class="col-md-8 col-md-offset-1">
			<div class="mix col-sm-8 page1 page4 margin30 mix_all" style="display: inline-block; opacity: 1;">
				<div class="item-img-wrap ">
					<img src="../../../Images/coffee-569178_1280.jpg" class="img-responsive" alt="coffee" />
					<div class="item-img-overlay">
						<a href="img/img-1.jpg" class="show-image">
							<span></span>
						</a>
					</div>
				</div>
				<div class="work-desc">
					<h3><a href="portfolio-single.html">{{Product.Name}}</a></h3>
					<span>Product Category or Brand slogan</span>
				</div><!--work desc-->
			</div>
			<div class="col-md-4 margin20 wow animated fadeInRight animated" style="visibility: visible; -webkit-animation: fadeInRight;">
				<div class="price-wrap">
					<div class="price-title">
						<h4>{{Product.Brand}}</h4>
					</div><!--price title-->
					<div class="price-price popular">
						{{Product.UnitPrice | currency:"$"}}
						<span>Per Month</span>
					</div><!--price price-->
					<div class="price-features">
						<ul class="list-unstyled">
							<li>{{Product.Brand}}</li>
							<li>5 Email account</li>
							<li>50 GB disk space</li>
							<li>1 year validity</li>
							<li>Phone / email support</li>
						</ul>
					</div><!--price features-->
					<div class="price-action">
					</div><!--price action-->
				</div><!--price-wrap-->
			</div>
			<div class="col-md-12">
				
				<button class="btn btn-theme-bg btn-block" ng-click="AddToCart(Product, Quantity)">Add To Cart</button>
				<label for="quantity">How Many</label>
				<input name="quantity" type="number" value="1" min="1" ng-model="Quantity"/>
				<p class="lead">
					{{Product.Name}}
				</p><hr>
				<p>
					{{Product.Description}}
				</p>
			</div>
		</div>
	</div>
</div>
