<section class="container">
	<div class="breadcrumb-wrap visible-sm visible-md visible-lg">
		<div class="container">
			<div class="row">
				<img class="pull-right  header-img" src="../../../Content/Images/Market/Market.png" />
			</div>
		</div>
	</div>
</section>

<section class="page-content">
	<div class="divide80 visible-md visible-lg"></div>
	<div class="container">
		<div class="row">
			<div class="col-md-3">

				<div class="sidebar-box margin40">
					<h4 class="visible-md visible-lg"><a href="#/Market">Products</a></h4>
					<ul class="list-unstyled cat-list visible-md visible-lg">
						<li ng-repeat="category in Categories"><a href="#/Market/Products/{{category.Name}}">{{category.Name}}</a> <i class="fa fa-angle-right"></i></li>
						<li><a href="#search"><i class="fa fa-search"></i> Search</a></li>
					</ul>
					<div class="dr-menu visible-sm visible-xs {{YouTubeMenu}}">
						<div class="dr-trigger" ng-click="MenuTrigger()">
							<span class="dr-icon dr-icon-settings"></span>
							<a class="dr-label">Menu</a>
						</div>
						<div ng-show="open" class="subNav">
							<ul>
								<li ng-repeat="category in Categories"><a href="#/Market/Products/{{category.Name}}">{{category.Name}}</a><i class="fa fa-angle-right"></i></li>
							</ul>
						</div>
					</div>
				</div><!--sidebar-box-->
			</div>

			<div class="col-md-9">

				<div class="col-sm-12">
					<h1 class="heading">
						{{Category}}
					</h1>
					<section class="pull-right">
						<button class="{{OrderBy.LoHiClass}}" ng-click="LoHi()">Lo to Hi</button>
						<button class="{{OrderBy.HiLoClass}}" ng-click="HiLo()">Hi to Lo</button>
					</section>
				</div>
				<br /><br />
				

				<!--SubCategories-->
				<!--<pager total-items="BrandProducts.length" ng-model="currentPage"></pager> Not working correctly with HiLo Buttons --> 
				<!-- | limitTo: 6" ng-show="$index >= currentPage - 1 && $index < currentPage + 5" extra stuf for pagination - GOES ON DIV BELOW ROW DIV-->
				<div class="row">
					<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6" ng-repeat-start="product in BrandProducts| filter: { Brand : Category} | orderBy: OrderBy.Parameter">
						<div class="thumbnail">
							<div class="item-img-wrap ">
								<div class="img-wrap">
									<img ng-src="{{product.ImagePath}}" class="img-responsive productlist-image" alt="" />
								</div>
								<div class="item-img-overlay">
									<a href="#/Market/Item/{{product.Id}}" class="show-image">
										<span></span>
									</a>
								</div>
							</div>
							<div class="work-desc">
								<p><a href="#/Market/Item/{{product.Id}}">{{product.Name}}</a></p>
								<div class="caption">
									<h4 class="pull-right">{{product.UnitPrice | currency: "$"}}</h4>

									<a href="#/Market/Item/{{product.Id}}" class="btn border-theme">Details</a>
								</div>
							</div><!--work desc-->
						</div>
					</div>
					<div ng-repeat-end ng-if="$index + 1 % 2 === 0 && $index > 0" class="clear"></div>
				</div>
			</div>
		</div>
	</div>
	<div class="divide80"></div>
</section>
<script>
		$(function () {
			$('a[href="#search"]').on('click', function (event) {
				event.preventDefault();
				$('#search').addClass('open');
				$('#search > form > input[type="search"]').focus();
			});

			$('#search, #search button.close').on('click keyup', function (event) {
				if (event.target == this || event.target.className == 'close' || event.keyCode == 27) {
					$(this).removeClass('open');
				}
			});


			//Do not include! This prevents the form from submitting for DEMO purposes only!
			$('form').submit(function (event) {
				event.preventDefault();
				return false;
			})
		});
</script>