<div class="breadcrumb-wrap">
	<div class="container">
		<div class="row">
			<div class="col-sm-6">
				<h4>leBeau visage market</h4>
			</div>
			<div class="col-sm-6 hidden-xs text-right">
				<ol class="breadcrumb">
					<li><a href="index.html">Market</a></li>
					<li>Home</li>
				</ol>
			</div>
		</div>
	</div>
</div>

<div class="divide80"></div>
<div class="container">
	<div class="row">
		<div class="col-md-3">

			<div class="sidebar-box margin40">
				<h4><a href="#/Market">Products</a></h4>
				<ul class="list-unstyled cat-list visible-md visible-lg">
					<li ng-repeat="category in Categories"><a href="#/Market/Products/{{category.Name}}">{{category.Name}}</a> <i class="fa fa-angle-right"></i></li>
				</ul>

				<ul class="portfolio-filters text-center cat-list visible-sm visible-xs">
					<li class="filter" ng-repeat="category in Categories"><a href="#/Market/Products/{{category.Name}}">{{category.Name}}</a></li>
				</ul>
			</div><!--sidebar-box-->

			<div class="sidebar-box margin40">
				<h4>Text widget</h4>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer lorem quam, adipiscing condimentum tristique vel, eleifend sed turpis. Pellentesque cursus arcu id magna euismod in elementum purus molestie.
				</p>
			</div><!--sidebar-box-->
		</div>

		<div class="col-md-8 col-md-offset-1">

			<div class="col-md-8 col-lg-offset-4">
				<p class="lead">
					{{Category}}
				</p><hr>
			</div>

			<!--SubCategories-->

			<div id="grid">
				<section class="row productlist col-md-10">
					<div class="col-md-6" ng-repeat="product in Products | filter: { Brand : Category}">
						<div class="mix" style="display: inline-block; opacity: 1;">
							<div class="item-img-wrap ">
								<img src="../../Content/Images/coffee-569178_1280.jpg" class="img-responsive" alt="Product Name">

								<div class="item-img-overlay">
									<a href="#/Market/Item/{{product.Id}}" class="show-image">
										<span></span>
									</a>
								</div>
							</div>
							<div class="work-desc">
								<h3><a href="#/Market/Item/{{product.Id}}">{{product.Name}}</a></h3>
								<span>{{product.UnitPrice | currency : "$"}}</span>
							</div><!--work desc-->
						</div>
					</div>
				</section>
			</div>
		</div>
	</div>
</div>