<div id="page-wrapper">
	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">---{{test}}--Manage-</h1>
		</div>
	</div>
	<div class="row">
		<div class="container">
			<div class="row">

				<div class="col-md-12">
					<h4>Blogs</h4>
					<div class="table-responsive">

						<table id="mytable" class="table table-bordred table-striped">

							<thead>
								<th>Title</th>
								<th>Author</th>
								<th>Live</th>
								<th>Edit</th>
								<th>Delete</th>
							</thead>
							<tbody>
								<tr ng-repeat="post in Posts" class="{{post.Public}}">
									<td>{{post.Title}}</td>
									<td>{{post.Author}}</td>
									<td>{{post.Public}}</td>
									<td><p><button ng-click="EditLink(post)" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-pencil"></span></button></p></td>
									<td><p><button class="btn btn-danger btn-xs" ng-click="Delete(post)"><span class="glyphicon glyphicon-trash"></span></button></p></td>
								</tr>

							</tbody>

						</table>

						<div class="clearfix"></div>

					</div>

				</div>

				<!--<div class="col-md-12">
					<h4>Categories</h4>
					<div class="table-responsive">

						<table id="mytable" class="table table-bordred table-striped">

							<thead>
							<th><input type="checkbox" id="checkall" /></th>
							<th>Name</th>
							<th>View</th>
							<th>My Delete</th>
							</thead>
							<tbody ng-repeat="category in Categories">
								<tr>
									<td><input type="checkbox" class="checkthis" /></td>
									<td>{{category.Name}}</td>
									<td><p><button ng-click="cEdit(category)" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-pencil"></span></button></p></td>
									<td><p><button class="btn btn-danger btn-xs" ng-click="cDelete(category)"><span class="glyphicon glyphicon-trash"></span></button></p></td>
								</tr>

							</tbody>

						</table>

						<div class="clearfix"></div>
						<a href="#/Blogs/Category/New" class="btn btn-primary">Create a new Category</a>
						<ul class="pagination pull-right">
							<li class="disabled"><a><span class="glyphicon glyphicon-chevron-left"></span></a></li>
							<li class="active"><a>1</a></li>
							<li><a>2</a></li>
							<li><a>3</a></li>
							<li><a>4</a></li>
							<li><a>5</a></li>
							<li><a><span class="glyphicon glyphicon-chevron-right"></span></a></li>
						</ul>

					</div>

				</div>-->
			</div>
		</div>

	</div>
</div>
