<div class="breadcrumb-wrap visible-md visible-lg">
	<div class="container">
		<div class="row">
			<img class="pull-right header-img" src="../../../Content/Images/PatientResources/Resources.png" />
		</div>
	</div>
</div>
<section class="page-content">
	<div class="divide80 visible-md visible-lg"></div>

	<div class="container">
		<div class="row">
			<div class="col-md-3">

				<div class="sidebar-box margin40">
					<div class="visible-md visible-lg">
						<!-- affix class was here-->
						<h4><i class="fa fa-angle-left"></i> <a href="#/Resources">Back to Patient Resource</a></h4>
						<h3><a ng-click="SetTemplate('Index-FactSheets')">Overview</a></h3>
						<ul class="list-unstyled cat-list visible-md visible-lg">
							<li> <a ng-click="SetTemplate('LSH')">Laser Hair Removal</a> <i class="fa fa-angle-right"></i></li>
							<li> <a ng-click="SetTemplate('LV')">Leg Vein</a> <i class="fa fa-angle-right"></i></li>
							<li> <a ng-click="SetTemplate('Scl')">Sclerotherapy</a> <i class="fa fa-angle-right"></i></li>
							<li> <a ng-click="SetTemplate('IPL')">IPL</a> <i class="fa fa-angle-right"></i></li>
							<li> <a ng-click="SetTemplate('NonTCA')">Non-TCA Peel</a> <i class="fa fa-angle-right"></i></li>
							<li> <a ng-click="SetTemplate('LFLV')">Laser Facial/Leg Vein</a> <i class="fa fa-angle-right"></i></li>
						</ul>
					</div>
					<div class="dr-menu visible-sm visible-xs {{YouTubeMenu}}">
						<div class="dr-trigger" ng-click="MenuTrigger()">
							<span class="dr-icon dr-icon-settings"></span>
							<a class="dr-label">Fact Sheet Menu</a>
						</div>
						<div ng-show="open" class="subNav">
							<ul>
								<li class="filter"> <a ng-click="SetTemplate('LSH')">Laser Hair Removal</a><i class="fa fa-angle-right"></i></li>
								<li class="filter"> <a ng-click="SetTemplate('Fraxel')">Fraxel</a><i class="fa fa-angle-right"></i></li>
								<li class="filter"> <a ng-click="SetTemplate('LV')">Leg Vein</a><i class="fa fa-angle-right"></i></li>
								<li class="filter"> <a ng-click="SetTemplate('Scl')">Sclerotherapy</a><i class="fa fa-angle-right"></i></li>
								<li class="filter"> <a ng-click="SetTemplate('IPL')">IPL</a><i class="fa fa-angle-right"></i></li>
								<li class="filter"> <a ng-click="SetTemplate('NonTCA')">Non-TCA Peel</a><i class="fa fa-angle-right"></i></li>
								<li class="filter"> <a ng-click="SetTemplate('LFLV')">Laser Facial/Leg Vein</a><i class="fa fa-angle-right"></i></li>
							</ul>
						</div>
					</div>
				</div><!--sidebar-box-->
			</div>
			<div class="col-md-8 col-md-offset-1" ng-init="SetTemplate('Index-FactSheets')">
				<div class="mobile-container">
					<div ng-include="template.url"></div>
				</div>
			</div>
		</div>
	</div>
	<div class="divide70"></div>
</section>
