<div class="breadcrumb-wrap">
	<div class="container">
		<div class="row">
			<div class="col-sm-6">
				<h4>Patient Resources - Fact Sheets</h4>
			</div>
		</div>
	</div>
</div>

<div class="divide80"></div>
<div class="container">
	<div class="row">
		<div class="col-md-3">

			<div class="sidebar-box margin40">
				<h4><i class="fa fa-angle-left"></i> <a href="#/Resources">Back to Patient Resource</a></h4>
				<ul class="list-unstyled cat-list visible-md visible-lg">
					<li> <a ng-click="SetTemplate('LSH')">Laser Hair Removal</a> <i class="fa fa-angle-right"></i></li>
					<li> <a ng-click="SetTemplate('Fraxel')">Fraxel</a> <i class="fa fa-angle-right"></i></li>
					<li> <a ng-click="SetTemplate('LV')">Leg Vein</a> <i class="fa fa-angle-right"></i></li>
					<li> <a ng-click="SetTemplate('Scl')">Sclerotherapy</a> <i class="fa fa-angle-right"></i></li>
					<li> <a ng-click="SetTemplate('IPL')">IPL</a> <i class="fa fa-angle-right"></i></li>
					<li> <a ng-click="SetTemplate('NonTCA')">Non-TCA Peel</a> <i class="fa fa-angle-right"></i></li>
					<li> <a ng-click="SetTemplate('LFLV')">Laser Facial/Leg Vein</a> <i class="fa fa-angle-right"></i></li>
				</ul>
				<ul class="portfolio-filters text-center visible-sm visible-xs">
					<li class="filter"> <a ng-click="SetTemplate('LSH')">Laser Hair Removal</a></li>
					<li class="filter"> <a ng-click="SetTemplate('Fraxel')">Fraxel</a></li>
					<li class="filter"> <a ng-click="SetTemplate('LV')">Leg Vein</a></li>
					<li class="filter"> <a ng-click="SetTemplate('Scl')">Sclerotherapy</a></li>
					<li class="filter"> <a ng-click="SetTemplate('IPL')">IPL</a></li>
					<li class="filter"> <a ng-click="SetTemplate('NonTCA')">Non-TCA Peel</a></li>
					<li class="filter"> <a ng-click="SetTemplate('LFLV')">Laser Facial/Leg Vein</a></li>
				</ul>
			</div><!--sidebar-box-->

			<div class="sidebar-box margin40">
				<h4>Text widget</h4>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer lorem quam, adipiscing condimentum tristique vel, eleifend sed turpis. Pellentesque cursus arcu id magna euismod in elementum purus molestie.
				</p>
			</div><!--sidebar-box-->
		</div>
		<div class="col-md-8 col-md-offset-1" ng-init="SetTemplate('Index-FactSheets')">
			<div ng-include="template.url"></div>
		</div>
	</div>
</div>
