<div class="breadcrumb-wrap visible-md visible-lg">
	<div class="container">
		<div class="row">
			<img class="pull-right  header-img" src="../../../Content/Images/PatientResources/Resources.png" />
		</div>
	</div>
</div>
<section class="page-content">
	<div class="divide80 visible-md visible-lg"></div>

	<div class="container">
		<div class="row">
			<div class="col-md-3">

				<div class="sidebar-box margin40">
					<h4><i class="fa fa-angle-left"></i> <a href="#/Resources">Back To Patient Resources</a></h4>
				</div><!--sidebar-box-->
			</div>

			<div class="col-md-8 col-md-offset-1">
				<div class="mobile-container">
					<h2>New Patients</h2>
					<p>
						Le Beau Visage is always accepting new patients. Below you will find links to our Hippa, Privacy, and Cancellation policies, as well a Health Information Form that you can fill out and bring to your first appointment. If you have any questions, feel free to call us at (214) 705-7676 or fill out our Free Consultation form to the left. We look forward to meeting with you!
					</p>
					<p><a href="../../../PDFs/HIPPA-Notice-of-Privacy-Practices.pdf"><i class="fa fa-file-pdf-o fa-2x"></i>  HIPPA Policy</a></p>
					<p><a href="../../../PDFs/NOTICE-OF-PRIVACY-PRACTICES.pdf"><i class="fa fa-file-pdf-o fa-2x"></i>  Notice of Privacy Practices</a></p>
					<p><a href="../../../PDFs/Cancellation-Policy-Consent.pdf"><i class="fa fa-file-pdf-o fa-2x"></i>  Cancellation Policy</a></p>
					<p><a href="../../../PDFs/Health-Information-Form.pdf"><i class="fa fa-file-pdf-o fa-2x"></i>  Health Information Form</a></p>

				</div><!--blog post-->
			</div>
		</div>
	</div>
</section>
