<h1>Fact Sheets</h1>

<!--<h3 class="heading">About Fact Sheets</h3>
<p>
	These helpful fact sheets give an overview of what to expect throughout the treatment process.
</p>-->

<ul class="list-unstyled cat-list">
	<li> <a ng-click="SetTemplate('LSH')">Laser Hair Removal</a></li>
	<li> <a ng-click="SetTemplate('LV')">Leg Vein</a></li>
	<li> <a ng-click="SetTemplate('Scl')">Sclerotherapy</a></li>
	<li> <a ng-click="SetTemplate('IPL')">IPL</a></li>
	<li> <a ng-click="SetTemplate('NonTCA')">Non-TCA Peel</a></li>
	<li> <a ng-click="SetTemplate('LFLV')">Laser Facial/Leg Vein</a></li>
</ul>

<div class="divide80"></div>