<div class="entry-content">
	<h1 style="text-align: center;"><b>&nbsp;</b><strong>IPL-PHOTOrejuvenation FACIAL LASER<br> Skin Care TREATMENT FACT SHEET:<br> What to expect at Le Beau in Frisco, TX</strong></h1>
	<p>&nbsp;</p>
	<p><strong>What should I do to prepare for my treatment?</strong></p>
	<ul>
		<li>The treatment area must be clean and make-up must be removed.</li>
		<li>If a prescription of numbing cream has been provided, be sure to bring your numbing cream with you to your appointment.&nbsp; Application of numbing will occur in our office.</li>
		<li>Any tanning via direct sunlight or tanning beds increases the risk of side effects and must be discontinued for the duration of your photo facial sessions.&nbsp; In addition, tanning will also greatly affect the treatment advancement and desired results.</li>
		<li>Artificial tanning products must be discontinued two weeks prior to treatments.</li>
		<li>If you are taking or have taken antibiotics within the last two weeks of the scheduled skin care treatment date, please contact our office in Frisco, TX, to determine if your appointment must be rescheduled.</li>
	</ul>
	<p><strong>How does the laser treatment work?</strong></p>
	<ul>
		<li>Depending on the desired result, the IPL can be used to treat brown tones or red tones.</li>
		<li>The IPL works by delivering a carefully, controlled variable wavelength light pulse over treatment area.</li>
	</ul>
	<p><strong>What are the benefits to IPL?</strong></p>
	<ul>
		<li>Improves sun spots, age spots, dull complexions, large pores, and sun damaged skin.</li>
		<li>Improves red flushing skin, rosacea, telangectasias, and broken capillaries.</li>
		<li>Stimulates fibroblastic activity which aids in the tissue repair process; leading to collagen production.&nbsp; Collagen is a major component providing flexibility, firmness and a more even skin tone.</li>
		<li>Increases circulation by increasing the formation of new capillaries; replacing damaged ones to assist in the healing process.</li>
		<li>Stimulates the healing process of inflamed skin; helping to heal acne and improve mild acne scars.</li>
	</ul>
	<p><strong>Does the laser treatment hurt?</strong></p>
	<ul>
		<li>When the pulse is delivered, the sensation is similar to the snap of a small rubber band.</li>
		<li>A topical anesthetic numbing cream is used to control discomfort.</li>
		<li>Treatment areas are cooled using a skin cooling system; reducing any further discomfort.</li>
	</ul>
	<p><strong>How long is the treatment?</strong></p>
	<ul>
		<li>Treatment may last 15-45 minutes; depending on the area being treated.</li>
		<li>Test spots may be done to evaluate skin response prior to FULL treatment.</li>
	</ul>
	<p><strong>How many treatments are needed?</strong></p>
	<ul>
		<li>IPL skin care treatments are provided at regular intervals; typically every four weeks in our Frisco, TX, office.</li>
		<li>Several treatments will be necessary to achieve optimal results.</li>
		<li>The clinical result as well as the optimal number of treatments varies from one individual to another.</li>
	</ul>
	<p><strong>What should I expect after the treatment?</strong></p>
	<ul>
		<li>Sun spots and age spots will darken BEFORE they begin to “pepper” and slough off.</li>
		<li>A temporary skin erythema (redness) may appear.&nbsp; This should disappear within hours.</li>
		<li>Occasionally, though rarely, blisters may appear.&nbsp; Although these should disappear within two weeks, they could lead to permanent dyschromia (pigmentation) or scarring.&nbsp; If blistering occurs from IPL skin care treatments, please contact our office in Frisco, TX, immediately.</li>
		<li>Overall skin improvements are gradual and will accelerate after each session.</li>
	</ul>
	<p>
		&nbsp;<br>
		<strong>- Le Beau Visage Med Spa | Skin Treatment McKinney TX</strong>
	</p>
</div>