
<div class="entry-content">
    <h1>Laser Hair Removal Fact Sheet</h1>
    <h4>What should I do to prepare for my treatment?</h4>
	<ul>
		<li>The treatment area must be clean.</li>
		<li>Shave the treatment area the night before OR the morning of your treatment.</li>
		<li>If a prescription for numbing cream has been provided, be sure to bring your numbing cream with you to your appointment. Application of the numbing cream will occur prior to your laser hair removal session in our office in Frisco, TX.</li>
		<li>Any tanning via direct sunlight or tanning beds increases the risk of side effects and must be discontinued for the duration of your laser hair removal sessions. Tanning will greatly affect the desired results.</li>
		<li>Artificial tanning products must be discontinued two weeks prior to scheduled treatments.</li>
		<li>If you are taking or have taken antibiotics within the last two weeks of the scheduled treatment date, please contact our office to determine if your appointment must be rescheduled.</li>
		<li>If your menstrual cycle has started or is due to start, and you are undergoing a bikini treatment, please contact our office to reschedule your appointment.<b><br> </b></li>
	</ul>
	<h4>How does the laser treatment work?</h4>
	<ul>
		<li>The laser transfers energy to the hair inhibiting hair growth.</li>
		<li>The energy is absorbed by the melanin pigments contained within the hair follicle, damaging it and preventing its ability to produce new hair.</li>
	</ul>
	<h4>Does the laser treatment hurt?</h4>
	<ul>
		<li>A slight pinching sensation indicates that the hair follicle was successfully destroyed.</li>
		<li>Before, during, and after the treatment the skin is cooled; making the treatment almost painless.</li>
		<li>A topical anesthetic numbing cream can be used to control discomfort.</li>
	</ul>
	<h4>How long is the treatment?</h4>
	<ul>
		<li>Test spots may be done to evaluate skin response prior to FULL treatment.</li>
		<li>Treatment time can take anywhere from several minutes up to one hour or more depending on the area being treated and the amount of cooling time required.<b><br> </b></li>
	</ul>
	<h4>How many treatments are needed?</h4>
	<ul>
		<li>The industry standard is 80% for hair reduction with six treatments. However, the clinical result as well as the optimal number of treatments varies from one individual to another.</li>
		<li>Hair growth takes place in cycles of “growth” and “resting” phases. It is only during the “growth” phase that the laser can affect the root of a hair.</li>
		<li>Returning to our office in Frisco, TX for follow-up laser hair removal treatments is expected at regular intervals, typically every four, six, or eight weeks; depending on the area being treated. To achieve optimal results, it is essential to adhere to the assigned treatment schedule.<b><br> </b></li>
	</ul>
	<h4>What should I expect after the treatment?</h4>
	<ul>
		<li>A temporary skin erythema (redness) and edema (swelling) of the hair follicle may appear. This should disappear within hours.</li>
		<li>Re-growth texture will be finer.</li>
		<li>The number of hair follicles and the rate of hair growth should be reduced after each treatment.</li>
		<li>A sunscreen (factor 30 or higher) must be applied on a regular daily basis; regardless of the weather conditions.</li>
		<li>Occasionally, though rarely, blisters may appear. Although these should disappear within two weeks, they could lead to permanent dyschromia (pigmentation) or scarring.Please contact our office in Frisco, TX by calling (214) 705-7676 immediately if blistering occurs from laser hair removal treatments.</li>
	</ul>
</div>