<div class="entry-content">
	<h1 style="text-align: center;">
		<strong>
			Facial and Leg Vein Treatment Fact Sheet:<br>
			What to expect from laser treatment at<br>
			Le Beau Med Spa in Frisco, TX<br>
		</strong>
	</h1>
	<p>&nbsp;</p>
	<p><strong>What side effects can occur?</strong></p>
	<p>Slight swelling, the appearance of “Cat Scratches” where the vein once was (DO NOT PICK), Blistering, Scabbing (DO NOT PICK), Reddens, Red Vein may change to a Purple color and may require addition treatments</p>
	<p><strong>Will the veins affected be gone in one treatment?</strong></p>
	<p>All laser treatments are not guaranteed, we at Le Beau strive to give you the best treatment every treatment. You may require more then one treatment at our med spa in Frisco, TX.</p>
	<p><strong>My Veins on my legs are a “cluster” and a “starburst” pattern will Laser work for me? </strong></p>
	<p>
		You may be a better candidate for sclerotherapy? Ask one of our highly trained Laser Technicians to examine your vein.<b>
			<br>
		</b>
	</p>
	<p>&nbsp;</p>
	<p><strong>*it is not recommended to have facial vein treatment done if you have pictures, special event with in one week of treatment </strong></p>
	<p align="center"><strong>**If you have any questions or concerns please contact Le Beau Visage right away 214-705-7676</strong></p>
	<p align="center">
	
</div>