<div class="entry-content">
    <h1>Laser Facial and Leg Vein Fact Sheet</h1>
	<p>Laser therapy is a noninvasive alternative for treating unsightly broken and dilated vessels as well as other unwanted vascular lesions, such as&nbsp;spider veins, rosacea, port wine stains and other vascular birthmarks, with no incision, minimal discomfort and no downtime.&nbsp; In fact, the latest advances in laser technology have made it safer, faster and more effective than almost any previous cosmetic surgery available in Texas for these conditions.</p>
	<h4>How should I prepare for my laser vein treatment?</h4>
	<ul>
		<li>Stay out of the sun. Any tanning via direct sunlight or tanning beds increases the risk of side effects and must be discontinued for the duration of your treatment. Tanning will greatly affect the desired results.</li>
		<li>Artificial tanning products must also be discontinued two weeks prior to scheduled treatments.<b><br> </b></li>
	</ul>
	<h4>How does the laser vein treatment work?</h4>
	<ul>
		<li>The laser works by emitting a specialized light that is passed through the skin and absorbed by the hemoglobin (the red portion of blood) in the unwanted vessels.</li>
		<li>The hemoglobin is heated by the absorption of energy, and the vessel coagulates and closes off. The constricted vessel then degenerates, and the leg vein is no longer visible from the surface of the skin.</li>
	</ul>
	<h4>What can I expect with the treatment?</h4>
	<ul>
		<li>Most people describe the laser treatment as feeling like a rubber band snapping against the skin.&nbsp; You may be given a topical anesthetic cream to numb the area to be treated. Any discomfort can be eased with the application of cool compresses.</li>
		<li>After treatment, you can immediately return to normal activities.</li>
	</ul>
	<h4>How long is the treatment?</h4>
	<ul>
		<li>The treatment time will vary, depending on the severity and number of vessels being treated.&nbsp; Most treatments can be performed within 15-30 minutes.</li>
	</ul>
	<h4>How many treatments are needed?</h4>
	<ul>
		<li>During your skin care consultation with Dr. Riehs in our Frisco, TX, location, you will be to provided an assessment, which will include the number of treatments required.</li>
		<li>Every patient is unique and may require more than one treatment.<b><br> </b></li>
	</ul>
	<h4>What should I expect after the treatment?</h4>
	<ul>
		<li>Because laser vein treatment works by causing the unwanted vein to break up and dissolve, resolution of the unwanted vein will take place over the course of several weeks to months.</li>
		<li>Slight swelling, the appearance of “Cat Scratches” where vein once existed, blistering, scabbing, redness, and bruising may occur.</li>
		<li>MOST IMPORTANTLY – DO NOT PICK</li>
	</ul>
</div>