<div class="entry-content">
    <h1>Non-TCA Skincare Chemical Peel</h1>
    <h4>What are Non-TCA Peels?</h4>
	<ul>
		<li>Chemical peels are a good alternative to cosmetic surgery facial enhancement procedures for many patients of Le Beau in Frisco, Texas. The function of chemical peels is to penetrate the skin at various depths in order to shed the dead and damaged layers to expose smoother, healthy, and more vibrant skin.</li>
		<li>Generally, fair-skinned and light-haired patients are ideal candidates for chemical peels. Darker skin types are also good candidates and may also have good results, depending on the skin condition being treated.</li>
		<li>Alphahydroxy acids (AHAs), such as glycolic, lactic, or fruit acids are the mildest of the peel formulas and produce light peels. These types of peels can provide smoother, brighter-looking skin. AHA peels may be used to treat fine wrinkling, areas of dryness, uneven pigmentation and acne. Various concentrations of an AHA may be applied weekly or at longer intervals to obtain the best result.<b><br> </b></li>
	</ul>
	<h4>How do chemical peels work</h4>
	<ul>
		<li>The function of chemical peels is to penetrate the skin at various depths in order to shed the dead and damaged layers to expose smoother, healthy, and more vibrant looking skin.</li>
		<li>Alphahydroxy acids (AHA’s), such as glycolic, lactic, or fruit acids are the mildest of the peel formulas and produce light peels. These types of peels can provide smoother, brighter-looking skin. AHA peels may be used to treat fine lines, area of dryness, uneven pigmentation and acne. Various concentrations of an AHA may be applied weekly or at longer intervals to obtain the best results.</li>
		<li>Betahydroxy (BTA), acids such as salicylic are used for treatment of acneic skin for its anti-inflammatory and exfoliating properties.</li>
	</ul>
	<h4>What should I do to prepare for my treatment?</h4>
	<ul>
		<li>Prior to the chemical peel, your doctor may ask you to stop taking certain drugs and prepare your skin with topical preconditioning medications such as Retin-A, Renova, or glycolic acid based products. After the chemical peel, patients must recognize the importance of using a broad-spectrum sunscreen every day.</li>
		<li>Stay out of the sun. Any tanning via direct sunlight or tanning beds increases the risk of side effects and must be discontinued for the duration of your treatment.</li>
		<li>Artificial tanning products must also be discontinued two weeks prior to scheduled treatments.</li>
	</ul>
	<h4>Does the Non-TCA peel treatment hurt?</h4>
	<ul>
		<li>During the procedure you may experience a warm to somewhat slight burning sensation, stinging or tingling during your treatment.</li>
		<li>Cool compresses may be applied to help alleviate the stinging.</li>
	</ul>
	<h4>How long is the treatment?</h4>
	<ul>
		<li>The treatment should take about 15-30 minutes.</li>
		<li>The skin is thoroughly cleansed with an agent that removes excess oils and the eyes and hair are protected. One or more chemical solutions, such as glycolic acid, trichloroacetic acid, salicylic acid, lactic acid or carbolic acid (phenol), are applied to small areas on the skin. These applications produce a controlled injury, enabling new, regenerated skin to appear.<b><br> </b></li>
	</ul>
	<h4>How many treatments are needed?</h4>
	<ul>
		<li>During your skin care consultation, Dr. Riehs will be able to provide an assessment from our Frisco, TX, location, which will include the most appropriate type of acid and number of treatments required.</li>
		<li>The number of treatments depends on the individual and the condition of the skin, and your skin care goals.</li>
		<li>Every patient is unique and may require more than one treatment.</li>
	</ul>
	<h4>What should I expect after the treatment?</h4>
	<ul>
		<li>It is common to experience some temporary stinging, tightness, redness, a feeling comparable to a sun burn.</li>
		<li>Additional effects include irritation, dryness, flaking, and peeling of skin.</li>
		<li>Avoid all sun exposure.&nbsp; Any tanning via direct sunlight or tanning beds increases the risk of side effects and must be discontinued for the duration of your skin care treatment at our Frisco, TX, office.</li>
		<li>Daily broad spectrum sunscreen is required daily.</li>
	</ul>
	<h4>What are the possible complications of Chemical Peels?</h4>
	<ul>
		<li>In rare instances, there is a risk of developing a temporary or permanent color change in the skin. Taking birth control pills, subsequent pregnancy or family history of brownish discoloration on the face may increase the possibility of developing abnormal pigmentation.</li>
		<li>Prior to treatment, it is important for a patient to inform the physician of any past history of keloids (scar tissue overgrowth created at the site of a skin injury) or unusual scarring tendencies. Although low, there is a risk of scarring in certain areas of the face, and certain individuals may be more prone to scarring.</li>
		<li>There is a small risk of reactivation of cold sores in patients with a history of herpes outbreaks. This problem is treated with medication as prescribed by the physician. Your doctor may also choose to give you medication before or immediately after the peel in order to prevent a herpes outbreak.</li>
	</ul>
	<p><strong>**These side effects of chemical face peels are generally mild and subside within a few days</strong></p>
</div>