<div class="entry-content">
	<h1 style="text-align: center;" align="center"><strong>SCLEROTHERAPY FACT SHEET:<br>Vein Removal at Le Beau’s<br>Med Spa in Frisco, TX<br></strong></h1>
	<p>&nbsp;</p>
	<p><strong>What is Sclerotherapy?</strong></p>
	<ul>
		<li>Sclerotherapy is a non-invasive procedure for treating leg varicose and spider veins that involves injecting a sclerosing solution, generally sodium chloride (salt and water) directly into the vein.</li>
		<li>The solution causes irritation and inflammation inside the blood vessel and leads to its closure.&nbsp; With no blood flowing, the vein becomes invisible and is replaced with scar tissue.&nbsp; The vein usually disappears within 6-8 weeks.</li>
	</ul>
	<p><strong>What are the benefits of Sclerotherapy?</strong></p>
	<ul>
		<li>Safe, virtually painless, in-office treatment at Le Beau’s med spa in Frisco, TX; where as vein stripping through cosmetic surgery often requires hospitalization and weeks of recovery.</li>
		<li>Relief of aching or cramping sensation associated with varicose veins and spider veins.</li>
		<li>Eliminates unsightly veins.</li>
		<li>Does not interfere with normal daily activities.</li>
		<li>Nearly immediate visible results.</li>
	</ul>
	<p><strong>Is Sclerotherapy safe?</strong></p>
	<ul>
		<li>There are several different sclerosing solutions available including sodium chloride and aethoxysclerol which are among the safest.</li>
		<li>To reduce, if not eliminate, the risk of any allergic reaction, sodium chloride is the most widely used solution.</li>
		<li>A 23 percent sodium chloride sterile solution is injected directly into the blood vessel using a very fine needle.</li>
	</ul>
	<p><strong>How often can a treatment be done?</strong></p>
	<ul>
		<li>Treatments may be done in 8 week intervals.</li>
		<li>It varies from individual to individual but typically 2-4 treatments are required for the best results.&nbsp; In patients with milder cases, 1-2 will be sufficient.</li>
	</ul>
	<p><strong>What should I expect following a treatment?</strong></p>
	<ul>
		<li>There is some mild pain which can easily be overcome with Tylenol.</li>
		<li>The injected site may appear bruised and swollen for a few days.&nbsp; The bruising usually disappears in 2-3 weeks.</li>
		<li>Continual wearing of the compression hosiery will relieve the swelling and pain.</li>
	</ul>
	<p><strong>What are the known side effects of Sclerotherapy?</strong></p>
	<ul>
		<li>
			Although there are no known serious side effects with sclerotherapy, temporary side effects may occur:
			<ul>
				<li>Local bruising and swelling may occur at the injection site as well as along the treated vessel.&nbsp; Bruising fades slowly over several weeks; swelling resolves within 24 hours.</li>
				<li>Tenderness may occur at the injection site and along the vessel for approximately 1-2 weeks.</li>
				<li>A hive-like reaction, immediately following the injection, may develop at the site and usually subsides within 30 minutes.</li>
				<li>A small ulcer may develop at the injection site which will crust and heal within 1-2 weeks</li>
				<li>Spider veins often rupture during the treatment causing linear streaks which clear within 6 months.</li>
				<li>For injections around the ankle, cramping may occur.&nbsp; Moving and massaging the toes will alleviate the discomfort.</li>
			</ul>
		</li>
	</ul>
	<p><strong>Are Sclerotherapy injections right for me?</strong></p>
	<ul>
		<li>Typically, patients are women between the age of thirty and sixty, though women as young as eighteen and men have had sclerotherapy treatments.</li>
		<li>Sclerotherapy is not right for everyone.&nbsp; Health factors, medication, and age related issues could sometimes complicate the effects of the procedure.</li>
		<li>Before treatments can begin, a scheduled consultation with Dr. Riehs at our med spa in Frisco, TX, is necessary to determine if you are a suitable candidate for sclerotherapy.</li>
	</ul>
	<p><strong>Who is not a candidate?</strong></p>
	<ul>
		<li>Patients with heart conditions</li>
		<li>Patients with HIV, history of AIDS, hepatitis, syphilis, or other diseases that are carried in the blood</li>
		<li>Patients with high blood pressure, blood clotting disorders, and other disorders of the circulatory system</li>
		<li>Patients that are diabetic</li>
		<li>Patients who are pregnant or lactating.&nbsp; Pregnant women are advised to postpone sclerotherapy until at least three months after the baby is born; some of the spider veins will fade by themselves after delivery.</li>
		<li>Nursing mothers should postpone sclerotherapy until the baby is weaned because it is not yet known whether the solution used in treatment may be transmitted to the mother’s milk.</li>
	</ul>
	<p><strong>Are there reports of failure?</strong></p>
	<ul>
		<li>50%-80% of injected veins may be eliminated with each session of sclerotherapy.</li>
		<li>Less than 10% of the people who have sclerotherapy do not respond to the injections.</li>
		<li>Although this procedure works for most patients, there are no guarantees for success.</li>
	</ul>
	<p><strong>What should I do to prepare to my treatment?</strong></p>
	<ul>
		<li>Discontinue aspirin or Ibuprofen (Advil, Nuprin, and Aleve) or any other anti-inflammatory medication 48 hours before the treatment.</li>
		<li>Tylenol is permitted.</li>
		<li>Avoid certain prescription medications: Tetracycline or Minocin, both antibiotics, may possible cause a staining of the skin if taken 7-10 day before the treatment.</li>
		<li>Be sure to eat before the treatment to avoid becoming lightheaded.</li>
		<li>On the day of treatment, avoid using any moisturizers, sunscreens, tanning lotions, or creams on the area being treated.</li>
	</ul>
	<p>
		&nbsp;<br>
		<strong>- Le Beau Visage Med Spa | Sclerotherapy | Laser Hair Removal in Frisco TX</strong>
	</p>
</div>