<div class="breadcrumb-wrap">
	<div class="container">
		<div class="row">
			<div class="col-sm-6">
				<h4>Aesthetic Party Hosting</h4>
			</div>
		</div>
	</div>
</div>
<div class="container">
	<div class="divide60"></div>
	<div class="row">
		<div class="col-md-8 col-lg-offset-2">
			<div class="blog-post">
				<div>
					<img src="../../../Images/winter.jpg" class="img-responsive" alt="winter" />

				</div>
				<h2>Hosting Cosmetic Events for Free Services</h2>
				<p class="dropcap">
					Thank you for your interest in hosting an Aesthetic Party at Le Beau Visage. We are excited to provide this service to you and your friends. In order to make this party a huge success, we would like coordinate some of the details.
				</p>
				<div class="divide10"></div>
				<h3 class="heading">Included</h3>
				<ul>
					<li>Light refreshments</li>
					<li>Complimentary skin analysis with photography</li>
					<li>
						15% of <em>any</em> treatment purchased that day
						<div class="divide10"></div>
					</li>
				</ul>
				<div class="divide20"></div>
				<h3 class="heading">Your Rewards:</h3>
				<ul>
					<li>
						When the number of patients that purchase a service:
						<ul>
							<li><strong>5-7:</strong> You receive <strong>$250</strong> in the services of your choice</li>
							<li><strong>8-15:</strong> You receive <strong>$1,000</strong> in the services of your choice</li>
							<li><strong>16-20:</strong> You receive <strong>$1500.00</strong> in the service of your choice</li>
						</ul>
					</li>
				</ul>
				<div class="divide20"></div>
				<h3 class="heading">Helpful Hints:</h3>
				<p class="lead">
					<p>Sending out an Evite is a great way to invite friends (http://www.evite.com)</p>
					<p>Add our website address http://www.lebeauvisage.com to your Evite to let your friends read about the treatments we offer</p>
					<p>Talk with your friends before you set a date and time to help find a good day and time for your party</p>
					<p>You can make it a Girls Night Out and schedule your party in the evening</p>
				</p>
			</div><!--blog post-->

		</div><!--col-->
	</div><!--row for blog post-->
</div>
