<div class="breadcrumb-wrap visible-md visible-lg">
	<div class="container">
		<div class="row">
			
		</div>
	</div>
</div>

<div class="container">
    <div class="divide60"></div>
    <div class="row">
        <div class="col-md-8 col-lg-offset-2">
            <div class="blog-post">
                <div class="image-contain">
                    <img src="../../../Content/Images/Special/March15_Monthly.jpg" class="img-responsive" />
                </div>

                <h2>Monthly Special: March 2015</h2>
                <p class="dropcap">
                    Seeing Spots? Lose the spots and much more with Photo Facial. This procedure treats the Face, Neck or the Chest. <em>Offer valid until March 31st 2015</em>
                </p>
                <div class="divide10"></div>
                <h3 class="heading">Choose from the Following:</h3>
                <ul>
                    <li>2 Treatments&mdash;$299</li>
                    <li>4 Treatments&mdash;$499, and Recieve FREE Lytera</li>
                </ul>
                <div class="divide20"></div>
            </div><!--blog post-->

        </div><!--col-->
    </div><!--row for blog post-->
</div>