<div class="breadcrumb-wrap visible-md visible-lg">
	<div class="container">
		<div class="row">
			<img class="pull-right  header-img" src="../../../Content/Images/About/About.png" />
		</div>
	</div>
</div>
<section class="page-content">
	<div class="container">
		<ul class="list-inline social-1">
			<li><a href="http://www.facebook.com/pages/Le-Beau-Visage-Med-Spa/130922822976?ref=ts"><i class="fa fa-facebook"></i></a></li>
			<li><a href="https://twitter.com/LeBeauVisage"><i class="fa fa-twitter"></i></a></li>
			<li><a href="http://www.youtube.com/user/LeBeauVisageMedicalS"><i class="fa fa-youtube-play"></i></a></li>
			<li><a href="https://www.linkedin.com/pub/jason-riehs/80/59a/4a5"><i class="fa fa-linkedin"></i></a></li>
		</ul>
		<div class="divide60"></div>
		<div class="row">
			<div class="col-md-8 col-lg-offset-2">
				<div class="blog-post">
					<div class="image-contain">
						<img src="../../../Content/Images/Special/June15_Monthly.jpg" class="img-responsive" />
					</div>

					<h2>Monthly Special: June 2015</h2>
					<p class="dropcap">
						Introducing InMode's Forma! Forma stimulates te formation of new collagen and improves the skin's elasticity for long-lasting and remarkable results. <em>Offer valid until June 30th 2015</em>
					</p>
					<div class="divide10"></div>
					<h3 class="heading">Purchase this offer, Today!</h3>
					<ul>
						<li>8 Treatments&mdash;$999</li>
					</ul>
					<div class="divide20"></div>
				</div>

			</div>
		</div>


	</div>
</section>