<div class="breadcrumb-wrap visible-md visible-lg">
	<div class="container">
		<div class="row">
			<img class="pull-right  header-img" src="../../../Content/Images/About/About.png" />
		</div>
	</div>
</div>
<section class="page-content">
	<div class="container">
		<ul class="list-inline social-1">
			<li><a href="http://www.facebook.com/pages/Le-Beau-Visage-Med-Spa/130922822976?ref=ts"><i class="fa fa-facebook"></i></a></li>
			<li><a href="https://twitter.com/LeBeauVisage"><i class="fa fa-twitter"></i></a></li>
			<li><a href="http://www.youtube.com/user/LeBeauVisageMedicalS"><i class="fa fa-youtube-play"></i></a></li>
			<li><a href="https://www.linkedin.com/pub/jason-riehs/80/59a/4a5"><i class="fa fa-linkedin"></i></a></li>
		</ul>
		<div class="divide60"></div>
		<div class="row">
			<div class="col-md-8 col-lg-offset-2">
				<div class="blog-post">
					<div class="image-contain">
						<img src="../../../Content/Images/Special/botoxbuddy.jpg" class="img-responsive" />
					</div>

					<h2>Monthly Special: July 2015</h2>
					<p class="dropcap">
						Get Smooth, wrinkle-free skin just in time for Summer! We offering $7per Unit to existing patients who refer a friend and ALL new patients will receive this offer for 20 units only of Botox. Offer valid until July 31, 2015. Be one of the first 50 patients to receive discount.
					</p>
					<div class="divide20"></div>
				</div>

				<div class="blog-post">
					<div class="image-contain">
						<img src="../../../Content/Images/Special/microwed.png" class="img-responsive" />
					</div>

					<div class="divide20"></div>
				</div>
			</div>
		</div>
	</div>
</section>