<div class="breadcrumb-wrap" id="locationContainer">
	<div class="container">
		<div class="row">
			<div class="col-sm-12" id="location">
			
			</div>
		</div>
	</div>
</div>

<section>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="center-heading">
					<h2 class="wow animated fadeInDown animated" style="visibility: visible; -webkit-animation: fadeInDown;">Quick <span class="colored-text">Contact</span></h2>
				</div>
			</div>
		</div><!--center heading row-->
		<div class="row">
			<div class="col-md-8 margin30">
				<div class="divide30"></div>
				<div class="form-contact">
					<div class="required">
						<p>( <span>*</span> fields are required )</p>
					</div>

					<form name="sentMessage" id="contactForm" method="post" novalidate="">
						<div class="row">
							<div class="col-md-6">
								<div class="row control-group">
									<div class="form-group col-xs-12 controls">
										<label>Name<span>*</span></label>
										<input type="text" class="form-control" placeholder="Name" id="name" required="" data-validation-required-message="Please enter your name." ng-model="Message.Name">
										<p class="help-block"></p>
									</div>
								</div>

							</div>

							<div class="col-md-6">
								<div class="row control-group">
									<div class="form-group col-xs-12 controls">
										<label>Email Address<span>*</span></label>
										<input type="email" class="form-control" ng-model="Message.Email" placeholder="Email Address" id="email" required="" data-validation-required-message="Please enter your email address.">
										<p class="help-block"></p>
									</div>
								</div>
							</div>
						</div>
						<div class="row control-group">
							<div class="form-group col-xs-12  controls">
								<label>Phone Number<span>*</span></label>
								<input type="tel" class="form-control" placeholder="Phone Number" id="phone" required="" data-validation-required-message="Please enter your phone number." ng-model="Message.PhoneNumber">
								<p class="help-block"></p>
							</div>
						</div>
						<div class="row control-group">
							<div class="form-group col-xs-12 controls">
								<label>Message<span>*</span></label>
								<textarea rows="5" class="form-control" placeholder="Message" id="message" required="" data-validation-required-message="Please enter a message." ng-model="Message.Content"></textarea>
								<p class="help-block"></p>
							</div>
						</div>
						<br>
						<div id="success"></div>
						<div class="row">
							<div class="form-group col-xs-12">
								<button type="submit" class="btn btn-theme-bg btn-lg" ng-click="sendMessage(Message)">Send Message</button>
							</div>
						</div>
					</form>

				</div><!--contact form-->
			</div>
			<div class="col-md-4">
				<h3 class="heading">Contact info</h3>
				<ul class="list-unstyled contact contact-info">
					<li><p><strong><i class="fa fa-map-marker"></i> Address:</strong> vaisahali, jaipur, 302012</p></li>
					<li><p><strong><i class="fa fa-envelope"></i> Mail Us:</strong> <a href="#">Support@designmylife.com</a></p></li>
					<li> <p><strong><i class="fa fa-phone"></i> Phone:</strong> +91 1800 2345 2132</p></li>
					<li> <p><strong><i class="fa fa-print"></i> Fax:</strong> +91 2345 2132</p></li>
				</ul>
			</div>
		</div>
	</div>
</section>

<script>
	gMap.initialize();
</script>