<!--carousel slider-->
<header id="myCarousel" class="carousel slide bollard" data-ride="carousel">
	<ol class="carousel-indicators">
		<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
		<li data-target="#myCarousel" data-slide-to="1"></li>
		<li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
	</ol>
	<div class="carousel-inner">
		<div class="item item-c-slide active">
			<div class="container">
				<div class="row">
					<div class="col-sm-12 col-sm-offset-2 text-center slide-text">
						<h1 class="animated slideInLeft delay-1">Welcome</h1>
						<div class="divide15"></div>
						<p class="animated slideInLeft delay-2">We are an Elite Medical Spa</p>
						<div class="divide15"></div>
						<p class="animated slideInLeft delay-3"><a href="#/About" class="btn btn-lg btn-theme-dark">Meet Dr. Riehs</a></p>
					</div>
				</div>
			</div>
		</div>
		<div class="item item-c-slide">
			<div class="container">
				<div class="row">
					<div class="col-sm-12 col-sm-offset-2 text-center slide-text">
						<p class="animated slideInLeft delay-1">Satisfied Customers</p>
						<div class="divide15"></div>
						<h1 class="animated slideInLeft delay-2">Testimonials</h1>
						<div class="divide15"></div>
						<p class="animated slideInLeft delay-3"><a href="#/Testimonials" class="btn btn-lg btn-theme-dark"> View Testimonials</a></p>
					</div>
				</div>
			</div>
		</div>
		<div class="item item-c-slide">
			<div class="container">
				<div class="row">
					<div class="col-sm-12 col-sm-offset-2 text-center slide-text">
						<p class="animated slideInLeft delay-1">We offer worldclass </p>
						<div class="divide15"></div>
						<h1 class="animated slideInLeft delay-2">Services</h1>
						<div class="divide15"></div>
						<p class="animated slideInLeft delay-3"><a href="#/Treatments" class="btn btn-lg btn-theme-dark">View Treatment Selection</a></p>
					</div>
				</div>
			</div>
		</div>
        <div class="item item-c-slide">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-sm-offset-2 text-center slide-text">
                        <p class="animated slideInLeft delay-1">Check Out Our</p>
                        <div class="divide15"></div>
                        <h1 class="animated slideInLeft delay-2">SPECIALS</h1>
                        <div class="divide15"></div>
                        <p class="animated slideInLeft delay-3"><a href="#/Specials" class="btn btn-lg btn-theme-dark"> Monthly Promotions</a></p>
                    </div>
                </div>
            </div>
        </div>
	</div>
</header>

<ul class="nav nav-pills nav-justified">
	<li> <a href="#/Team">Meet The Team</a></li>
	<li> <a href="#/Testimonials">Testimonials</a></li>
	<li> <a href="#/Testimonials">Monthly Specials</a></li>
	<li> <a href="#/Videos">Videos</a></li>
	<li><a href="#/Locations">Locations</a></li>
</ul>

<section class="intro-text">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12 text-center">
				<h2 class="wow animated fadeInDown animated" style="visibility: visible; -webkit-animation: fadeInDown;">We are  <span class="colored-text">Le Beau Visage Medical Spa</span></h2>
				<p class="lead animated fadeIn">
                    Your search for a professional experience that goes far beyond the basics of pampering with cosmetic surgery, products and weight loss options ends here. We offer state-of-the-art technology, a licensed and experienced staff, and a full-time on-site physician to help you look and feel your best.
				</p>
				<div class="divide30"></div>
				<a href="#/Team" class=" btn border-theme btn-lg">Meet the Team</a>
			</div>
		</div>
	</div>
</section>

<section id="cta-1">
	<div class="container">
		<h1>Want to Purchase a Gift Card?</h1>
		<a href="#/Market" class="btn border-white btn-lg">Take me to the Market</a>
	</div>
</section>

<section class="services-wrap">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="center-heading">
					<h2>What We Offer</h2>
					<span class="center-line"></span>
				</div>
			</div>
		</div><!--center heading row-->
		<div class="row">
			<div class="col-md-4 col-sm-6 margin20">
				<div class="services-box wow animated fadeInUp" data-wow-duration="700ms" data-wow-delay="100ms">
					<div class="services-box-icon">
						
					</div><!--services icon-->
					<div class="services-box-info">
                        <h4>Facial Injectibles</h4>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing metus. elit. Quisque rutrum pellentesque imperdiet.
						</p>
					</div>
				</div><!--services box-->
			</div><!--services col-->
			<div class="col-md-4 col-sm-6 margin20">
				<div class="services-box wow animated fadeInUp" data-wow-duration="700ms" data-wow-delay="200ms">
					<div class="services-box-icon">
						
					</div><!--services icon-->
					<div class="services-box-info">
                        <h4>Pigmentation/Melasma</h4>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing metus. elit. Quisque rutrum pellentesque imperdiet.
						</p>
					</div>
				</div><!--services box-->
			</div><!--services col-->
			<div class="col-md-4 col-sm-6 margin20">
				<div class="services-box wow animated fadeInUp" data-wow-duration="700ms" data-wow-delay="300ms">
					<div class="services-box-icon">
						
					</div><!--services icon-->
					<div class="services-box-info">
                        <h4>Skin Resurfacing</h4>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing metus. elit. Quisque rutrum pellentesque imperdiet.
						</p>
					</div>
				</div><!--services box-->
			</div><!--services col-->

			<div class="col-md-4 col-sm-6 margin20">
				<div class="services-box wow animated fadeInUp" data-wow-duration="700ms" data-wow-delay="400ms">
					<div class="services-box-icon">
						
					</div><!--services icon-->
					<div class="services-box-info">
                        <h4>Skin Tightening</h4>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing metus. elit. Quisque rutrum pellentesque imperdiet.
						</p>
					</div>
				</div><!--services box-->
			</div><!--services col-->
			<div class="col-md-4 col-sm-6 margin20">
				<div class="services-box wow animated fadeInUp" data-wow-duration="700ms" data-wow-delay="500ms">
					<div class="services-box-icon">
						
					</div><!--services icon-->
					<div class="services-box-info">
                        <h4>Microdermabrasion</h4>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing metus. elit. Quisque rutrum pellentesque imperdiet.
						</p>
					</div>
				</div><!--services box-->
			</div><!--services col-->
			<div class="col-md-4 col-sm-6 margin20">
				<div class="services-box wow animated fadeInUp" data-wow-duration="700ms" data-wow-delay="600ms">
					<div class="services-box-icon">
						
					</div><!--services icon-->
					<div class="services-box-info">
                        <h4>Laser Hair Reduction</h4>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing metus. elit. Quisque rutrum pellentesque imperdiet.
						</p>
					</div>
				</div><!--services box-->
			</div><!--services col-->
		</div><!--services row-->
	</div>
    <div class="col-md-12 col-sm-12 text-center">
        <a href="#/Treatments" class=" btn border-theme btn-lg">View More</a>
    </div>
</section><!--section services-->

<section id="cta-1">
	<div class="container">
		<h1>Host Your Next Event with Us!</h1>
		<a href="#/Special/Event" class="btn border-white btn-lg">Yes, sure!</a>
	</div>
</section>
