<!--carousel slider-->
<header id="myCarousel" class="carousel slide banner-1" data-ride="carousel">
	<ol class="carousel-indicators">
		<!--<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
		<li data-target="#myCarousel" data-slide-to="1"></li>
		<li data-target="#myCarousel" data-slide-to="2"></li>
		<li data-target="#myCarousel" data-slide-to="3"></li>-->
	</ol>
	<div class="carousel-inner">
		<div class="item item-c-slide active">
			<div class="container">
				<div class="row">
					<div class="col-sm-12 col-sm-offset-2 text-center slide-text">
						<!--<h1 class="animated slideInLeft delay-1">Welcome</h1>
						<div class="divide15"></div>
						<p class="animated slideInLeft delay-2">We are an Elite Medical Spa</p>
						<div class="divide15"></div>
						<p class="animated slideInLeft delay-3"><a href="#/About" class="btn btn-lg btn-theme-dark">Meet Dr. Riehs</a></p>-->
					</div>
				</div>
			</div>
		</div>
		<div class="item item-c-slide">
			<div class="container">
				<div class="row">
					<div class="col-sm-12 col-sm-offset-2 text-center slide-text">
						<!--<p class="animated slideInLeft delay-1">Satisfied Customers</p>
						<div class="divide15"></div>
						<h1 class="animated slideInLeft delay-2">Testimonials</h1>
						<div class="divide15"></div>
						<p class="animated slideInLeft delay-3"><a href="#/Testimonials" class="btn btn-lg btn-theme-dark"> View Testimonials</a></p>-->
					</div>
				</div>
			</div>
		</div>
		<div class="item item-c-slide">
			<div class="container">
				<div class="row">
					<div class="col-sm-12 col-sm-offset-2 text-center slide-text">
						<!--<p class="animated slideInLeft delay-1">We offer worldclass </p>
						<div class="divide15"></div>
						<h1 class="animated slideInLeft delay-2">Services</h1>
						<div class="divide15"></div>
						<p class="animated slideInLeft delay-3"><a href="#/Treatments" class="btn btn-lg btn-theme-dark">View Treatment Selection</a></p>-->
					</div>
				</div>
			</div>
		</div>
		<div class="item item-c-slide">
			<div class="container">
				<div class="row">
				<div class="col-sm-12 col-sm-offset-2 text-center slide-text">
					<!--<p class="animated slideInLeft delay-1">Check Out Our</p>
					<div class="divide15"></div>
					<h1 class="animated slideInLeft delay-2">SPECIALS</h1>
					<div class="divide15"></div>
					<p class="animated slideInLeft delay-3"><a href="#/Special/Monthly" class="btn btn-lg btn-theme-dark"> Monthly Promotions</a></p>-->
				</div>
				</div>
			</div>
		</div>
	</div>
</header>

<section class="intro-text">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12 text-center">
				<h2 class="wow animated fadeInDown animated" style="visibility: visible; -webkit-animation: fadeInDown;"><span class="creme">Le Beau Visage Medical Spa</span></h2>
				<p class="lead animated fadeIn">
					One of the top rated Medical Aesthetic Facilities in North Texas! Allow our clinical experts to enhance and tranform your image!
				</p>
				<div class="divide30"></div>
				<a href="#/Team" class=" btn border-black  btn-lg">Meet the Team</a>
			</div>
		</div>
	</div>
</section>

<section class="services-wrap">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="center-heading">
					<h2>What We Offer</h2>
					<span class="center-line"></span>
				</div>
			</div>
		</div><!--center heading row-->
		<div class="row">
            <div class="col-md-4 col-sm-6 margin20">
                <div class="services-box wow animated fadeInUp" data-wow-duration="700ms" data-wow-delay="100ms">
                    <div class="services-box-icon">

                    </div><!--services icon-->
                    <div class="services-box-info">
                        <h4>BOTOX® Cosmetic </h4>
                        <p>
                            BOTOX® Cosmetic a trusted and leading brand for the last 20 years is the most popular non surgical treatment in the world.
                        </p>
                    </div>
                </div><!--services box-->
            </div><!--services col-->
            <div class="col-md-4 col-sm-6 margin20">
                <div class="services-box wow animated fadeInUp" data-wow-duration="700ms" data-wow-delay="200ms">
                    <div class="services-box-icon">

                    </div><!--services icon-->
                    <div class="services-box-info">
                        <h4>Restylane</h4>
                        <p>
                            Restylane® treatments are cosmetic procedures to replace volume to the face, filling in lines, wrinkles and sunken facial skin
                        </p>
                    </div>
                </div><!--services box-->
            </div><!--services col-->
            <div class="col-md-4 col-sm-6 margin20">
                <div class="services-box wow animated fadeInUp" data-wow-duration="700ms" data-wow-delay="300ms">
                    <div class="services-box-icon">

                    </div><!--services icon-->
                    <div class="services-box-info">
                        <h4>Sculptra</h4>
                        <p>
                            Sculptra® treatments are cosmetic procedures to replace volume to the face, filling in sunken facial skin.
                        </p>
                    </div>
                </div><!--services box-->
            </div><!--services col-->

            <div class="col-md-4 col-sm-6 margin20">
                <div class="services-box wow animated fadeInUp" data-wow-duration="700ms" data-wow-delay="400ms">
                    <div class="services-box-icon">

                    </div><!--services icon-->
                    <div class="services-box-info">
                        <h4>Juvederm</h4>
                        <p>
                            Juvederm® is an injectable filler which can improve the appearance of deep facial wrinkles, folds, lines, and acne scars, enhance the lips, and contour facial features like the chin and cheeks.
                        </p>
                    </div>
                </div><!--services box-->
            </div><!--services col-->
            <div class="col-md-4 col-sm-6 margin20">
                <div class="services-box wow animated fadeInUp" data-wow-duration="700ms" data-wow-delay="600ms">
                    <div class="services-box-icon">

                    </div><!--services icon-->
                    <div class="services-box-info">
                        <h4>Laser Hair Reduction</h4>
                        <p>
                            Laser hair removal is a safe and effective treatment for removal of unwanted hair.
                        </p>
                    </div>
                </div><!--services box-->
            </div><!--services col-->
            <div class="col-md-4 col-sm-6 margin20">
                <div class="services-box wow animated fadeInUp" data-wow-duration="700ms" data-wow-delay="600ms">
                    <div class="services-box-icon">

                    </div><!--services icon-->
                    <div class="services-box-info">
                        <h4>Pigmentation</h4>
                        <p>
                            Laser Treatments - years of sundamage skin can take its toll on the face promoting red blemishes, brown discolorations and wrinkles. Office based laser treatments can be a helpful solution to reversing many of the external signs of aging
                        </p>
                    </div>
                </div><!--services box-->
            </div><!--services col-->
		</div><!--services row-->
	</div>
    <div class="col-md-12 col-sm-12 text-center">
        <a href="#/Treatments" class=" btn border-black btn-lg">View More</a>
    </div>
</section><!--section services-->

