<!--carousel slider-->
<div id="myCarousel" class="carousel slide bollard" data-ride="carousel">
	<ol class="carousel-indicators">
		<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
		<li data-target="#myCarousel" data-slide-to="1"></li>
		<li data-target="#myCarousel" data-slide-to="2"></li>
	</ol>
	<div class="col-md-2 col-md-offset-1 carousel-nav visible-md visible-lg">
		<div class="sidebar-box margin40">
			<ul class="list-unstyled cat-list">
				<li> <a href="#">Marketing</a> <i class="fa fa-angle-right"></i></li>
				<li> <a href="#">Videos</a> <i class="fa fa-angle-right"></i></li>
				<li> <a href="#">Sports</a> <i class="fa fa-angle-right"></i></li>
				<li> <a href="#">Fashion</a> <i class="fa fa-angle-right"></i></li>
				<li> <a href="#">Media</a> <i class="fa fa-angle-right"></i></li>
				<li> <a href="#">Seo</a> <i class="fa fa-angle-right"></i></li>
				<li> <a href="#">Marketing</a> <i class="fa fa-angle-right"></i></li>
			</ul>
		</div><!--sidebar-box-->
	</div>
	<div class="carousel-inner">
		<div class="item item-c-slide active">
			<div class="container">
				<div class="row">
					<div class="col-sm-12 col-sm-offset-2 text-center slide-text">
						<h1 class="animated slideInLeft delay-1">Welcome</h1>
						<div class="divide15"></div>
						<p class="animated slideInLeft delay-2">We are a creative agency in web design</p>
						<div class="divide15"></div>
						<p class="animated slideInLeft delay-3"><a href="#" class="btn btn-lg btn-theme-bg"> Take Tour</a></p>
					</div>
				</div>
			</div>
		</div>
		<div class="item item-c-slide">
			<div class="container">
				<div class="row">
					<div class="col-sm-12 col-sm-offset-2 text-center slide-text">
						<p class="animated slideInLeft delay-1">Create your Amazing</p>
						<div class="divide15"></div>
						<h1 class="animated slideInLeft delay-2">Portfolio</h1>
						<div class="divide15"></div>
						<p class="animated slideInLeft delay-3"><a href="#" class="btn btn-lg btn-theme-bg"> View Portfolio</a></p>
					</div>
				</div>
			</div>
		</div>
		<div class="item item-c-slide">
			<div class="container">
				<div class="row">
					<div class="col-sm-12 col-sm-offset-2 text-center slide-text">
						<p class="animated slideInLeft delay-1">We are truly </p>
						<div class="divide15"></div>
						<h1 class="animated slideInLeft delay-2">Creative</h1>
						<div class="divide15"></div>
						<p class="animated slideInLeft delay-3"><a href="#" class="btn btn-lg btn-theme-bg"> Hire us</a></p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<section class="intro-text">
	<div class="container ">
		<div class="row">
			<div class="col-md-12 col-sm-12 text-center">
				<h2 class="wow animated fadeInDown animated" style="visibility: visible; -webkit-animation: fadeInDown;">We are a <span class="colored-text">Creative Team</span></h2>
				<p class="lead animated fadeIn">
					We are a creative team and make great web things since 2001 based in california.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce elementum, nulla vel pellentesque consequat, ante nulla hendrerit arcu, ac tincidunt mauris lacus sed leo. vamus suscipit molestie vestibulum.
				</p>
				<div class="divide30"></div>
				<a href="#" class=" btn border-theme btn-lg">View Our Portfolio</a>
				<a href="#" class=" btn border-black btn-lg">Contact us today</a>
			</div>
		</div>
	</div>
</section>

<section class="services-wrap">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="center-heading">
					<h2>What We Offer</h2>
					<span class="center-line"></span>
				</div>
			</div>
		</div><!--center heading row-->
		<div class="row">
			<div class="col-md-4 col-sm-6 margin20">
				<div class="services-box wow animated fadeInUp" data-wow-duration="700ms" data-wow-delay="100ms">
					<div class="services-box-icon">
						<i class="fa fa-pencil"></i>
					</div><!--services icon-->
					<div class="services-box-info">
						<h4>Web &AMP; Graphics Design</h4>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing metus. elit. Quisque rutrum pellentesque imperdiet.
						</p>
					</div>
				</div><!--services box-->
			</div><!--services col-->
			<div class="col-md-4 col-sm-6 margin20">
				<div class="services-box wow animated fadeInUp" data-wow-duration="700ms" data-wow-delay="200ms">
					<div class="services-box-icon">
						<i class="fa fa-globe"></i>
					</div><!--services icon-->
					<div class="services-box-info">
						<h4>Web Development</h4>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing metus. elit. Quisque rutrum pellentesque imperdiet.
						</p>
					</div>
				</div><!--services box-->
			</div><!--services col-->
			<div class="col-md-4 col-sm-6 margin20">
				<div class="services-box wow animated fadeInUp" data-wow-duration="700ms" data-wow-delay="300ms">
					<div class="services-box-icon">
						<i class="fa fa-users"></i>
					</div><!--services icon-->
					<div class="services-box-info">
						<h4>Customer Support</h4>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing metus. elit. Quisque rutrum pellentesque imperdiet.
						</p>
					</div>
				</div><!--services box-->
			</div><!--services col-->

			<div class="col-md-4 col-sm-6 margin20">
				<div class="services-box wow animated fadeInUp" data-wow-duration="700ms" data-wow-delay="400ms">
					<div class="services-box-icon">
						<i class="fa fa-crop"></i>
					</div><!--services icon-->
					<div class="services-box-info">
						<h4>Pixel perfect design</h4>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing metus. elit. Quisque rutrum pellentesque imperdiet.
						</p>
					</div>
				</div><!--services box-->
			</div><!--services col-->
			<div class="col-md-4 col-sm-6 margin20">
				<div class="services-box wow animated fadeInUp" data-wow-duration="700ms" data-wow-delay="500ms">
					<div class="services-box-icon">
						<i class="fa fa-twitter"></i>
					</div><!--services icon-->
					<div class="services-box-info">
						<h4>Bootstrap 3.3.1</h4>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing metus. elit. Quisque rutrum pellentesque imperdiet.
						</p>
					</div>
				</div><!--services box-->
			</div><!--services col-->
			<div class="col-md-4 col-sm-6 margin20">
				<div class="services-box wow animated fadeInUp" data-wow-duration="700ms" data-wow-delay="600ms">
					<div class="services-box-icon">
						<i class="fa fa-flag"></i>
					</div><!--services icon-->
					<div class="services-box-info">
						<h4>Font Awesome icons</h4>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing metus. elit. Quisque rutrum pellentesque imperdiet.

						</p>

					</div>
				</div><!--services box-->
			</div><!--services col-->
		</div><!--services row-->
	</div>
</section><!--section services-->
