<div class="post-content">
	<p class="lead">
		Brightens dull skin and minimizes the appearance of skin discoloration and dark spots. Improvements seen as early as 4 weeks.
		The Next Generation in Skin Brightening Lytera is a brightening product that addresses the appearance of skin discoloration:
	</p>
	<article>
		<h3 class="heading">Benefits</h3>
		<ul class="factsheet-list">
			<li>Effectively reduces the appearance of dark spots creating a more even skin tone</li>
			<li>Results seen in as early as 4 weeks with continued improvement over time</li>
			<li>Ideal for all skin types</li>
			<li>Non-hydroquinone</li>
			<li>Elegant formulation</li>
			<li>Available without a prescription</li>
		</ul>
	</article>
	<article>
		<h3 class="heading">Use</h3>
		<h5>When to Apply:</h5>
		<p>
			Morning and evening after cleansing and toning
		</p>
		<h5>Where to Apply: </h5>
		<p>
			Face (neck and chest if desired) or other affected areas
		</p>
		<p>AM | Morning</p>
		<p>
			<ul class="factsheet-list">
				<li>Start fresh with a cleanser like SkinMedica® Facial Cleanser.</li>
				<li>Apply Lytera® Skin Brightening Complex to affected areas (face, neck, décolleté).</li>
				<li>Follow up with your favorite SkinMedica moisturizer and a sunscreen like our Daily Physical Defense™ SPF 30+ Sunscreen to help prevent sun-damage and dark spots from forming.</li>
			</ul>
		</p>
		<p>PM | Evening</p>
		<p>
			<ul class="factsheet-list">
				<li>Start fresh with a cleanser like SkinMedica® Facial Cleanser.</li>
				<li>Apply Lytera® Skin Brightening Complex to affected areas (face, neck, décolleté).</li>
				<li>Complete the process with a product containing retinoids like our Tri-Retinol Complex ES™ followed by your favorite SkinMedica moisturizer.</li>
			</ul>
		</p>
	</article>
	<article>
		<h3 class="heading">FAQs</h3>
		<ul class="factsheet-list">
			<li>Appropriate for: All skin types</li>
			<li>Purpose: Brightens skin</li>
			<li>
				<span class="subheading">Results:</span>
				<ul>
					<li> Improvement in overall skin condition</li>
					<li> Improved evenness of skin tone</li>
					<li> Reduced appearance of skin discolorations</li>
				</ul>
			</li>
		</ul>
	</article>
	<article>
		<h3 class="heading">Questionaire Results</h3>
		<ul class="factsheet-list">
			<li> 79% reported improvement in the evenness of skin tone after 12 weeks*</li>
			<li> 95% reported improvement in overall skin condition after 12 weeks*</li>
		</ul>
	</article>
	<p>Caution: Do not use if you are pregnant, lactating or planning to become pregnant.</p>
</div><!-- Lyteria Product Descripition Completed and In -->
<div class="post-content">
	<p class="lead">This elegantly formulated exfoliating cleanser gently scrubs away dead skin, improving the appearance of skin tone and texture.</p>
	<ul class="factsheet-list">
		<li> Enhanced skin radiance and luminosity</li>
		<li> Improved appearance of skin texture, tone and smoothness through mild exfoliation</li>
	</ul>
	<ul class="factsheet-list">
		<li>Appropriate for: All skin types</li>
		<li>Purpose: Improve the appearance of skin tone, texture and smoothness.</li>
	</ul>
	<h3 class="heading">Use</h3>
	<h5>When to apply:</h5>
	<p>First product used in your morning and evening skin care routine, as tolerated</p>
	<h5>Where to apply:</h5>
	<p>Face (neck and chest if desired)</p>

</div> <!-- AHA BHA Cleanser Done -->
<div class="post-content">
	<p>
		Exfoliates and improves tone and texture revealing brighter skin. A treatment with alpha-hydroxy and beta-hydroxy acids to improve the appearance of skin texture, tone and smoothness by exfoliating skin.
	</p>
	<ul class="factsheet-list">
		<li>Appropriate for: All skin types</li>
		<li>Purpose: Exfoliate skin to reveal a more youthful appearance</li>
		<li>Results: Improve the appearance of skin texture, tone and smoothness</li>
	</ul>
	<h3 class="heading">Use</h3>
	<h5>When to apply</h5>
	<p>Twice daily after cleansing, toning and applying SPF and other treatment products</p>
	<h5>Where to apply</h5>
	<p>Face (neck and chest if desired)</p>
</div>  <!-- AHA BHA Cream -->
<div class="post-content">
	<p class="lead">Ultra sheer, broad spectrum UVA/UVB sun protection in a fragrance and oil-free formula.  This oil-free and fragrance-free, ultra sheer physical sunscreen provides broad-spectrum defense against UVA/UVB rays.</p>
	<ul class="factsheet-list">
		<li>Appropriate for: All skin types – gentle enough for sensitive and post-procedure skin</li>
		<li>Purpose: Broad spectrum UVA/UVB protection</li>
	</ul>
	<h3 class="heading">Use</h3>
	<h5>When to apply:</h5>
	<p>In the morning after cleansing, toning and application of treatment products</p>
	<h5>Where to apply:</h5>
	<p>Face, neck and other sun exposed areas</p>
	<h5>How to Apply</h5>
	<p>Apply liberally to face and neck before sun exposure and as needed. Reapply as needed or after towel drying, swimming or perspiring. Children under 6 months of age: ask a doctor.</p>
</div> <!-- Daily Physical Defense Sunscreen Broad Spectrum SPF 30+ -->
<div class="post-content">

	<p class="lead">
		Ultra rich moisturizer helps prevent moisture loss and improves skin smoothness to restore your skin’s natural beauty.
		This ultra-rich cream intensely hydrates and replenishes moisture to dry skin with high levels of antioxidants, vitamins C and E.
	</p>
	<ul class="factsheet-list">
		<li>Appropriate for: Normal to dry skin</li>
		<li>Provides Intense skin hydration and helps replenish moisture</li>
	</ul>
	<h3 class="heading">Use</h3>
	<h5>When to apply:</h5>
	<p>Twice daily after cleansing, toning and applying treatment products</p>
	<h5>Where to apply:</h5>
	<p>Face (neck and chest if desired)</p>
	<h5>How to apply:</h5>
	<p>Apply a small amount into your hand and gently massage into skin</p>
</div> <!-- Dermal Repair Cream-->
<div class="post-content">
	<p class="lead"> Protect your skin from sun damage with this water resistant (80 minutes), broad spectrum UV protection. This broad spectrum UVA/UVB defense sunscreen protects the skin from the sun’s harmful rays in an oil-free, PABA-free and fragrance-free formulation.</p>

	<ul class="factsheet-list">
		<li>Appropriate for: All skin types</li>
		<li>Purpose: water resistant (80 minutes), broad spectrum uva />UVB protection></li>
	</ul>
	<h3 class="heading">Use</h3>
	<h5>When to apply:</h5>
	<p>In the morning after cleansing, toning and application of treatment products</p>
	<h5>Where to apply:</h5>
	<p>Face, neck and other sun exposed areas</p>
	<h5>How to apply:</h5>
	<p>Apply liberally 15 minutes before sun exposure. Reapply after 80 minutes of swimming or sweating, and immediately after towel drying at least every two hours.</p>
</div> <!-- Environmental Defense Sunscreen SPF 50 -->
<div class="post-content">
	<p class="lead">
		Our highest customer rated cleanser for all skin types. Removes environmental pollutants, excess oil and makeup, and hydrates and refreshes skin.
		This foaming, soap-free facial cleanser gently purges dirt, makeup, and environmental pollutants from the skin as it hydrates and refreshes.
	</p>
	<ul class="factsheet-list">
		<li>Appropriate for: All skin types</li>
		<li>Purpose: Skin cleansing and hydration</li>
	</ul>
	<h3 class="heading">Use</h3>
	<h5>When to apply:</h5>
	<p>
		First product used in your morning and evening skin care routine
	</p>
	<h5>Where to apply:</h5>
	<p>Face (neck and chest if desired)</p>
	<h5>How to apply:</h5>
	<p>Moisten skin with lukewarm water. Lather cleanser into hands and massage into skin. Rinse thoroughly.</p>
</div> <!-- Facial Cleanser -->
<div class="post-content">
	<p class="lead"> Provides hydration and enhances benefits of moisturizer. This unique blend of high and low molecular weight hyaluronic acid effectively replenishes skin’s moisture reservoir.</p>
	<ul class="factsheet-list">
		<li>Appropriate for: All skin types</li>
		<li>Purpose: Enhances the benefits of daily moisturizer</li>
		<li>Results: Helps replenish skin’s moisture reservoir</li>
	</ul>
	<h3 class="heading">Use</h3>
	<h5>When to apply:</h5>
	<p>Morning or evening, before applying moisturizer</p>
	<h5>Where to apply:</h5>
	<p>Face (neck and chest if desired)</p>
</div> <!-- Hydrating Complex -->
<div class="post-content">
	<p class="lead">Acne treatment cleanser that helps clear up acne blemishes.  This instant foaming wash with salicylic acid helps remove excess oil and impurities to clear skin and prevent new acne blemishes.</p>
	<ul class="factsheet-list">
		<li>Appropriate for: Acne-prone skin</li>
		<li>Purpose: Daily facial cleansing and acne treatment</li>
		<li></li>
	</ul>
	<h3 class="heading">Use</h3>
	<h5>When to apply:</h5>
	<p>First product used in your morning and evening skin care routine</p>
	<h5>Where to apply:</h5>
	<p>Face (neck and chest if desired)</p>
	<h5>How to apply:</h5>
	<p>Moisten skin with lukewarm water and gently massage into skin. Rinse thoroughly</p>
</div> <!-- Purifying foaming wash -->
<div class="post-content">
	<p class="lead">
		Clinically shown to reduce the appearance of facial redness. A clinical breakthrough that reduces the appearance of visible redness while helping to promote healthy skin.
		Clinical studies show Redness Relief CalmPlex reduces the appearance of acute, UV-induced and chronic visible redness in as early as two weeks, with continued improvement over time.1
		1. Data on file at SkinMedica
	</p>
	<ul class="factsheet-list">
		<li>Appropriate for: All skin types</li>
		<li>Purpose: Moisturizer that helps reduce the appearance of redness</li>
		<li>Results: Clinically shown to reduce visible facial redness with initial results in as early as two weeks*</li>
	</ul>
	<h3 class="heading">Use</h3>
	<h5>When to apply:</h5>
	<p>Morning and evening</p>
	<h5>Where to apply:</h5>
	<p>Face (neck and chest if desired)</p>
</div> <!-- Redness Relief Cream -->
<div class="post-content">
	<p class="lead">Helps moisturize and rejuvenate skin. This rich cream with vitamins A, C and E soothes and hydrates stressed, dry skin.</p>
	<ul class="factsheet-list">
		<li>Appropriate for: Normal to dry skin</li>
		<li>Provides Nourishes and hydrates dry skin</li>
	</ul>
	<h3 class="heading">Use</h3>
	<h5>When to apply:</h5>
	<p>Twice daily after cleansing, toning and applying treatment products</p>
	<h5>Where to apply:</h5>
	<p>Face (neck and chest if desired)</p>
	<h5>How to apply:</h5>
	<p>Apply a small amount into your hand and gently massage into skin</p>
</div> <!-- Rejuvenate Moisturizer -->
<div class="post-content">

	<p class="lead">Removes dirt and impurities. This refreshing, non-drying toner gently exfoliates dead skin cells and refines pores with mildly exfoliating alpha-hydroxy acids.</p>

	<ul class="factsheet-list">
		<li>Appropriate for: Normal to dry skin</li>
		<li>Purpose: Gently refines skin and restores PH balance</li>
		<li></li>
	</ul>
	<h3 class="heading">Use</h3>
	<h5>When to apply:</h5>
	<p>Apply following cleansing</p>
	<h5>Where to apply:</h5>
	<p>Face and neck</p>
	<h5>How to apply:</h5>
	<p>Apply toner to a cotton ball and gently smooth over face and neck</p>
</div><!-- Rejuvenate Toner -->
<div class="post-content">
	<p class="lead">
		Reduces the appearance of fine lines, wrinkles and puffiness around the eyes.
		This luxurious eye treatment cream formulated with the patented growth factor blend TNS®, peptides,
		high concentrations of antioxidant vitamins C and E and hyaluronic acid helps to increase firmness, improve the appearance of fine lines and wrinkles and minimize dark circles.
	</p>
	<ul class="factsheet-list">
		<li>Appropriate for: Normal to dry skin</li>
		<li>Purpose: Improve smoothness and hydration around the eyes</li>
		<li>Results: Reduced appearance of fine lines and wrinkles</li>
	</ul>
	<h3 class="heading">Use</h3>
	<h5>When to apply:</h5>
	<p>Morning and evening, after applying treatment products and prior to applying your moisturizer</p>
	<h5>Where to apply:</h5>
	<p>Skin underneath the eyes and around the outside corners of the eye area. Avoid upper eyelid.</p>
</div> <!-- TNS Eye Repair -->
<div class="post-content">

	<p class="lead">
		All-in-one skin rejuvenating treatment improves the appearance of fine lines, wrinkles, skin tone and texture.
		Our unparalleled patented treatment is the first and only rejuvenating serum to combine the benefits of the proprietary growth factor blend,
		TNS Recovery Complex®, with potent antioxidants, peptides and other innovative ingredients to restore a youthful look to skin.
	</p>
	<ul class="factsheet-list">
		<li>Appropriate for: All skin types</li>
		<li>Purpose: All-in-one, rejuvenating serum</li>
		<li>
			Results:
			<ul>
				<li>Reduced appearance of wrinkles</li>
				<li>Enhanced skin texture and tone</li>
				<li>Initial results occurred in 30 days with optimal results occurring in 90 days*</li>
			</ul>
		</li>
	</ul>
	<h3 class="heading">Use</h3>
	<h5>When to apply:</h5>
	<p>Morning and evening after cleansing and toning</p>
	<h5>Where to apply:</h5>
	<p>Entire face (neck and chest if desired)</p>

	<article>
		<h3 class="heading">Questionaire Results</h3>
		<ul class="factsheet-list">
			<li> 92% rated their skin as looking healthier and more youthful*</li>
		</ul>
	</article>
</div><!-- TNS Essential Serum Check Closely -->
<div class="post-content">

	<p class="lead">
		Hydrates and helps restore your skin’s moisture barrier and balance.
		This ceramide-rich treatment cream with the patented growth factor blend TNS® and
		peptides goes beyond an ordinary moisturizer to rapidly restore skin’s moisture balance while soothing and hydrating the driest post-procedure and compromised skin.
	</p>
	<ul class="factsheet-list">
		<li>Appropriate for: Dry or post-procedure skin. </li>
		<li>Provides: Hydration, helps restore skin’s moisture balance</li>
		<li></li>
	</ul>
	<h3 class="heading">Use</h3>
	<h5>When to apply:</h5>
	<p>Twice daily after cleansing, toning and applying treatment products</p>
	<h5>Where to apply:</h5>
	<p>Face (neck and chest if desired)</p>
	<h5>How to apply:</h5>
	<p>Apply a small amount into your hand and gently massage into skin</p>
</div><!--TNS Ceramide treatment cream -->
<div class="post-content">
	<p class="lead">
		Gently removes environmental pollutants and cleanses while providing hydration for sensitive, post-procedure skin.
		Gently cleanses the most sensitive, post-procedure skin with a combination of soothing botanical extracts.
	</p>
	<ul class="factsheet-list">
		<li>Appropriate for: Dry, sensitive and post-procedure skin</li>
		<li>Purpose: Skin cleansing and hydration</li>
		<li></li>
	</ul>
	<h3 class="heading">Use</h3>
	<h5>When to apply:</h5>
	<p>First product used in your morning and evening skin care routine</p>
	<h5>Where to apply:</h5>
	<p>Face (neck and chest if desired)</p>
	<h5>How to apply:</h5>
	<p>Moisten skin with lukewarm water then gently massage cleanser over face. Rinse thoroughly.</p>
</div><!-- Sensitive Skin Cleanser -->
<div class="post-content">
	<p class="lead">
		Helps minimize the appearance of scars.
		Supports key aspects of scar formation to aid in healing. Clinically tested to provide earlier and greater overall improvements in the appearance of scars.
	</p>
	<ul class="factsheet-list">
		<li>Appropriate for: All skin types</li>
		<li>Purpose: Diminish the appearance of red or pink scars</li>
		<li>Results: Softens and minimizes the appearance of scars that are red or pink</li>
	</ul>
	<h3 class="heading">Use</h3>
	<h5>When to apply:</h5>
	<p>Morning and evening after the wound has healed. Use should continue until the scar appears flat and white without redness.</p>
	<h5>Where to apply:</h5>
	<p>Directly to scars, on smaller incisions and everyday cuts.</p>
</div><!-- Scar Recovery Gell with Centelline 2 oz -->
<div class="post-content">
	<p class="lead">Helps minimize the appearance of scars.</p>
	<ul class="factsheet-list">
		<li>Appropriate for: All skin types</li>
		<li>Purpose: Diminish the appearance of red or pink scars</li>
		<li>Results: Softens and minimizes the appearance of scars that are red or pink</li>
	</ul>
	<h3 class="heading">Use</h3>
	<h5>When to apply:</h5>
	<p>Morning and evening after the wound has healed. Use should continue until the scar appears flat and white without redness.</p>
	<h5>Where to apply:</h5>
	<p>Directly to scars, on smaller incisions and everyday cuts.</p>
</div><!-- Scar Recovery Gell with Centelline 5 oz -->
<div class="post-content">
	<p class="lead">Renews skin and diminishes the appearance of fine lines.</p>
	<ul class="factsheet-list">
		<li>Appropriate for: All skin types pre-conditioned by using Retinol Complex 0.25% or another retinoid product</li>
		<li>Purpose: Enhance skin tone, texture, and resiliency</li>
		<li>
			Results:
			<ul>
				<li>  Diminished appearance of fine lines and coarse wrinkles</li>
				<li> Enhanced skin tone and texture</li>
			</ul>
		</li>
	</ul>
	<h3 class="heading">Use</h3>
	<h5>When to apply:</h5>
	<p>In the evening after cleansing and toning and before applying your moisturizer. If a retinol product has never been used before, begin twice a week 2-3 days apart, increasing frequency slowly until daily use is tolerated.</p>
	<h5>Where to apply:</h5>
	<p>Face (neck and chest if desired)</p>
</div><!-- Retinol Complex 1.0 -->
<div class="post-content">
	<p class="lead">Renews skin and diminishes the appearance of fine lines.</p>

	<ul class="factsheet-list">
		<li>Appropriate for: All skin types pre-conditioned by using Retinol Complex 0.25% or another retinoid product</li>
		<li>Purpose: Enhance skin tone, texture, and resiliency</li>
		<li>
			Results:
			<ul>
				<li> Diminished appearance of fine lines and coarse wrinkles</li>
				<li> Enhanced skin tone and texture</li>
			</ul>
		</li>
	</ul>
	<h3 class="heading">Use</h3>
	<h5>When to apply:</h5>
	<p>In the evening after cleansing and toning and before applying your moisturizer. If a retinol product has never been used before, begin twice a week 2-3 days apart, increasing frequency slowly until daily use is tolerated.</p>
	<h5>Where to apply:</h5>
	<p>Face (neck and chest if desired)</p>
</div><!-- Retinol Complex 0.5 -->
<div class="post-content">

	<p class="lead">Renews skin and diminishes the appearance of fine lines.</p>
	<ul class="factsheet-list">
		<li>Appropriate for: All skin types</li>
		<li>Purpose: Enhance skin tone, texture, and resiliency</li>
		<li>
			Results:
			<ul>
				<li>  Diminished appearance of fine lines and coarse wrinkles</li>
				<li> Enhanced skin tone and texture</li>
			</ul>
		</li>
	</ul>
	<h3 class="heading">Use</h3>
	<h5>When to apply:</h5>
	<p>In the evening after cleansing and toning and before applying your moisturizer. If a retinol product has never been used before, begin twice a week 2-3 days apart, increasing frequency slowly until daily use is tolerated.</p>
	<h5>Where to apply:</h5>
	<p>Face (neck and chest if desired)</p>
</div><!-- Retinol Complex 0.25 -->
<div class="post-content">
	<p class="lead">
		Improves the appearance of skin tone and texture with vitamins C &amp; E.
		This silky, fragrance-free formula with stabilized vitamins C and E provides extraordinary antioxidant protection, helping to improve the appearance of skin tone, texture and firmness.
	</p>
	<ul class="factsheet-list">
		<li>Appropriate for: All skin types</li>
		<li>Purpose: Improve the appearance of skin tone and texture</li>
		<li>Results: Enhanced skin brightness for a more youthful appearance</li>
	</ul>
	<h3 class="heading">Use</h3>
	<h5>When to apply:</h5>
	<p>Each morning after cleansing, toning and applying TNS Recovery Complex® and before applying moisturizer</p>
	<h5>Where to apply:</h5>
	<p>Face (neck and chest if desired)</p>
</div><!-- Vitamin C E Complex -->
<div class="post-content">
	<p class="lead">
		Smoothes the appearance of skin around the eyes and reduces the appearance of puffiness and fine wrinkles.
		This oil-free serum soothes the delicate skin around the eyes to rapidly reduce the appearance of puffiness and fine lines.
	</p>
	<ul class="factsheet-list">
		<li>Appropriate for: All skin types</li>
		<li>Purpose: Enhances skin texture around the eyes</li>
		<li>Results: Smoother looking skin around the eyes. Reduced appearance of puffiness</li>
	</ul>
	<h3 class="heading">Use</h3>
	<h5>When to apply:</h5>
	<p>Morning and evening</p>
	<h5>Where to apply:</h5>
	<p>Skin adjacent to and beneath the eye. Avoid upper eyelids.</p>
</div><!-- Uplifting Eye Serum -->
<div class="post-content">
	<p class="lead">
		Lightweight noncomedogenic moisturizer.
		This light, oil-free formula effectively hydrates skin while antioxidant vitamins C and E protect against free radical damage.
	</p>
	<ul class="factsheet-list">
		<li>Appropriate for: Normal to oily skin</li>
		<li>Provides Facial hydration and improves the overall appearance of skin condition</li>
	</ul>
	<h3 class="heading">Use</h3>
	<h5>When to apply:</h5>
	<p>Twice daily after cleansing, toning and applying treatment products</p>
	<h5>Where to apply:</h5>
	<p>Face (neck and chest if desired)</p>
	<h5>How to apply:</h5>
	<p>Apply a small amount into your hand and gently massage into skin</p>
</div><!-- Ultra Sheer Moisturizer -->
<div class="post-content">
	<p class="lead">
		Hydrates your skin while providing UVA and UVB protection to help prevent sun damage.
		This daily moisturizer offers the ultimate combination of hydration and anti-aging protection.
		Enriched with the patented growth factor blend TNS®, and antioxidants, this formula guards against the
		destructive effects of free radical damage while also providing broad spectrum protection from UVA/UVB rays.
	</p>
	<ul class="factsheet-list">
		<li>Appropriate for: Normal or combination skin</li>
		<li>Purpose: Long lasting hydration and broad spectrum UVA/UVB protection</li>
	</ul>
	<h3 class="heading">Use</h3>
	<h5>When to apply:</h5>
	<p>In the morning after cleansing, toning and application of treatment products</p>
	<h5>Where to apply:</h5>
	<p>Face, neck and other sun exposed areas</p>
	<h5>How to apply:</h5>
	<p>Apply liberally to face (neck and chest if desired) in the morning or before sun exposure. Reapply as needed. Children under 6 months of age: ask a doctor.</p>
</div><!-- TNS Ultimate Daily Moisturizer SPF Sunscreen -->
<div class="post-content">
	<p class="lead">
		Clinically shown to reduce the appearance of skin discoloration and improve the appearance of fine lines and wrinkles.
		This unparalleled patented treatment gel, using the highest level of a combination of growth factors, will enhance skin tone and help minimize the appearance of fine lines and wrinkles.
	</p>
	<ul class="factsheet-list">
		<li>Appropriate for: All skin types</li>
		<li>Purpose: Rejuvenate skin</li>
		<li>
			Results:
			<ul>
				<li> Reduced appearance of fine lines and wrinkles</li>
				<li> Enhanced skin texture and tone</li>
			</ul>
		</li>
	</ul>
	<h3 class="heading">Use</h3>
	<h5>When to apply:</h5>
	<p>Morning and evening after cleansing and toning</p>
	<h5>Where to apply:</h5>
	<p>Face (neck and chest if desired)</p>
</div><!-- TNS Recovery Complex -->
<div class="post-content">

	<p class="lead">Simple, 2-product system enhances natural lip color and volume.</p>
	<p>
		TNS Lip Renewal -
		This treatment cream combines the rejuvenating strength of the patented growth factor blend TNS® and collagen-filling spheres to enhance the fullness of the lips and smooth surface imperfections.
	</p>
	<p>
		Lip Plumper -
		This clear plumping gloss with niacin enhances the natural color of lips.
	</p>
	<ul class="factsheet-list">
		<li>Appropriate for: All skin types</li>
		<li>Purpose: Enhance lip texture and condition</li>
		<li>Results: Enhances the fullness of lips</li>
	</ul>
	<h3 class="heading">Use</h3>
	<h5>When to apply:</h5>
	<p>As needed throughout the day</p>
	<h5>Where to apply:</h5>
	<p>
		TNS Lip Renewal® – on lips and around lip contour<br />
		Lip Plumper – lip area only
	</p>

	<h5>System Includes:</h5>
	<p>
		TNS Lip Renewal® (Net Wt. 1.5 g / 0.05 Oz.) and Lip Plumper (Net Wt. 1.5 g / 0.05 Oz.)
	</p>

</div><!-- TNS Lip Plump System                 Check after posting -->
<div class="post-content">
	<p class="lead">
		Reduces the appearance of fine lines, wrinkles and dark circles around the eyes and improves skin tone and texture.
		This lightweight eye cream with the patented growth factor blend TNS®, peptides and chrysin helps brighten the skin around the eyes and minimize the appearance of fine lines, wrinkles and dark circles.
	</p>
	<ul class="factsheet-list">
		<li>Appropriate for: Normal or combination skin</li>
		<li>Purpose: Enhance tone and texture of skin around the eyes</li>
		<li>Results: Reduced appearance of fine lines, wrinkles and dark circles around the eyes</li>
	</ul>
	<h3 class="heading">Use</h3>
	<h5>When to apply:</h5>
	<p>Morning and evening after cleansing, toning and applying treatment products and prior to applying your moisturizer</p>
	<h5>Where to apply:</h5>
	<p>Skin underneath the eyes and around the outside corners of the eye area. Avoid upper eyelids.</p>
</div><!-- TNS Illuminating Eye Cream -->
<!-- SkinMedica End-->
<!-- EltaMD Start -->

<ul class="factsheet-list">
	<li>Unique crème that melts quickly and spreads easily</li>
	<li>Formulated for night-time use</li>
	<li>Soothes irritation, redness and flaking sometimes caused by medications such as Retin-A®</li>
	<li>Safe to use around the eyes</li>
	<li>Non-comedogenic, sensitivity and fragrance free</li>
</ul><!-- EltaMD Intense Moisturizer-->

<ul class="factsheet-list">
	<li>SPF 46 with 9% Micronized Zinc Oxide and high-purity Niacinamide (vitamin B3)</li>
	<li>Calms and protects sensitive, acne-prone skin</li>
	<li>Very lightweight, oil-free formula leaves no residue on skin’s surface</li>
	<li>Use alone or under makeup every day</li>
</ul><!-- EltaMD UV Clear 46 SPF -->

<ul class="factsheet-list">
	<li>SPF 40 with 9% Zinc Oxide</li>
	<li>Light, sheer daily facial moisturizer with UV protection for the face, either alone or under makeup</li>
	<li>Glides on easily and absorbs quickly into the skin</li>
	<li>Hyaluronic acid to increase skin smoothness, softness and decrease wrinkles</li>
	<li>Paraben-Free</li>
</ul><!-- EltaMD UV Daily 40 SPF -->

<ul class="factsheet-list">
	<li>SPF 41 with 9% Zinc Oxide &amp; 7% Titanium Dioxide</li>
	<li>Chemical Free-natural mineral UV protection</li>
	<li>Oil-free, Paraben-free and fragrance free</li>
	<li>Water Resistant</li>
	<li>Ideal for very sensitive skin and children</li>
	<li>Absorbs quickly and can be used on the face and body</li>
	<li>Antioxidants to neutralize free radicals to help prevent sun damage</li>
	<li>Lightly tinted</li>
</ul><!-- EltaMD UV Physical 41 SPF -->

<ul class="factsheet-list">
	<li>SPF 45 with 9% Zinc Oxide</li>
	<li>Great for all skin types, especially oily or acne-prone skin</li>
	<li>Specifically formulated to provide oil-free protection for the face, either alone or under makeup</li>
	<li>Light sheer formula that spreads quickly and leaves no residue on skin’s surface</li>
</ul><!-- EltaMD UV Shield 45 SPF -->
<!-- EltaMD End-->
<!-- Revita Lash Start -->
<div class="post-content">

	<p class="lead">
		RevitaLash is a unique eyelash conditioner that will help you achieve the beautiful look of longer, thicker, and fuller eyelashes.
		Like liquid eyeliner, RevitaLash is simply applied once a day. Within three to ten weeks, your own natural eyelashes will look longer, thicker, fuller, and BEAUTIFUL!
	</p>
</div>
<!-- Revita Lash End-->
<!-- No Product Description Given for Clarisonic Mia -->