<div class="breadcrumb-wrap visible-md visible-lg">
	<div class="container">
		<img class="pull-right" src="../../../Content/Images/About/About.jpg" />
		<!--<section class="related-images pull-right">
			<img src="http://placehold.it/140x110" alt="">
			<img src="http://placehold.it/140x110" alt="">
			<img src="http://placehold.it/140x110" alt="">
			<img src="http://placehold.it/140x110" alt="">
		</section>-->

	</div>
</div>

<div class="container">
	<div class="col-md-12 margin20 wow animated fadeInRight animated" style="visibility: visible; -webkit-animation: fadeInRight;">
		<div class="price-wrap">
			<div class="price-title">
				SITE MAP
			</div><!--price title-->
			<section ng-repeat="page in Pages">
				<a href="{{page.Url}}">
					<div class="price-price popular">
						{{page.Name}}
						<span>LeBeau Visage Med Spa</span>
					</div><!--price price-->
				</a>
				<div class="price-title">
				</div><!--price title-->
			</section>
		</div><!--price-wrap-->
	</div>
</div>