<div class="breadcrumb-wrap visible-md visible-lg">
	<div class="container">
		<img class="pull-right header-img" src="../../../Content/Images/About/About.png" />
	</div>
</div>
<section class="page-content">
	<div class="divide50"></div>
	<div class="container">
		<div class="col-md-12 margin20 wow animated fadeInRight animated" style="visibility: visible; -webkit-animation: fadeInRight;">
			<div class="price-wrap">
				<div class="price-title">
					SITE MAP
				</div><!--price title-->
				<section ng-repeat="page in Pages">
					<a href="{{page.Url}}">
						<div class="price-price box-name">
							{{page.Name}}
							<span>LeBeau Visage Med Spa</span>
						</div><!--price price-->
					</a>
					<div class="price-title">
					</div><!--price title-->
				</section>
			</div><!--price-wrap-->
		</div>
	</div>
</section>
