<div class="breadcrumb-wrap">
	<div class="container">
		<div class="row">
			<div class="col-sm-6">
				<h4>About Us</h4>
			</div>
			<div class="col-sm-6 hidden-xs text-right">
				<ol class="breadcrumb">
					<li><a href="#/">Le Beau Visage</a></li>
					<li>Team</li>
				</ol>
			</div>
		</div>
	</div>
</div>

<div class="divide80"></div>
<div class="container">
	<div class="row">
		<div class="col-md-3">

			<div class="sidebar-box margin40">
				<h4 class="visible-md visible-lg">Menu</h4>
				<ul class="list-unstyled cat-list visible-md visible-lg">
					<li><a href="#/About">Dr. Riehs</a><i class="fa fa-angle-right"></i></li>
					<li> <a href="#/Testimonials">Testimonials</a> <i class="fa fa-angle-right"></i></li>
					<li> <a href="#/Locations">Locations</a> <i class="fa fa-angle-right"></i></li>
					<li> <a href="#/Videos">Videos</a> <i class="fa fa-angle-right"></i></li>
				</ul>
				<div class="dr-menu visible-sm visible-xs {{YouTubeMenu}}">
					<div class="dr-trigger" ng-click="MenuTrigger()">
						<span class="dr-icon dr-icon-settings"></span>
						<a class="dr-label">Menu</a>
					</div>
					<div ng-show="open" class="subNav">
						<ul>
							<li><a href="#/About">Dr. Riehs</a><i class="fa fa-angle-right"></i></li>
							<li><a href="#/Testimonials">Testimonials</a><i class="fa fa-angle-right"></i></li>
							<li><a href="#/Locations">Locations</a><i class="fa fa-angle-right"></i></li>
							<li><a href="#/Videos">Videos</a><i class="fa fa-angle-right"></i></li>
						</ul>
					</div>
				</div>
			</div><!--sidebar-box-->

		</div>

		<div class="col-md-8 col-md-offset-1">
			<div class="row">
				<div class="col-md-6 margin20">
					<h3 class="heading">Little About our team</h3>
					<p>
						Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni. Dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum
					</p>
				</div>
				<div class="col-md-6">
					<img src="../../Images/mother.jpg" class="img-responsive" alt="" />
				</div>
			</div><!--about intro-->
			<div class="divide60"></div>
			<div class="row">

				<div class="col-md-12 margin20">
					<h3 class="heading">Meet the Team</h3>
				</div>
			</div>
			<div class="row">
				<div class="col-md-3 margin20">
					<div class="team-wrap">
						<img src="../../Images/winter.jpg" class="img-responsive" alt="" />
						<h4>Jason M. Riehs</h4>
						<span>Physician</span>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer lorem quam, adipiscing condimentum tristique vel, eleifend sed turpis
						</p>
						<ul class="list-inline social-1">
							<li><a href="mailto:"><i class="fa fa-envelope"></i></a></li>

						</ul><!--social-->
					</div><!--team-wrap-->
				</div><!--team col-->
				<div class="col-md-3 margin20">
					<div class="team-wrap">
						<img src="../../Images/winter.jpg" class="img-responsive" alt="" />
						<h4>Rachel L. Oteo</h4>
						<span>Esthetician</span>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer lorem quam, adipiscing condimentum tristique vel, eleifend sed turpis
						</p>
						<ul class="list-inline social-1">
                            <li><a href="mailto:"><i class="fa fa-envelope"></i></a></li>
                        </ul><!--social-->
					</div><!--team-wrap-->
				</div><!--team col-->
				<div class="col-md-3 margin20">
					<div class="team-wrap">
						<img src="../../Images/winter.jpg" class="img-responsive" alt="" />
                        <h4>Jennifer Manning</h4>
                        <span>Esthetician</span>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer lorem quam, adipiscing condimentum tristique vel, eleifend sed turpis
						</p>
						<ul class="list-inline social-1">
                            <li><a href="mailto:"><i class="fa fa-envelope"></i></a></li>
                        </ul><!--social-->
					</div><!--team-wrap-->
				</div><!--team col-->
				<div class="col-md-3 margin20">
					<div class="team-wrap">
						<img src="../../Images/winter.jpg" class="img-responsive" alt="" />
                        <h4>Jenny Rector</h4>
                        <span>Esthetician</span>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer lorem quam, adipiscing condimentum tristique vel, eleifend sed turpis
						</p>
                        <ul class="list-inline social-1">
                            <li><a href="mailto:"><i class="fa fa-envelope"></i></a></li>
                        </ul><!--social-->
					</div><!--team-wrap-->
				</div><!--team col-->
			</div>
            <div class="row">
                <div class="col-md-3 margin20">
                    <div class="team-wrap">
                        <img src="../../Images/winter.jpg" class="img-responsive" alt="" />
                        <h4>Rachel Gonzalez</h4>
                        <span>Medical Assistant</span>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer lorem quam, adipiscing condimentum tristique vel, eleifend sed turpis
                        </p>
                        <ul class="list-inline social-1">
                            <li><a href="mailto:"><i class="fa fa-envelope"></i></a></li>
                        </ul><!--social-->
                    </div><!--team-wrap-->
                </div><!--team col-->
                <div class="col-md-3 margin20">
                    <div class="team-wrap">
                        <img src="../../Images/winter.jpg" class="img-responsive" alt="" />
                        <h4>Jordan Gilbreath</h4>
                        <span>Medical Assistant</span>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer lorem quam, adipiscing condimentum tristique vel, eleifend sed turpis
                        </p>
                        <ul class="list-inline social-1">
                            <li><a href="mailto:"><i class="fa fa-envelope"></i></a></li>
                        </ul><!--social-->
                    </div><!--team-wrap-->
                </div><!--team col-->
                <div class="col-md-3 margin20">
                    <div class="team-wrap">
                        <img src="../../Images/winter.jpg" class="img-responsive" alt="" />
                        <h4>Carla</h4>
                        <span>Registered Nurse</span>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer lorem quam, adipiscing condimentum tristique vel, eleifend sed turpis
                        </p>
                        <ul class="list-inline social-1">
                            <li><a href="mailto:"><i class="fa fa-envelope"></i></a></li>
                        </ul><!--social-->
                    </div><!--team-wrap-->
                </div><!--team col-->
                <div class="col-md-3 margin20">
                    <div class="team-wrap">
                        <img src="../../Images/winter.jpg" class="img-responsive" alt="" />
                        <h4>Susanna</h4>
                        <span>Perm. Cosmetics</span>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer lorem quam, adipiscing condimentum tristique vel, eleifend sed turpis
                        </p>
                        <ul class="list-inline social-1">
                            <li><a href="mailto:"><i class="fa fa-envelope"></i></a></li>
                        </ul><!--social-->
                    </div><!--team-wrap-->
                </div><!--team col-->
            </div>
            <div class="row">
                <div class="col-md-3 margin20">
                    <div class="team-wrap">
                        <img src="../../Images/winter.jpg" class="img-responsive" alt="" />
                        <h4>Reid</h4>
                        <span>Front Office</span>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer lorem quam, adipiscing condimentum tristique vel, eleifend sed turpis
                        </p>
                        <ul class="list-inline social-1">
                            <li><a href="mailto:"><i class="fa fa-envelope"></i></a></li>
                        </ul><!--social-->
                    </div><!--team-wrap-->
                </div><!--team col-->
                <div class="col-md-3 margin20">
                    <div class="team-wrap">
                        <img src="../../Images/winter.jpg" class="img-responsive" alt="" />
                        <h4>Thompson</h4>
                        <span>Front Office</span>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer lorem quam, adipiscing condimentum tristique vel, eleifend sed turpis
                        </p>
                        <ul class="list-inline social-1">
                            <li><a href="mailto:"><i class="fa fa-envelope"></i></a></li>
                        </ul><!--social-->
                    </div><!--team-wrap-->
                </div><!--team col-->
            </div>

			<div class="divide30"></div>

		</div>
	</div>
</div>
