<div class="breadcrumb-wrap">
	<div class="container">
		<div class="row">
			<div class="col-sm-6">
				<h4>Testimonials</h4>
			</div>
			<div class="col-sm-6 hidden-xs text-right">
				<ol class="breadcrumb">
					<li><a href="#/">Le Beau Visage</a></li>
					<li>Testimonials</li>
				</ol>
			</div>
		</div>
	</div>
</div>

<div class="divide80"></div>
<div class="container">
	<div class="row">
		<div class="col-md-3">

			<div class="sidebar-box margin40">
				<h4 class="visible-md visible-lg">Menu</h4>
				<ul class="list-unstyled cat-list visible-md visible-lg">
					<li> <a href="#/Team">Meet the Team</a></li>
					<li> <a href="#/Videos">Videos</a></li>
					<li> <a href="#/Locations">Locations</a></li>
				</ul>
				<ul class="portfolio-filters text-center cat-list visible-sm visible-xs">
					<li class="filter"><a href="#/Team">Meet the Team</a></li>
					<li class="filter"><a href="#/Videos">Videos</a></li>
					<li class="filter"><a href="#/Locations">Locations</a></li>
				</ul>
				<div class="dr-menu visible-sm visible-xs {{YouTubeMenu}}">
					<div class="dr-trigger" ng-click="MenuTrigger()">
						<span class="dr-icon dr-icon-settings"></span>
						<a class="dr-label">Menu</a>
					</div>
					<div ng-show="open" class="subNav">
						<ul>
							<li class="filter"><a href="#/Team">Meet the Team</a><i class="fa fa-angle-right"></i></li>
							<li class="filter"><a href="#/Videos">Videos</a><i class="fa fa-angle-right"></i></li>
							<li class="filter"><a href="#/Locations">Locations</a><i class="fa fa-angle-right"></i></li>
						</ul>
					</div>
				</div>
			</div><!--sidebar-box-->


		</div>

		<div class="col-md-8 col-md-offset-1">
			<div class="col-md-12">
				<div class="center-heading">
					<h2>Testimonials</h2>
					<span class="center-line"></span>
					<p class="lead"><i class="fa fa-quote-left"></i> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer lorem quam, adipiscing condimentum tristique vel, eleifend sed turpis <i class="fa fa-quote-right"></i></p>
					<p class="lead">Suzy O.</p>
				</div><!--center-heading-->
				<div class="divide40"></div>
				<div class="center-heading">
					<span class="center-line"></span>
					<p class="lead"><i class="fa fa-quote-left"></i> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer lorem quam, adipiscing condimentum tristique vel, eleifend sed turpis <i class="fa fa-quote-right"></i></p>
					<p class="lead">Magaret O.</p>
				</div><!--center-heading-->
				<div class="divide40"></div>
				<div class="center-heading">
					<span class="center-line"></span>
					<p class="lead"><i class="fa fa-quote-left"></i> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer lorem quam, adipiscing condimentum tristique vel, eleifend sed turpis <i class="fa fa-quote-right"></i></p>
					<p class="lead">Richard O.</p>
				</div><!--center-heading-->
			</div>
		</div>
	</div>
</div>
