<div class="breadcrumb-wrap">
	<div class="container">
		<div class="row">
			<div class="col-sm-6">
				<h4>About Us</h4>
			</div>
			<div class="col-sm-6 hidden-xs text-right">
				<ol class="breadcrumb">
					<li><a href="#/">Le Beau Visage</a></li>
					<li>Videos</li>
				</ol>
			</div>
		</div>
	</div>
</div>

<div class="divide80"></div>
<div class="container">
	<div class="row">
		<div class="col-md-3">

			<div class="sidebar-box margin40">
				<h4>Categories</h4>
                <ul class="list-unstyled cat-list visible-md visible-lg">
                    <li><a href="#/About">Dr. Riehs</a><i class="fa fa-angle-right"></i></li>
                    <li> <a href="#/Team">Meet the Team</a> <i class="fa fa-angle-right"></i></li>
                    <li> <a href="#/Testimonials">Testimonials</a> <i class="fa fa-angle-right"></i></li>
                    <li> <a href="#/Locations">Locations</a> <i class="fa fa-angle-right"></i></li>
                </ul>
				<ul class="portfolio-filters text-center cat-list visible-sm visible-xs">
                    <li class="filter"><a href="#/About">Dr. Riehs</a></li>
					<li class="filter"><a href="#/Team">Meet the Team</a></li>
					<li class="filter"><a href="#/Testimonials">Testimonials</a></li>
					<li class="filter"><a href="#/Locations">Locations</a></li>
				</ul></div><!--sidebar-box-->

		</div>

		<div class="col-md-8 col-md-offset-1">
			
		</div>
	</div>
</div>

