$backgroundLightBrown: #8c7556;
$backgroundDarkBrown: #291c0b;

//Green Pallette https://dribbble.com/shots/1896074-Jump-Frog-Jump?list=shots&sort=popular&timeframe=now&offset=16
$dribbble-DarkGreen: #172808;
$dribbble-MidGreen: #a3cc37;
$dribbble-MidDarkGreen: #60922e;
$dribbble-MidLightGreen: #c7e453;
$dribbble-LightGreen: #e4f570;




