$backgroundLightBrown: #8c7556;
$backgroundDarkBrown: #291c0b;

//Green Pallette https://dribbble.com/shots/1896074-Jump-Frog-Jump?list=shots&sort=popular&timeframe=now&offset=16
$dribbble-DarkGreen: #172808;
$dribbble-MidGreen: #a3cc37;
$dribbble-MidDarkGreen: #60922e;
$dribbble-MidLightGreen: #c7e453;
$dribbble-LightGreen: #e4f570;

$summit-Green: #949549;
$summit-BlueGrey: #535355;
$summit-LightTan: #f1f0dc;
$summit-Grey: #a5a59d;
$summit-lightGrey: #cfcfc4;

$ios-green: #a7a64b;
$ios-drk-grey: #242423;
$ios-white: #f6f6f4;
$ios-md-grey: #5e564e;
$ios-light-green: #bbb53e;
$ios-light-grey: #b2aea1;
$ios-md-green: #7b826e;
$ios-red-splash: #cc5339;

$coolors-green: #289c4e;
$coolors-dark: #090909;
$coolors-blue: #3d7ba0;
$coolors-light-blue: #afcee0;
$coolors-hunter-green: #4b5043;





