/* liScroll styles */

.tickercontainer { /* the outer div with the black border */
	background: transparent;
	height: 27px; 
	padding: 0;
	overflow: hidden; 
	margin-left: auto;
	margin-right: auto;
	width: 70%;
}
.tickercontainer .mask { /* that serves as a mask. so you get a sort of padding both left and right */
	position: relative;
	left: 10px;
	top: 8px;
	width: 718px;
	overflow: hidden;
}
ul.newsticker { /* that's your list */
	position: relative;
	left: 750px;
	font: bold 10px Verdana;
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: inline;

}
ul.newsticker li {
	float: left; /* important: display inline gives incorrect results when you check for elem's width */
	margin: 0;
	padding: 0;
}
ul.newsticker a {
	white-space: nowrap;
	padding: 0;
	color: #281b0b;
	font: bold 13px Arial;
	margin: 0 50px 0 0;
} 
ul.newsticker span {
	margin: 0 10px 0 0;
} 

.mask {
	padding: 5px;
}