@import "Colors";
//Ugly I know Please change it
.side-nav {
	margin-top: 40px;

	li a {
		color: #2b2a2a;
		font-weight: bold;
		font-family:'Raleway', sans-serif;

		&:hover {
			background-color: #ffffff;
		}
	} 
	
}

.cart-items-list {
	height: 400px;
	overflow: auto;
}