<h1>Post Care</h1>

<h3 class="heading">About Post Care</h3>
<p>
	Bacon ipsum dolor amet pork belly fatback pork tri-tip andouille tongue spare ribs rump biltong shankle beef hamburger meatball. Doner leberkas meatball cupim corned beef filet mignon short loin tenderloin turducken t-bone jerky. Porchetta hamburger capicola, strip steak jowl frankfurter meatloaf pig pork loin shankle bacon flank. Meatloaf sirloin short ribs hamburger, alcatra pork loin picanha bresaola ribeye shoulder drumstick tenderloin. Shank jowl cupim ham hock.

</p>

<ul class="list-unstyled cat-list visible-md visible-lg">
	<li> <a ng-click="SetTemplate('TCAPost')">TCA Peel </a></li>
	<li> <a ng-click="SetTemplate('SclPost')">Sclerotherapy</a></li>
	<li> <a ng-click="SetTemplate('MesoPost')">Mesotherapy (Lipodissolve)</a></li>
	<li> <a ng-click="SetTemplate('LSHPost')">Laser Hair Reduction</a></li>
	<li> <a ng-click="SetTemplate('IPLPost')">IPL-Photofacial</a></li>
</ul>

<div class="divide80"></div>
<div class="divide80"></div>