<h1>Post Care</h1>

<h3 class="heading"><a ng-click="SetTemplate('TCAPost')">TCA Peel</a></h3>
<p>
    Bacon ipsum dolor amet pork belly fatback pork tri-tip andouille tongue spare ribs rump biltong shankle beef hamburger meatball. Doner leberkas meatball cupim corned beef filet mignon short loin tenderloin turducken t-bone jerky. Porchetta hamburger capicola, strip steak jowl frankfurter meatloaf pig pork loin shankle bacon flank. Meatloaf sirloin short ribs hamburger, alcatra pork loin picanha bresaola ribeye shoulder drumstick tenderloin. Shank jowl cupim ham hock.

</p>
<h3 class="heading"><a ng-click="SetTemplate('SclPost')">Sclerotherapy</a></h3>
<p>Bacon ipsum dolor amet pork belly fatback pork tri-tip andouille tongue spare ribs rump biltong shankle beef hamburger meatball. Doner leberkas meatball cupim corned beef filet mignon short loin tenderloin turducken t-bone jerky. Porchetta hamburger capicola, strip steak jowl frankfurter meatloaf pig pork loin shankle bacon flank. Meatloaf sirloin short ribs hamburger, alcatra pork loin picanha bresaola ribeye shoulder drumstick tenderloin. Shank jowl cupim ham hock.</p>

<h3 class="heading"><a ng-click="SetTemplate('Meso')">Mesotherapy</a></h3>
<p>Bacon ipsum dolor amet pork belly fatback pork tri-tip andouille tongue spare ribs rump biltong shankle beef hamburger meatball. Doner leberkas meatball cupim corned beef filet mignon short loin tenderloin turducken t-bone jerky. Porchetta hamburger capicola, strip steak jowl frankfurter meatloaf pig pork loin shankle bacon flank. Meatloaf sirloin short ribs hamburger, alcatra pork loin picanha bresaola ribeye shoulder drumstick tenderloin. Shank jowl cupim ham hock.</p>

<h3 class="heading"><a ng-click="SetTemplate('LSHPost')">Laser Hair Reduction</a></h3>
<p>Bacon ipsum dolor amet pork belly fatback pork tri-tip andouille tongue spare ribs rump biltong shankle beef hamburger meatball. Doner leberkas meatball cupim corned beef filet mignon short loin tenderloin turducken t-bone jerky. Porchetta hamburger capicola, strip steak jowl frankfurter meatloaf pig pork loin shankle bacon flank. Meatloaf sirloin short ribs hamburger, alcatra pork loin picanha bresaola ribeye shoulder drumstick tenderloin. Shank jowl cupim ham hock.</p>

<h3 class="heading"><a ng-click="SetTemplate('IPLPost')">IPL-Photofacial</a></h3>
<p>Bacon ipsum dolor amet pork belly fatback pork tri-tip andouille tongue spare ribs rump biltong shankle beef hamburger meatball. Doner leberkas meatball cupim corned beef filet mignon short loin tenderloin turducken t-bone jerky. Porchetta hamburger capicola, strip steak jowl frankfurter meatloaf pig pork loin shankle bacon flank. Meatloaf sirloin short ribs hamburger, alcatra pork loin picanha bresaola ribeye shoulder drumstick tenderloin. Shank jowl cupim ham hock.</p>

<div class="divide80"></div>