<div class="entry-content">
	<h1>IPL-Photofacial Treatment Post Care</h1>
    <h4>What to expect after procedure:</h4>
	<ul>
		<li>Immediately after treatment, there should be mild temporary redness at the treatment site, which may last up to 2 hours or longer. Soothe the redness or heat with cold compresses after the treatment. Continue to apply cold compresses until heat in the skin has resolved.</li>
		<li>Sun spots and age spot WILL DARKEN BEFORE they begin to “pepper”. DO NOT pick/rub these spot; they will desquamate (lift and fall off) on their own.</li>
		<li>Cleanse the area with mild soap and water. DO NOT scrub.</li>
		<li>DO NOT have chemical peels performed on the treated area for 7-10 days.</li>
		<li>Anticipate some dryness and slight sloughing. The application of facial lotion/moisturizer is recommended.</li>
		<li>Continue skincare regimen as directed by estheticians at our Frisco, Texas location. Apply additional moisturizer as needed.</li>
		<li>A sunscreen (factor 30 or higher) must be applied to treated area on a regular daily basis; regardless of the weather conditions.</li>
		<li>Direct sunlight/tanning beds must be avoided before/during/after treatment.</li>
		<li>Make-up can be worn immediately after treatment.</li>
		<li>Microdermabrasion should be performed 7-10 days post IPL treatment to assist in the exfoliation process.</li>
	</ul>
</div>