<div class="entry-content">
    <h1>Laser Hair Removal Post Care</h1>
    <h4>What to expect after procedure:</h4>
	<ul>
		<li>Immediately after treatment, there should be mild temporary redness and follicular swelling at the treatment site, which may last up to 2 hours or longer. The Treated area will feel like mild sunburn.</li>
		<li>Soothe the bumps or redness with cold compress; if needed. Any warmth or redness that persists with Laser hair removal should be continually treated with cold compresses until resolution occurs.</li>
		<li>Treated area may be sensitive one or two days post treatment.</li>
		<li>Cleanse the area with mild soap and water. DO NOT scrub or use harsh soaps/chemicals (i.e. walnut scrubs, glycolic or salicylic acids).</li>
		<li>Aquaphor, a topical ointment, can be used in the even of skin irritation or dryness.</li>
		<li>A sunscreen (factor 30 or higher) must be applied to treated area on a regular daily basis; regardless of the weather conditions.</li>
		<li>Deodorant can be worn immediately following treatment.</li>
		<li>Make-up can be worn immediately following treatment.</li>
		<li>Wait a few days after treatment before shaving treated area.</li>
		<li>Up to two days after treatment, the openings of the hair follicles may secrete tissue liquid. Normal washing and application of skin lotion/moisturizers are recommended.</li>
		<li>Avoid exposing treated area to sunlight or tanning beds. Any darkening of the skin due to sun exposure can impact the effectiveness of any remaining laser hair removal treatments.</li>
		<li>DO NOT tweeze or use any hair removal creams or products with chemicals.</li>
		<li>Ingrown hair follicles are common side effect from the laser hair reduction. An over-the-counter product, TEND SKIN, may be applied to areas where ingrown hair follicles occur.</li>
	</ul>
</div>