<div class="entry-content">
	<h1 style="text-align: center;"><strong>MESOTHERAPY (LIPODISSOLVE) POST CARE:<br>What to do after leaving <br>Le Beau Med Spa in Frisco, TX<br></strong></h1>
	<p>&nbsp;</p>
	<ul>
		<li>If experiencing discomfort, use only non-inflammatory oral medication (i.e. Tylenol).</li>
		<li>Do not apply ice of anti-inflammatory topical agent to treated area.</li>
		<li>Do not perform exercise, massage or strenuous activity for 48 hours.</li>
		<li>Patient is to expect some burning and/or discomfort for 20 minutes after treatment. In rare instances, there may also be some lingering pain experienced for 4 hours (including point discomfort) after treatment. In such cases, the patient is advised to use appropriate medication and contact the physician at our med spa in Frisco, TX.</li>
		<li>Patient should expect swelling over the treated area, especially in the treatment of cellulite, for 48 to 72 hours.</li>
		<li>After treating the lower lid fat pad; patients are required to remain in at least a 60 degree vertical position for 20 minutes, and are also required to sleep on 3 pillows for 2 days. Note: swelling of the eyelids is to be expected for 48 hours. If pain in or around the eye develops, contact the physician immediately.</li>
		<li>After chin and/or jowl treatment; patients should expect swelling for 48 hours. Sleep with a head and chin wrap (i.e. scarf)</li>
		<li><b>REMEMBER:</b> Limit ice packs or anti-inflammatory medications for swelling of the eyes or face!</li>
	</ul>
	<h2>Le Beau Visage Medical Spa | Frisco Weight Loss Center</h2>
</div>