<div class="entry-content">
	<h1 style="text-align: center;"><strong>&nbsp;Sclerotherapy Post Care:<br>What to do after leaving the Le Beau <br>Med Spa in Frisco, TX<br></strong></h1>
	<ul>
		<li>If possible, do not drive yourself home. If you have to drive, do NOT keep your legs and feet still.</li>
		<li>Medical compression hosiery should be worn for the first 48 hours constantly and at least 7-10 days during upright activity. This will minimize the risk of edema, discoloration, pain and venous clots.</li>
		<li>Walk for 30 minutes immediately following the injections.</li>
		<li>Do NOT remove bandages for 12 hours.</li>
		<li>NO hot baths, whirlpools, saunas, or hot compresses for two weeks.</li>
		<li>Avoid certain prescription medications: Tetracycline or minocin, both antibiotics may cause staining of the skin if taken 7-10 days after the treatment. Be sure to ask the doctors or estheticians at your appointment in our Frisco, Texas location.</li>
		<li>Discontinue aspirin or Ibuprofen (Advil, Nuprin, and Aleve) or any other anti-inflammatory medication 48 hours after the treatment.</li>
		<li>Tylenol is permitted for analgesic.</li>
		<li>Avoid standing still. If you must stay in one place, be sure to move your feet and toes frequently.</li>
		<li>Avoid strenuous, high impact activity (i.e. jogging, aerobics, and weight-lifting) for the first 24-48 hours.</li>
		<li>Maintain normal daytime activities (walking, low impact forms of exercise).</li>
		<li>Walk at least one hour a day; the longer, the better. This will prevent the formation of blood clots in the deep veins of the legs.</li>
		<li>If legs become painful after the injection, WALK.</li>
	</ul>
	<h2>McKinney Laser Hair Removal | McKinney, TX</h2>
</div>