<div class="entry-content">
    <h1>TCA Peel Post Care</h1>
    <h4>What to expect after procedure:</h4>
	<h1 style="text-align: center;">&nbsp;<strong>TCA PEEL POST CARE:<br>Skin Care After Your Visit <br>to Le Beau in Frisco, TX<br></strong></h1>
	<p>&nbsp;</p>
	<ul>
		<li>Expect flaking to thin sheets of the superficial skin to begin to peel in the first 2-4 days. Some areas will peel more than others. The over all peeling process can last 7-10 days.</li>
		<li>The underlying skin may turn slightly darker or redder than the surface skin. This is normal.</li>
		<li>Cleanse the area with mild cleanser and warm water during the healing process. DO NOT scrub, use fingertips to cleanse. Remember the treated area will be very sensitive for up to 2 weeks.</li>
		<li>
			Please use products as follows:
			<ul>
				<li>1<sup>st</sup> Cleanse (Skin Medica Sensitive Skin Cleanser or Skin Ceuticals Gentle Cleanser)</li>
				<li>2<sup>nd</sup> Growth Factor ( Skin Medica TNS Recovery or Skin Medica TNS Essential Serum)</li>
				<li>3<sup>rd</sup> Bleaching Cream (Hydroquinone 4%)</li>
				<li>4<sup>rd</sup> Hydrate (Skin Medica Hydrating Complex or Skin Ceuticals Hydrating B5 Gel)</li>
				<li>5<sup>th</sup> Moisturize (Skin Medica TNS Ceramide Treatment Cream)</li>
				<li>6<sup>th</sup> Protect (Elta MD Sunscreen 40, 41, 45, 46 and 50)</li>
			</ul>
		</li>
		<li>Keep the treated area very hydrated and moisturized during the healing process, this will also help reduce the urge to pick.</li>
		<li>Avoid using abrasive exfoliating products.</li>
		<li>Discontinue use of any Retin A, Glycolic, Salicylic, or Lactic products until all peeling and redness are resolved; typically 14 days after your peel.</li>
		<li>Direct sunlight/tanning beds should be avoided before/during/after treatment.</li>
		<li>To avoid the possibility of scarring, DO NOT peel, pick or scratch the shedding skin.</li>
		<li>Make-up application can be resumed one week after the peel, provided there is no crusting or tenderness. (Use clean make-up applicators when applying make-up)</li>
		<li>An Elta MD sunscreen (factor 30 or higher) must be applied to treated area at all times; regardless of the weather conditions.</li>
		<li>You may resume your normal skin care regimen when all peeling and redness from your treatment at our Frisco, TX location are gone.</li>
		<li>Touch-ups or a second peel may be needed after the peel. Wait at least 4-6 weeks before treating with another TCA peel.</li>
		<li>If there is persistent redness in the treated area after the first week, please contact a doctor or esthetician at our office in Frisco, Texas right away.</li>
	</ul>
</div>
